/*======================================== Three Colums on Hover =================================*/
.wrapper-1Rf91z,
.wrapper-1Rf91z .scrollerWrap-1IAIlv {
    transition: 400ms linear;
}

.wrapper-1Rf91z:hover {
    width: 193px;
}

.wrapper-1Rf91z:hover .scrollerWrap-1IAIlv {
    width: 200px;
}

 .scroller-2TZvBN {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
}

/*======================= ICON PLACEMENTS========================*/
.container-2td-dC,.container-1ETFDs,.container-1aNBdK {
    margin: auto;
    margin-top: 8px;
}

.container-2td-dC.unread-2OHH1w:before {
    left: -3px;
    top: 3px;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: var(--solid-main-color);
    transition: 400ms ease;
}

.wrapper-1Rf91z:hover .container-2td-dC:hover.unread-2OHH1w:before {
    border-radius: 20%;
}

.wrapper-1Rf91z:hover .container-2td-dC.selected-nT-gM3:before {
    left: -3px;
    top: 17px;
    width: 56px;
    height: 56px;
    border-radius: 20%;
    background-color: var(--secondary-text-color);
}

/*DM Person Talking Placement*/
.wrapper-1Rf91z .scroller-2TZvBN .dms-rcsEnV {
    width: 100%;
    display: flex;
    margin-right: 0;
    margin-left: 10px;
    flex-flow: row wrap;
}

.wrapper-1Rf91z .scroller-2TZvBN .dms-rcsEnV .container-2td-dC {
    left: -11px;
}


#bd-pub-li {
    width: 70%;
}

#bd-pub-button {
    margin: auto;
    margin-left: 65%;
}

/*====================================================================*/
.guildSeparator-3s64Iy {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.friendsOnline-2JkivW {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.wrapper-1Rf91z .scroller-2TZvBN .dms-rcsEnV {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

/*Separator Line btween guilds and dms // friends section*/
.guildSeparator-3s64Iy {
    position: relative;
    width: 100%;
    margin-top: 10px;
    left: -11px;
}



/*Place the Read All Button Right*/
#RANbutton-frame {
    width: 100%;
}

#RANbutton-frame .guildInner-3DSoA4 {
    padding: 0px 30%;
}
