/*======================================== SERVER GRID 2 COLUMNS =================================*/

.wrapper-1Rf91z {
    width: 135px;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv {
    width: 150px;
}

 .scroller-2TZvBN {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
}

/*======================= ICON PLACEMENTS========================*/

.container-2td-dC,.container-1ETFDs,.container-1aNBdK {
    margin: auto;
    margin-top: 8px;
}

.container-2td-dC.unread::before {
    left: -2px;
    top: 5px;
    z-index: 9000;
}

.container-2td-dC..selected-nT-gM3:before {
    display: none;
}

/*DM Person Talking Placement*/

.wrapper-1Rf91z .scroller-2TZvBN .dms-rcsEnV {
    width: 100%;
    display: flex;
    margin-right: 0;
    margin-left: 10px;
    flex-flow: row wrap;
}

.wrapper-1Rf91z .scroller-2TZvBN .dms-rcsEnV .guild-1EfMGQ {
    left: -11px;
}

#bd-pub-li {
    width: 70%;
}

#bd-pub-button {
    margin: auto;
    margin-left: 65%;
}

/*====================================================================*/

.guildSeparator-3s64Iy {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.friendsOnline-2JkivW {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.wrapper-1Rf91z .scroller-2TZvBN .dms-rcsEnV {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

/*Separator Line btween guilds and dms // friends section*/

.guildSeparator-3s64Iy {
    position: relative;
    width: 100%;
    margin-top: 10px;
}


/*Place the Read All Button Right*/

#RANbutton-frame {
    width: 100%;
}

#RANbutton-frame .guildInner-3DSoA4 {
    padding: 0px 30%;
}
