/*
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #1BA68B;
	--hover-color: #094A3D;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://i.imgur.com/lyXqKEr.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}

/*========= CUSTOMIZABLE USER POPOUT IMAGE ==========*/
/*For Background Customisation*/
.userPopout-3XzG_A::before{
    background-image: url(https://i.imgur.com/PX3cEQT.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(0px);
}

/*========= CUSTOMIZABLE USER PROFILE POPOUT IMAGE ==========*/
/*For Background Customisation*/
.root-SR8cQa::before{
    background-image: url(https://i.imgur.com/uVcOKIr.png) !important; /* IMPORTANT: Link must be HTTPS! */
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(0px);
}

