/*doing cool notification thingy lights sexy glowy circles you know it*/

.guild-1EfMGQ.unread-qLkInr:before {
    border-radius: 27px;
    height: 52.5px;
    margin-top: -26.5px;
    width: 52.5px;
}

.guild-1EfMGQ.selected-ML3OIq:before,
.guild-1EfMGQ.unread-qLkInr:before {
    left: -1.5px;
}

[class*="theme-"] .guild-1EfMGQ.selected-ML3OIq:before {
    left: -2px;
    border-radius: 15px;
    height: 52.5px;
    margin-top: -26.5px;
    width: 52.5px;
}
