/*Scrollbar*/

[class*="scrollerThemed-"] [class*="scroller-"]::-webkit-scrollbar-track-piece {
    background: transparent !important;
    background-clip: padding-box !important;
}

.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece,
.messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece,
.bda-dark .emoji-picker .scroller .emoji-item.selected,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.search-results-wrap .scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    background-color: transparent !important;
    border-color: transparent !important;
    border: 0 solid transparent !important;
    border-radius: 3px;
}