//META{"name":"ClearVision_TwoColumns","description":"You get 2 server rows","author":"lepetitpaco","version":"5"}*//{}

/*======================================== SERVER GRID 2 COLUMNS =================================*/

.guildsWrapper-5TJh6A {
    width: 135px;
}

.guildsWrapper-5TJh6A .scrollerWrap-1IAIlv {
    width: 150px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
}

/*======================= ICON PLACEMENTS========================*/

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ {
    margin: auto;
    margin-top: 8px;
}

/* .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread::before {
    left: -2px;
    top: 5px;
    z-index: 9000;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected:before {
    display: none;
} */

/*DM Person Talking Placement*/

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV {
    width: 100%;
    display: flex;
    margin-right: 0;
    margin-left: 10px;
    flex-flow: row wrap;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ {
    left: -11px;
}

/*====================================================================*/

.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1 {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

/*Number of Online Friends Indicator*/

.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM.da-friendsOnline {
    position: relative;
    width: 75%;
    margin: auto;
    margin-top: 5px;
    /* left: -11px; */
}

.guild-1EfMGQ.selected-ML3OIq:before,
.guild-1EfMGQ.unread-qLkInr:before {
    left: -13px;
}

/*Select the right column of servers*/

.guild-1EfMGQ.selected-ML3OIq:before,
.guild-1EfMGQ.unread-qLkInr:nth-child(even):before {
    left: -5px;
}

/*Select the selected thingy thing and put it back in the middle to cancel the selection of the right column servers*/

[class*="theme-"] .guild-1EfMGQ.selected-ML3OIq:before {
    left: -13px;
}

/*Separator Line btween guilds and dms // friends section*/

.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1 {
    position: relative;
    width: 100%;
    margin-top: 10px;
    left: -11px;
}

/*Guild Separator Zone is too big*/

.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1 {
    position: relative;
    margin: auto;
    width: 100%;
    left: 0;
}

/*Guild Separator Glow cuz we EXTRA 😌*/

.theme-dark .guildSeparator-1X4GQ1:after {
    background: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}

/*Blocked Messages Design*/
.message-group-blocked{
    background: transparent!important;
    border-color: transparent!important;
    box-shadow: 0 0 10px var(--main-color);
    padding: 0 5px;
}

.message-group-blocked:hover{
    box-shadow: 0 0 10px var(--main-color)!important;
}