//META{"name":"cv_Paco","description":"Whatever makes my peepee hard","author":"lepetitpaco","version":"5"}*//{}
/*============== Images & Icon Links ===============*/

/*==================================================================================================================================
NOTES
+ Image LINKS must begin by HTTPS - Upload your image or gif on imgur if you don't know how to have a HTTPS link.

    User Popout Size
    --userPopout-width: auto;
    --userPopout-height: auto;
    Modal Popout Size
    --modalPopout-width: auto;
    --modalPopout-height: auto;

==================================================================================================================================*/

/* IMPORT CSS FROM GITHUB */

@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);
/* Paco's Modifications */

@import url(https://lepetitpaco.github.io/SomeCSS/BasicStyle.css);

/* @import url(https://lepetitpaco.github.io/SomeCSS/BiggerAvatar.css); */

/* @import url(https://lepetitpaco.github.io/SomeCSS/MiscMods.css); */

/* @import url(https://lepetitpaco.github.io/SomeCSS/TwoColumns.css); */

/* @import url(https://lepetitpaco.github.io/SomeCSS/PacoSpecials.css); */

@import url(https://lepetitpaco.github.io/SomeCSS/glow.css);
/*============== CUSTOMIZABLE COLORS ===============*/

:root {
    --main-color: gold;
    --hover-color: rgba(75, 72, 72, 0.267);
    --secondary-text-color: gold;
    /*background*/
    --background-blur: 0px;
    --background-brightness: 30%;
    /*Various Sizes*/
    --emoji-picker-height: 420px;
    /*Speech Bubble*/
    --speech-bubbles-background: rgba(0, 0, 0, .0);
    /*Chat and Voice Color. Default: #72767d*/
    --chat-voice-channels-color: #fff;
    /*Voice chat Selected Color Default: #f6f6f7*/
    --voice-chat-selected-color: var(--main-color);
}

/*CUSTOMIZABLE BACKGROUND IMAGE*/

body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.dark label {
    /* IMPORTANT: Link must be HTTPS! */
    background-image: url(https://i.imgur.com/IocVfQ8.png) !important;
}

/*CUSTOMIZABLE USER POPOUT IMAGE*/

.userPopout-3XzG_A::before {
    background-image: url(https://i.imgur.com/IocVfQ8.png) !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
}

/*CUSTOMIZABLE POPOUT MODAL*/

.root-SR8cQa::before {
    background-image: url(https://i.imgur.com/IocVfQ8.png) !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
}

/*CUSTOMIZABLE HOME ICON*/

.homeIcon-1FoKUJ {
    color: transparent;
    background-image: url(https://orig00.deviantart.net/e375/f/2014/205/6/b/triforce_token_by_blueamnesiac-d7s54ly.png) !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.homeIcon-1FoKUJ:hover {
    background-image: url(https://orig00.deviantart.net/e375/f/2014/205/6/b/triforce_token_by_blueamnesiac-d7s54ly.png);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.homeIcon-1FoKUJ g {
    display: none;
}

[class*="theme-"] .homeIcon-1FoKUJ {
    background-color: transparent;
}

.selected-ML3OIq .guildInner-3DSoA4.da-guildInner .homeIcon-1FoKUJ {
    background-color: transparent;
}

/*=====================================================================================================================================================================*/

/*==========================DISPLAY NONE==========================*/

/*Don't Display of the Blocked Message Line*/

/* .messageGroupBlocked-3wrQQX, */

/*remove CV Version number*/

.accountDetails-3k9g4n::after,
/* Remove unnecessary help texts from status picker */

.helper-2c73HK,
/*Don't display protip cuz I'm not a noob*/

.protip-YaFfgO,
/*Don't display welcome message on server*/

.welcomeMessage-3_Mcht,
/*No Channel Message*/

.wrapper-r-6rrt,
/*Divider Bar - Line between each messages*/

.dividerEnabled-2TTlcf,
/*Line between the chat input and the + button*/

.attachButtonDivider-3Glu60,
/*Scrollbars*/

/* ::-webkit-scrollbar, */

/*Collapsed Voice Channel Still visible users*/

.voiceUserSummaryItem-BDt0rD {
    display: none !important;
}

/*==========================User Popout BIGGER==========================*/

/* .popout-3sVMXz .userPopout-3XzG_A {
    height: var(--userPopout-height);
    width: var(--userPopout-width);
}

.bodyTitle-Y0qMQz {
    margin-bottom: -5%;
}
 */

/*==========================Modal Popout BIGGER==========================*/

/* .root-SR8cQa {
    height: var(--modalPopout-height);
    width: var(--modalPopout-width);
}

.body-3ND3kc {
    height: 100%;
    overflow-y: scroll;
} */