/*CLEAR VISION MODS*/

/* Remove ClearVision start up animations */

.app,
body::after,
#app-mount::before,
#app-mount::after {
    -webkit-animation: none;
    animation: none;
}

/* Make the background really clear & more smooth */

[class*="userPopout-"] [class*="body-"]:not(.bodyAlignCenter-1KzvJk):not(.bodyNormal-2D39hT),
[class*="userPopout-"] [class*="footer-"],
.activity-11LB_k,
[class*="theme-"] [class*="topSectionNormal-"],
[class*="theme-"] .body-3ND3kc,
.topSectionPlaying-1J5E4n,
.topSectionSpotify-1lI0-P,
.guildsWrapper-5TJh6A,
DIV DIV[class*="noWrap"] [class*="channels-"],
DIV DIV.flex-spacer.flex-horizontal,
DIV[class*="titleWrapper"]>DIV[class*="title-"],
DIV DIV.channel-members,
DIV .search-results-wrap,
DIV #friends [class*="noWrap"][class*="headerBar"],
DIV #friends DIV.friends-table,
.topSectionStreaming-1Tpf5X,
.backdrop-1wrmKB,
.headerXbox-3G-4PF,
DIV .chat-3bRxxu,
DIV .content-yTz4x3,
[class*=appMount-] {
    background-color: transparent !important;
}

/*Make guild scroller lose its shadow for smooth backgrounds mod*/

.guildsWrapper-5TJh6A,
/*Line Just under the channel name*/

.header-2o-2hj,
/*Line Above the Chat input*/

.chat form {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*DISCORD PLUGINS MODS*/

/*Reply Bar BBD*/

.reply-list {
    background: rgba(0, 0, 0, .8) !important;
}

.reply-item {
    background: rgba(0, 0, 0, 0) !important;
}

/*bf toolbar BBD*/

.bf-toolbar:before {
    background: rgba(0, 0, 0, .5) !important;
    width: 98%;
    left: 4px;
    border: 0px solid var(--main-color);
    box-shadow: 0 0 12px var(--main-color);
}

/*Transparancy of the clock Plugin*/

#dv-mount {
    background-color: transparent !important;
}