/*=============================================== USER POPOUT =====================================================*/

/*==================RE Coloring==================*/

/*Nickanme*/

.headerName-fajvi9,
/*User @*/

.headerTagUsernameNoNickname-2_H881,
.headerTag-2pZJzA,
.username-3gJmXY,
/*User Discriminator*/

.discriminator,
.discriminator:hover,
/*Creation Date*/

.header-2BwW8b .creationDate,
[class*='topSection'] .creationDate,
.activityProfile-2bJRaP .details-38sfDr,
/*Activity Game and Spotify*/

.activityName-1IaRLn,
.activityUserPopout-2yItg2 .details-38sfDr,
.activityUserPopout-2yItg2 .content-3JfFJh,
.note-3kmerW textarea,
.activityUserPopout-2yItg2 .headerText-1HLrL7,
.activityProfile-2bJRaP .headerText-1HLrL7,
.textRow-19NEd_,
/*Title Fonts*/

.bodyTitle-Y0qMQz,
/*Role Names*/

.roleName-32vpEy {
    color: var(--secondary-text-color) !important;
}

/*Spotify Elements*/

.playButtonWrapper-3-YFAn {
    box-shadow: 0 0 10px #1DB954;
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:disabled {
    background-color: rgba(29, 185, 84, .3);
    border-color: #1DB954;
    box-shadow: 0 0 10px #1DB954;
}

.barInner-3NDaY_ {
    background-color: rgba(29, 185, 84, 0.6)
}

/*======================================================*/

/*Title Fonts*/

.bodyTitle-Y0qMQz {
    height: 36px;
    font-size: 16px;
    font-weight: bold;
}

/*Note Text Font*/

.note-3kmerW textarea {
    height: 36px;
    font-size: 14px;
    font-weight: bold;
}

/*Creation Date // Rolename User Popout*/

.textRow-19NEd_,
.roleName-32vpEy {
    font-weight: bold;
}

/*User Popout BIGGER*/

.popout-3sVMXz .userPopout-3XzG_A {
    /*    height: var(--userPopout-height); */
    width: var(--userPopout-width);
}

.bodyTitle-Y0qMQz {
    margin-bottom: -5%;
}

/*User Popout Footer Border Top*/

[class*="userPopout-"] [class*="footer-"] {
    box-shadow: 0 0 10px var(--main-color);
}

/*======================================== MODAL POPOUT =====================================*/

.root-SR8cQa {
    height: var(--modalPopout-height);
    width: var(--modalPopout-width);
}

.body-3ND3kc {
    height: 100%;
    overflow-y: scroll;
}