/**
 * @name Origin 002
 * @author lepetitpaco
 * @version 1
 * @description Clean Version of the theme
 * @website https://github.com/lepetitpaco/SomeCSS/tree/master/
 */

 /**
 * Thank you to DevilBro for allowing me to use his theme BlurpleRecolor
 * The theme BlurpleRecolor is available here https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BlurpleRecolor
 */

 @import url(https://lepetitpaco.fr/BDThemes/starter-pack.css);
 @import url(https://lepetitpaco.fr/BDThemes/origin.css);

 :root {
     --mc: 249, 210, 228;                                                                     /* Main Color */
     --modal-color: rgba(0, 0, 0, .8);                                                      /* Background Color of modals */
     --chat-input-bg-color: rgba(255, 255, 255, .1);                                        /* Background Color of text inputs */
     /* Main Background */
     --background-url: url(https://images4.alphacoders.com/101/1016480.jpg);                  /* Background Image URL */
     --background-tall-url:url(https://mfiles.alphacoders.com/830/830814.jpg);              /* Background Image URL when width < height */
     --background-color: rgba(0, 0, 0, .0);                                                 /* Background Color */
     --background-brightness: 100%;                                                         /* Background Brightness */
     --background-blur: 0px;                                                                /* Background Blur */
     /* User Popout */
     --popout-url: url(https://mfiles.alphacoders.com/891/891410.jpg);                      /* Popout Image URL */
     --popout-bgc: rgba(0, 0, 0, .8);                                                       /* Popout Background Color */
     --popout-text-color: #ffffff;                                                          /* Popout Text Color */
     /* Modal Popout */
     --modal-url: url();                                                                    /* Modal Background URL */
     --modal-popout-bgc: rgba(0, 0, 0, .8);                                                 /* Modal Background Color */
     --modal-text-color: #ffffff;                                                           /* Modal Text Color */
     /*Backdrop*/
     --backdrop-blur: 2px;
     --backdrop-opacity: 1;
     --backdrop-bgcolor: transparent;
     /* Layers */
     --layer-accent-color: 0,0,0;                                                           /* Layer Accent Color */
     --layers-opacity: 40;                                                                  /* Layer Opacity  from 0 to 30 */
     /* Home Icon */
     --home-icon: url(https://media.tenor.com/images/8c5fbce5ce00ce28fe49ba7de119ada9/tenor.gif);
     --home-icon-bgc: rgb(var(--mc));
     --discord-icon-bgc: rgb(0, 0, 0, 0);


     /* --------------------------------------------------------------------- */

     --pannel-backdrop-brightness:   50%;
     --pannel-backdrop-blur:         4px;
     --typeWindows-bg-color :        rgba(0, 0, 0, .0);
     --channelTabs-bg-color :        rgba(0, 0, 0, .0);
     --guilds-bg-color :             rgba(0, 0, 0, .0);
     --channels-bg-color :           rgba(0, 0, 0, .0);
     --user-bg-color :               rgba(0, 0, 0, .0);
     --members-bg-color :            rgba(0, 0, 0, .0);
     --title-section-bg-color :      rgba(0, 0, 0, .0);
     --chat-bg-color :               rgba(0, 0, 0, .0);
 }
