/**
 * @name Origin Blank
 * @author lepetitpaco
 * @version 1
 * @description Clean Version of the theme
 * @website https://github.com/lepetitpaco/SomeCSS/tree/master/
 */

 /**
 * The theme BlurpleRecolor is available here https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BlurpleRecolor
 */

 @import url(https://lepetitpaco.fr/SomeCSS/origin/StarterPack.css);
 /* @import url(https://lepetitpaco.fr/SomeCSS/origin/origin.css); */

 :root {
     --mc: 255, 0, 55;                                                                    /* Main Color */
     --modal-color: rgba(0, 0, 0, .8);                                                      /* Background Color of modals */
     --chat-input-bg-color: rgba(255, 255, 255, .1);                                        /* Background Color of text inputs */
     /* Main Background */
     --background-url: url(https://source.unsplash.com/1920x1080/?sun);                            /* Background Image URL */
     --background-tall-url:url(https://source.unsplash.com/1920x1080/?nature);                        /* Background Image URL when width < height */
     --background-color: rgba(0, 0, 0, 0);                                                 /* Background Color */
     --background-brightness: 50%;                                                         /* Background Brightness */
     --background-blur: 0px;                                                                /* Background Blur */
     /* User Popout */
     --popout-url: url();                      /* Popout Image URL */
     --popout-bgc: rgba(0, 0, 0, .5);                                                       /* Popout Background Color */
     --popout-text-color: #ffffff;                                                          /* Popout Text Color */
     /* Modal Popout */
     --modal-url: url();                                                                    /* Modal Background URL */
     --modal-popout-bgc: rgba(0, 0, 0, .8);                                                 /* Modal Background Color */
     --modal-text-color: #ffffff;                                                           /* Modal Text Color */
     /*Backdrop*/
     --backdrop-blur: 2px;
     --backdrop-opacity: 1;
     --backdrop-bgcolor: transparent;
     /* Home Icon */
     --home-icon: url(https://media.tenor.com/images/8c5fbce5ce00ce28fe49ba7de119ada9/tenor.gif);
     --home-icon-bgc: rgb(var(--mc));
     --discord-icon-bgc: rgb(0, 0, 0, 0);


     /* --------------------------------------------------------------------- */

     --pannel-backdrop-brightness:   100%;
     --pannel-backdrop-blur:         2px;
     --typeWindows-bg-color :        rgba(0, 0, 0, .7);
     --channelTabs-bg-color :        rgba(0, 0, 0, .7);
     --guilds-bg-color :             rgba(0, 0, 0, .7);
     --channels-bg-color :           rgba(0, 0, 0, .7);
     --user-bg-color :               rgba(0, 0, 0, .7);
     --members-bg-color :            rgba(0, 0, 0, .6);
     --title-section-bg-color :      rgba(0, 0, 0, .6);
     --chat-bg-color :               rgba(0, 0, 0, .6);
 }
