:root {
    /*==== Main Background ====*/
    /* Main Background Image */
    --background-url: url(https://i.imgur.com/eCEgBKh.jpg);
    /* Main Background Brightness */
    --background-brightness: 40%;
    --background-blur: 0px;
    /*==== User Popout ====*/
    /* User Popout Background Image */
    --popout-url: url(https://i.imgur.com/Ja9IzFL.jpg);
    /* User Popout Background Brightness */
    --popout-brightness: 40%;
    --popout-blur: 0px;
    /*User Popout Width - Default Width: 250px */
    --userPopout-width: 350px;
    /*User Popout Height - Default Height :auto*/
    --userPopout-height: auto;
    /*====Modal Popout====*/
    /* Modal Popout Background Image */
    --modal-url: url(https://i.imgur.com/0sYi901.png);
    /* Modal Popout Background Brightness */
    --modal-brightness: 40%;
    --modal-blur: 0px;
    /*Modal Popout Width*/
    --modalPopout-width: 600px;
    /*Modal Popout Height*/
    --modalPopout-height: 400px;
    /*====Home Icon====*/
    /* Home Icon Image */
    --home-icon-url: url(https://i.imgur.com/jQlUedX.png);
    /*====Colors====*/
    --main-color: rgb(255, 0, 0);
    --main-color-rgba: rgba(255, 0, 0, .5);
    --secondary-color: rgb(255, 0, 0);
    --secondary-color-rgba: rgba(255, 0, 0, .5);
    --blackbgopacity: rgba(0, 0, 0, .5);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --grey: rgb(110, 110, 110)
}

/*Main Background*/
body {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body::after {
    z-index: -9999;
}

body::after,
.callout-backdrop::after {
    background-position: center;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*Container*/
.app,
.layers,
.layer,
.container-2lgZY8,
.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ,
.appMount-3lHmkl {
    background-color: transparent !important;
    background: transparent !important;
}

/*Container Background*/
body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.dark label {
    background-image: var(--background-url) !important;
    filter: brightness(var(--background-brightness)) blur(var(--background-blur)) !important;
}

/*Title Bar*/
.theme-dark .title-3qD0b- {
    background-color: transparent !important;
    background: transparent !important;
}

/*Box Shadows of Title Bar*/
.theme-dark .title-3qD0b- {
    -webkit-box-shadow: none;
    background: transparent;
    box-shadow: none;
}

/*Guild List*/
.guildsWrapper-5TJh6A,
.guilds-wrapper {
    background-color: transparent !important;
    background: transparent !important;
}

/*Channel List*/
.channels-Ie2l6A,
.container-PNkimc {
    background-color: transparent !important;
    background: transparent !important;
}

/*Account Details*/
.theme-dark .container-2Thooq, .theme-light .container-2Thooq {
    background-color: transparent !important;
    background: transparent !important;
}

/*Text Channels*/
/*Hover Color*/
.channels-Ie2l6A .contentHoveredText-2D9B-x {
    background-color: var(--main-color-rgba);

}

/*Default Text*/
.nameDefaultText-24KCy5, .colorDefaultText-oas-QM {
    color: var(--white);
}

/*Selected Text*/
.contentSelectedText-3wUhMi {
    background-color: var(--main-color);
}

/*Muted Text*/
.nameMutedText-3Vj4bM, .colorMutedText-36M8WR {
    color: var(--grey);
}

/*Unread Text*/
.nameUnreadText-DfkrI4, .colorUnreadText-2t7XRb {
    color: var(--main-color);
}

/*Unread Text Notification Dot */
.unread-1Dp-OI {
    background-color: var(--main-color);
}

/*Chat Zone*/
/*Message Wrapper*/
.theme-dark .messagesWrapper-3lZDfY {
    background-color: transparent !important;
    background: transparent !important;
}

/*Chat Input Zone*/
.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3 {
    background-color: transparent !important;
    background: transparent !important;
}

/*Typing*/
.typing-2GQL18 {
    background-color: transparent !important;
    background: transparent !important;
}

/*Messages and codeblocks*/
.da-containerCozy .inner-zqa7da {
    background: rgba(0, 0, 0, 0.25) !important;
}

[class*="avatar-"], .image-33JSyf {
    box-shadow: 0.5px 0.5px 2px black !important;
}

.messageCozy-2JPAPA .image-33JSyf {
    border-radius: 5px !important;
}

.operations-36ENbA>a {
    color: var(--blackbgopacity) !important;
}

.isLocalBot-38G0P0 {
    background: transparent !important;
    box-shadow: none !important;
}

.message-2qRu38 {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.itemContainer-WiE19S,
.emptyMessage-2wGhmr {
    display: none;
}

.theme-dark .markup-2BOw-j a {
    color: var(--main-color);
}

.markup-2BOw-j pre {
    background: transparent !important;
    border-radius: 5px !important;
}

.markup-2BOw-j code {
    background: rgba(0, 0, 0, 0.5) !important;
    border-radius: 5px !important;
}

.messageGroupBlocked-3wrQQX.revealed-1_RKsf {
    border: none !important;
}

.messageGroupBlocked-3wrQQX {
    background: rgba(0, 0, 0, 0.5) !important;
    border: none !important;
}

.messageGroupBlockedBtn-1PBBh- {
    background: transparent !important;
}

/*Dividers*/
.unreadBar-3YD_k9 {
    background: var(--main-color);
}

.newMessagesBar-mujexs button {
    color: var(--white) !important;
}

.divider-3gKybi {
    padding-top: 10px;
}

.dividerContent-2L12VI:before,
.dividerContent-2L12VI:after,
.dividerEnabled-2TTlcf {
    display: none;
}

.newMessagesBar-mujexs {
    background: var(--main-color-rgba) !important;
}

.chat-3bRxxu .jumpToPresentBar-9P20AM button:first-child {
    display: none;
}

.jumpToPresentBar-9P20AM {
    left: auto !important;
}

.chat-3bRxxu .jumpToPresentBar-9P20AM button:last-child {
    color: var(--white);
}

.chat-3bRxxu .jumpToPresentBar-9P20AM {
    background: var(--main-color);
}

.chat-3bRxxu .jumpToPresentBar-9P20AM .spinner {
    padding-right: 7px;
    padding: 8px;
    padding-left: 50px;
}

.hasMore-3e72_v button {
    background: rgba(0, 0, 0, 0.5) !important;
    border: none !important;
    color: var(--blackbgopacity) !important;
}

.dividerContent-2L12VI {
    font-size: 20px;
    text-transform: none;
    font-weight: 500;
}

/*Member List*/
.theme-dark .members-1998pB {
    background-color: transparent !important;
    background: transparent !important;
}

/*Activity Tab*/
/*Background*/
.theme-dark .activityFeed-28jde9 {
    background-color: transparent !important;
    background: transparent !important;
}

/*Title Bar*/
.theme-dark .headerBar-UHpsPw {
    background-color: transparent !important;
    background: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--white);
}

/*Activity Cards*/
.theme-dark .card-7JP0BX {
    background-color: transparent !important;
    background: transparent !important;
}

/*Carousel*/
.carousel-2WxMes {
    background-color: #000 !important;
    background: #000 !important;
}

.paginationItem-2lUq0s {
    background-color: #000 !important;
    background: #000 !important;
}

.selectedPage-3cFHgU {
    background-color: #000 !important;
    background: #000 !important;
}

/*Activity Cards Header*/
.theme-dark .header-1RC2Wb {
    background-color: #000 !important;
    background: #000 !important;
}

/*Activity Cards Body*/
.theme-dark .body-SKIE6r {
    background-color: rgba(0, 0, 0, .3);
}

/*News*/
.news-2GDtLJ {
    background-color: #000 !important;
    background: #000 !important;
}

/*Library Tab*/
/*Game Library*/
.theme-dark .gameLibrary-TTDw4Y {
    background-color: transparent !important;
    background: transparent !important;
}

.theme-dark .header-39GIC8 {
    background-color: transparent !important;
    background: transparent !important;
}

/*Gift Inventory*/
.theme-dark .root-1BQpZw {
    background-color: transparent !important;
    background: transparent !important;
}

/*Store Tab*/
.theme-dark .applicationStore-1pNvnv {
    background-color: transparent !important;
    background: transparent !important;
}

.theme-dark .applicationTile-1Goy1W {
    background-color: #000 !important;
    background: #000 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.theme-dark .tileMedia-24cT6_ {
    background-color: #000 !important;
    background: #000 !important;
}

/*Friends Tab*/
.theme-dark .container-3gCOGc {
    background-color: transparent !important;
    background: transparent !important;
}

/*Settings*/
/*General Transparency*/
.theme-dark .standardSidebarView-3F1I7i {
    background-color: transparent !important;
    background: transparent !important;
}

.theme-dark .sidebarRegion-VFTUkN {
    background-color: transparent !important;
    background: transparent !important;
}

.theme-dark .contentRegion-3nDuYy {
    background-color: transparent !important;
    background: transparent !important;
}

/*Billing Section*/
/*Transaction History*/
/*Header*/
.theme-dark .paymentPane-3bwJ6A {
    background-color: transparent !important;
    background: transparent !important;
}

/*Payment History*/
.theme-dark .paymentRow-2e7VM6 {
    border-bottom: none;
}

.theme-dark .paginator-166-09 {
    background-color: transparent !important;
    background: transparent !important;
}

.theme-dark .paginator-2CA79G {
    background-color: transparent !important;
    background: transparent !important;
}

.theme-dark .payment-xT17Mq {
    background-color: transparent !important;
    background: transparent !important;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
    background-color: transparent !important;
    background: transparent !important;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
    border-color: transparent;
}

/*Checkbox Options*/
.theme-dark .cardPrimaryEditable-3KtE4g {
    background-color: var(--blackbgopacity) !important;
    border-color: var(--main-color) !important;
}

.theme-dark .cardPrimaryEditable-3KtE4g .title-3BE6m5,
.theme-dark .radioGroup-1GBvlr,
.theme-dark .descChecked-XkfPsU,
.theme-dark .titleChecked-2wg0pd {
    color: var(--main-color) !important;
}

.theme-dark .checked-3_4uQ9{
    background-color: var(--main-color) !important;

}


/*Modals*/
/*Backdrop for modals*/
.backdrop-1wrmKB {
    opacity: 0.85 !important;
}

/*Upload Modal*/
.uploadModal-2ifh8j {
    background: var(--blackbgopacity) !important;
    border: 1px solid var(--main-color);
}

.uploadModal-2ifh8j .footer-3mqk7D {
    color: white;
}

.theme-brand .content-Qb0rXO {
    color: white;
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background: rgba(0, 0, 0, 0.3) !important;
}

.uploadModal-2ifh8j .inner-3nWsbo {
    border-color: var(--main-color) !important;
    border: none;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    border-color: var(--main-color) !important;
    border: 1px solid var(--main-color);
}

/*Keyboard Shortcuts Modal*/
.keyboardShortcutsModal-3piNz7 {
    background: var(--backdropblurred) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

.ragingDemon-bDcoXE img[src="/assets/bb7f752540c7f4c7039c6dd6b5dd052e.svg"] {
    box-sizing: border-box !important;
    padding-right: 80vw !important;
}

.ragingDemon-bDcoXE img[src="/assets/bb7f752540c7f4c7039c6dd6b5dd052e.svg"],
.ragingDemon-bDcoXE .symbol-3ffeCr:before,
.ragingDemon-bDcoXE .symbol-3ffeCr:after {
    width: 80vw !important;
    height: 60vh !important;
}

.ragingDemon-bDcoXE .symbol-3ffeCr:before,
.ragingDemon-bDcoXE .symbol-3ffeCr:after {
    content: "";
    position: absolute;
}

.ragingDemon-bDcoXE .symbol-3ffeCr:before {
    background: var(--main-color) !important;
    -webkit-mask-size: cover;
    -webkit-mask: url('https://tropix126.github.io/BetterDiscordStuff/aurora/assets/devilbro_asset_2.svg') center/contain no-repeat !important;
}

.ragingDemon-bDcoXE .symbol-3ffeCr:after {
    background: url('https://tropix126.github.io/BetterDiscordStuff/aurora/assets/devilbro_asset_1.svg') center/contain no-repeat !important;
}

.ddrArrows-lSnH7P .arrow-2enltQ.down-2Ju7Q_ {
    transform: rotate(270deg);
}

.ddrArrows-lSnH7P .arrow-2enltQ.up-fkTose {
    transform: rotate(90deg);
}

.ddrArrows-lSnH7P .arrow-2enltQ.right-1AEPK3 {
    transform: rotate(180deg);
}

.ddrArrows-lSnH7P .arrow-2enltQ.active-2X6Ewx {
    filter: brightness(130%);
}

.ddrArrows-lSnH7P .arrow-2enltQ,
.ddrArrows-lSnH7P .arrow-2enltQ:before,
.ddrArrows-lSnH7P .arrow-2enltQ:after {
    height: 50px !important;
    width: 50px !important;
}

.ddrArrows-lSnH7P .arrow-2enltQ:before,
.ddrArrows-lSnH7P .arrow-2enltQ:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.ddrArrows-lSnH7P .arrow-2enltQ {
    position: relative !important;
    animation: none !important;
    background: url('https://tropix126.github.io/BetterDiscordStuff/aurora/assets/devilbro_asset_3.svg') center/contain no-repeat !important;
}

.ddrArrows-lSnH7P .arrow-2enltQ:before {
    -webkit-mask-size: cover;
    -webkit-mask: url('https://tropix126.github.io/BetterDiscordStuff/aurora/assets/devilbro_asset_4.svg') center/contain no-repeat !important;
    background: var(--main-color) !important;
}

.ddrArrows-lSnH7P .arrow-2enltQ:after {
    background: url('https://tropix126.github.io/BetterDiscordStuff/aurora/assets/devilbro_asset_5.svg') center/contain no-repeat !important;
}

/*Gift Nitro*/
.theme-dark .modal-3HD5ck{
    box-shadow: none;
    background-color: var(--blackbgopacity);
    border: 1px solid var(--main-color);
}

.theme-dark .footer-2yfCgX{
    box-shadow: none;
    background-color: var(--blackbgopacity);
    border-top: 1px solid var(--main-color);
}

.theme-dark .option-1l2vXE{
    background-color: var(--blackbgopacity);
    border: 1px solid var(--main-color);
}

/*Popouts and Dropdowns*/
/*Server Dropdonwn*/
.icon-2doZ3q {
    opacity: 0;
}

.icon-2doZ3q:hover {
    opacity: 1;
}

.menu-Sp6bN1 .item-1GzJrl {
    margin-left: -30px;
}

.menu-Sp6bN1 .item-1GzJrl:hover {
    margin: 0;
}

.menu-Sp6bN1.alt-3btY0e .item-1GzJrl {
    margin-left: 0px;
}

.menu-Sp6bN1 {
    background: var(--blackbgopacity) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
}

/*Status Picker*/
@keyframes anim-status {
    from {
        transform: scale(0);
        opacity: 0;
    }
}

.item-1GzJrl .online-2S838R,
.item-1GzJrl .idle-3DEnRT,
.item-1GzJrl .dnd-1_xrcq,
.item-1GzJrl .invisible-1kp8Z0 {
    border: 5px solid rgba(0, 0, 0, 0.6) !important;
}

.alt-3btY0e .item-1GzJrl:nth-of-type(1) {
    animation-delay: 0ms;
}

.alt-3btY0e .item-1GzJrl:first-of-type {
    padding-left: 0px !important;
}

.alt-3btY0e .item-1GzJrl:nth-of-type(3) {
    animation-delay: 100ms;
}

.alt-3btY0e .item-1GzJrl:nth-of-type(4) {
    animation-delay: 200ms;
}

.alt-3btY0e .item-1GzJrl:nth-of-type(5) {
    animation-delay: 300ms;
}

.alt-3btY0e .da-item:hover {
    background: transparent !important;
}

.alt-3btY0e .statusIconText-3b4TkH>div {
    color: transparent;
}

.popoutTopLeft-b5Eb3O {
    left: 110px !important;
}

.alt-3btY0e .item-1GzJrl:first-of-type {
    padding-left: 0px !important;
}

.popoutTopLeft-b5Eb3O {
    margin-top: -22.5px;
}

.alt-3btY0e .helper-2c73HK {
    display: none;
}

.alt-3btY0e.menu-Sp6bN1:hover::before {
    pointer-events: initial;
}

body:active .alt-3btY0e.menu-Sp6bN1:not(:active) {
    opacity: 0;
    transition: 150ms ease;
}

.alt-3btY0e .separator-2zcjq8 {
    border-bottom: 0px;
}

.alt-3btY0e.menu-Sp6bN1 {
    border-radius: 0 !important;
    width: 240px !important;
    bottom: 60px !important;
    top: initial !important;
    height: 70px !important;
    overflow: visible;
    cursor: initial;
    background: var(--blackbgopacity) !important;
    background-position: center !important;
    background-size: cover !important;
}

.alt-3btY0e .item-1GzJrl {
    transition: all 200ms ease;
    color: transparent;
    pointer-events: auto;
    float: left;
    width: 55px;
    height: 70px;
    padding: 0 !important;
    left: 5px;
    bottom: 0;
    transform: none;
    position: relative;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    background: transparent !important;
    animation: anim-status 400ms cubic-bezier(.4, 0, 0, 1) backwards;
}

.alt-3btY0e.menu-Sp6bN1 {
    box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.7);
}

.alt-3btY0e .item-1GzJrl:first-of-type {
    padding-left: 0px !important;
    box-sizing: content-box !important;
}

.alt-3btY0e .item-1GzJrl .online-2S838R, .alt-3btY0e .item-1GzJrl .idle-3DEnRT, .alt-3btY0e .item-1GzJrl .dnd-1_xrcq, .alt-3btY0e .item-1GzJrl .invisible-1kp8Z0 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    left: 0px !important;
    margin-left: 7.50px !important;
    bottom: 0;
    margin-top: 15px;
    transition: all 200ms ease;
    margin-right: 0 !important;
}

.alt-3btY0e .item-1GzJrl:hover .online-2S838R, .alt-3btY0e .item-1GzJrl:hover .idle-3DEnRT, .alt-3btY0e .item-1GzJrl:hover .dnd-1_xrcq, .alt-3btY0e .item-1GzJrl:hover .invisible-1kp8Z0 {
    color: transparent;
    opacity: 1;
    transform: scale(1.2);
    transition: all 200ms cubic-bezier(0, 0, 0, 1);
    z-index: 2;
}

.alt-3btY0e .item-1GzJrl:active online-2S838R, .alt-3btY0e .item-1GzJrl:active .idle-3DEnRT, .alt-3btY0e .item-1GzJrl:active .dnd-1_xrcq, .alt-3btY0e .item-1GzJrl:active .invisible-1kp8Z0 {
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    transition: all 100ms cubic-bezier(0, 0, 0, 1), box-shadow 0ms;
    opacity: 1;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, .15) inset, 0 1px 1px rgba(255, 255, 255, .05) inset;
}

.alt-3btY0e:active {
    opacity: 0;
    transition: all 100ms ease 100ms
}

.alt-3btY0e .item-1GzJrl:nth-of-type(1) .online-2S838R {
    background-image: url(https://tropix126.github.io/BetterDiscordStuff/aurora/assets/status_asset_1.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: 50%;
    left: auto;
}

.alt-3btY0e .item-1GzJrl:nth-of-type(3) .idle-3DEnRT {
    background-image: url(https://tropix126.github.io/BetterDiscordStuff/aurora/assets/status_asset_2.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.alt-3btY0e .item-1GzJrl:nth-of-type(4) .dnd-1_xrcq {
    background-image: url(https://tropix126.github.io/BetterDiscordStuff/aurora/assets/status_asset_3.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
}

/*Context Menus*/
.container-3cGP6G {
    background: transparent !important;
}

.item-1Yvehc:hover {
    background: var(--main-color-rgba) !important;
}

.itemSubMenu-1vN_Yn:hover {
    background: var(--main-color-rgba) !important;
}

.itemGroup-1tL0uz {
    border: none;
}

.da-contextMenu .da-item {
    transition: 250ms all ease;
}

.da-contextMenu,
.contextMenu-HLZMGh {
    border-radius: 3px !important;
    background: var(--blackbgopacity) !important;
    padding: 7px 7px 7px 7px;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span,
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background: var(--main-color) !important;
    border-color: var(--white) !important;
}

.da-contextMenu {
    animation: slide-up 150ms cubic-bezier(0, 0, 0, 1);
}

/*User Popouts*/
.body-3iLsc4,
.footer-1fjuF6 {
    background: transparent !important;
}

.headerPlaying-j0WQBV {
    background: transparent;
}

.quickMessage-2XpSaN,
.note-3kmerW textarea:focus,
.da-selectorSelected {
    background: transparent !important;
    border: none;
}

.headerNormal-T_seeN {
    background: transparent !important;
}

.userPopout-3XzG_A::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    background-position: center;
    overflow: hidden;
    background-image: var(--popout-url) !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-repeat: no-repeat !important;
    filter: brightness(var(--popout-brightness)) blur(var(--popout-blur));
    opacity: var(--popout-opacity);
    border-radius: 10px;
}

.role-2irmRk {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    box-sizing: content-box;
    height: 16px;
    margin: 3px;
    padding: 2px;
    position: relative;
    line-height: 16px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    overflow: visible;
}

.role-2irmRk::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-width: calc(0.65em + 4px) .5em;
    border-style: solid;
    border-color: inherit;
    box-sizing: border-box;
    opacity: 0.5;
}

.roleName-32vpEy {
    margin: 0 4px;
}

.roleCircleButton-377y0l {
    padding: 0;
    position: absolute;
    z-index: 2;
    height: 22px;
    top: -1px;
    left: -1px;
    border-radius: 2px 0 0 2px;
    width: 0px;
    display: flex !important;
    transition: width 200ms;
}

.roleCircle-3xAZ1j {
    display: none;
}

.addButton-pcyyf6 {
    line-height: 10px;
    width: 22px;
    box-sizing: border-box;
    height: 22px;
}

.roleRemoveIcon-2-TeGW {
    display: block;
}

.role-2irmRk:hover .roleCircleButton-377y0l {
    transition: width 0.2s;
    width: 22px;
}

.addButtonIcon-1NMJ8u {
    height: 7px;
    width: 7px;
}

/*Pinned Messages/Mentions*/
.themedPopout-25DgLi {
    background: var(--blackbgopacity) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5) !important;
    border: none !important;
    animation: slide-down 200ms ease !important;
}

@keyframes slide-up {
    from {
        transform: translate(0%, 10%);
    }
}

@keyframes slide-down {
    from {
        transform: translate(0%, -5%);
    }
}

.iconBadge-2dji3k {
    border-color: rgba(0, 0, 0, 0.8) !important;
}

.messagesPopoutWrap-1MQ1bW {
    background: var(--backdrop) !important;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 1000px rgba(0, 0, 0, 0.5) !important;
    background-size: cover !important;
    border: none;
}

.messagesPopoutWrap-1MQ1bW .da-containerCozy {
    background: transparent !important;
}

.header-ykumBX,
.footer-1kmXd4 {
    background: rgba(0, 0, 0, 0.5) !important;
}

.messageGroupWrapper-o-Zw7G {
    background: rgba(0, 0, 0, 0.6) !important;
    border: none;
    transition: 250ms ease-in-out border;
}

.messageGroupWrapper-o-Zw7G:hover {
    border: 2px solid var(--main-color) !important;
}

.jumpButton-3DTcS_,
.jump-button {
    background: var(--main-color) !important;
}

.actionButtons-1sUUug {
    background: transparent !important;
    box-shadow: none !important;
}

/*Search Popout*/
.searchAnswer-3Dz2-q, .searchFilter-2ESiM3 {
    background: rgba(255, 255, 255, 0.05);
}

.container-3ayLPN {
    background: var(--blackbgopacity) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    box-shadow: 0px 0px 1000px inset rgba(0, 0, 0, 0.7) !important;
}

.option-96V44q:after {
    display: none !important;
}

.option-96V44q.selected-rZcOL-,
.focused-2bY0OD,
.da-searchHeader,
.search-header {
    background: rgba(0, 0, 0, 0.5) !important;
    border: none !important;
}

.dim-1l4L4y span,
.keybindShortcut-1BD6Z1 span {
    background: var(--main-color) !important;
    color: var(--white) !important;
}

.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next,
.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous,
.searchAnswer-3Dz2-q {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.calendarPicker-2yf6Ci,
.react-datepicker,
.react-datepicker__header,
.da-channelName,
.da-resultsWrapper .da-containerCozy,
.da-searchResultsWrap,
.search-results-wrap,
.channel-name,
.results-wrapper .da-containerCozy {
    background: transparent !important;
}

.da-resultsWrapper .containerCozy-jafyvG,
.results-wrapper {
    padding-bottom: 15px;
}

.results-wrapper .da-containerCozy {
    padding-bottom: 5px;
}

.hintValue-29ny8Z,
.react-datepicker__day--selected:after,
.react-datepicker__day:hover,
.searchFilter-2ESiM3,
.jumpButton-Ia2hRJ {
    background: var(--main-color) !important;
}

.react-datepicker__day {
    border: none !important;
    background: rgba(0, 0, 0, 0.5) !important;
    transition: 150ms ease all !important;
}

.da-searchResultMessage.da-hit,
.search-results-wrap .search-result .hit {
    box-shadow: none !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    background: rgba(0, 0, 0, 0.3) !important;
}

.da-searchResult:before,
.da-searchResult:after,
.search-result:after,
.search-result:before {
    display: none;
}

.da-searchResultsWrap,
.search-results-wrap {
    background: var(--blackbgopacity) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

/*Emoji Picker*/
.emojiPicker-3m1S-j {
    background-color: var(--blackbgopacity);
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background-color: rgba(0, 0, 0, 0);
    color: var(--white);
}

.emojiPicker-3m1S-j .category-2U57w6 {
    color: var(--white);
}

.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: rgba(0, 0, 0, 0);
}

.diversitySelector-tmmMv0 .popout-2nUePc {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, .0);
}

.search-bar.search-bar-light {
    background-color: rgba(0, 0, 0, 0);
}

/*Gif Picker*/
.result-3w1ZcL:hover:after {
    box-shadow: inset 0 0 0 2px var(--main-color) !important;
}

.autocomplete-1vrmpx {
    background: var(--blackbgopacity) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
}

.autocomplete-1vrmpx {
    animation: slide-up 150ms ease;
}

.da-categoryFadeBlurple {
    background: var(--main-color) !important;
    opacity: 0.6 !important;
}

/*RTC Connection Popout*/
.container-2x5lvQ {
    background: var(--blackbgopacity) !important;
}

.container-2x5lvQ header {
    background: rgba(0, 0, 0, 0) !important;
}

.container-2x5lvQ section {
    background: rgba(0, 0, 0, 0) !important;
}

/*Profile Popouts*/
.verified-3uJH7V g path:nth-child(2),
.connectedAccountVerifiedIcon-3aZz_K g path:nth-child(2),
.verifiedIcon-2TCIsJ g path:nth-child(2),
.verified-2-ja4L g path:nth-child(2) {
    fill: transparent !important;
}

.userInfoSection-2acyCx+.userInfoSection-2acyCx,
.connectedAccount-36nQx7 {
    border: none !important;
}

.tabBarContainer-1s1u-z .tab-bar.TOP .tab-bar-item {
    transition: 150ms all ease-in-out;
}

.topSectionNormal-2-vo2m .lookFilled-1Gx00P:hover {
    box-shadow: none !important;
}

.topSectionNormal-2-vo2m .lookFilled-1Gx00P {
    box-shadow: none !important;
    transition: 150ms all ease-in-out;
    background: transparent !important;
}

.tabBarContainer-1s1u-z {
    border: none !important;
    height: 65px;
}

.modal-1UGdnR .tab-bar-item.selected {
    background: transparent !important;
}

.topSectionNormal-2-vo2m {
    background: transparent !important;
}

.body-3ND3kc {
    background: transparent !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
}

.header-QKLPzZ {
    height: 125px;
    background: transparent !important;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: none !important;
}

.body-3ND3kc {
    border-top: none !important;
}

.topSectionPlaying-1J5E4n {
    background: transparent !important;
}

.root-SR8cQa::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    background-position: center;
    overflow: hidden;
    background-image: var(--modal-url) !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(var(--modal-brightness)) blur(var(--modal-blur)) !important;
    opacity: var(--modal-opacity);
}

.root-SR8cQa {
    border-radius: 25px !important;
    box-shadow: 0 0 20px var(--secondary-text-color);
}

/*Elements*/
/*Scrollbar*/
::-webkit-scrollbar-thumb {
    background: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track-piece {
    background: transparent !important;
    border-color: transparent !important;
    width: 6px !important;
}

::-webkit-scrollbar-corner {
    display: none !important;
}

/*Switch Buttons*/
/*Checked*/
.themeDefault-24hCdX.valueChecked-m-4IJZ{
    background-color: var(--main-color)!important;
}

/*Unchecked*/
.themeDefault-24hCdX.valueUnchecked-2lU_20{
    background-color: var(--blackbgopacity);
}
