/**
 * @name Origin/Rori
 * @author lepetitpaco
 * @version 2.1
 * @description Rori from GATE
 */

@import "https://lepetitpaco.github.io/SomeCSS/origin/origin-v2.css";

/* Settings Specific to Dark Theme Set */
.theme-dark {
	/* Main Color
		* Color Picker
		* https://www.google.com/search?q=color+picker
		* only use the RGB Value
	*/
	--mc : 153, 0, 0;
	/* Main Background */
    --background-url: url(https://i.imgur.com/c4eNLkT.png);
	--background-brightness: 100%;
	/*==== User Popout ====*/
	--popout-url: url(https://i.imgur.com/i7cISPY.jpg);
	--popout-brightness: 80%;
	/*==== Modal Popout ====*/
	--modal-url: url(https://i.imgur.com/eNKavKN.png);
	--modal-brightness: 80%;
	--modalPopout-width: 900px;
	--modalPopout-height: 650px;
	/*Home Icon*/
	--home-icon: url(https://i.imgur.com/U0kMVyr.png);
	--home-icon-bg-color: #00151c;
}
