/**
 * @name Origin - Fate/Christmas
 * @author lepetitpaco
 * @version 2.1
 * @description Fate/Christmas
 */

@import "https://lepetitpaco.github.io/SomeCSS/origin/origin-v2.css";

/* Settings Specific to Dark Theme Set */
.theme-dark {
	/* Main Color
		* Color Picker
		* https://www.google.com/search?q=color+picker
		* only use the RGB Value
	*/
	--mc : 255, 0, 0;
	--main-color: rgb(var(--mc));
	/* Main Background */
	--background-url: url(https://i.imgur.com/EyoT2Kp.jpg);
	--background-brightness: 70%;
	--background-color: linear-gradient(to right, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .0) 85%, rgba(0, 0, 0, .9) 100%)!important;
	/*==== User Popout ====*/
	--popout-url: url(https://i.imgur.com/rd0C0hD.jpg);
	--popout-brightness: 80%;
	--popout-text-color: #fff;
	/*==== Modal Popout ====*/
	--modal-url: url(https://i.imgur.com/baLS3Py.jpg);
	--modal-brightness: 80%;
	--modalPopout-width: 650px;
	--modalPopout-height: 900px;
	--modal-text-color: #fff;
	/*Home Icon*/
	--home-icon: url(https://i.imgur.com/1kriI0K.jpg);
	--home-icon-bg-color: #ff000020;
}
