/**
 * @name Nice View
 * @author lepetitpaco
 * @version 1
 * @description Just a Nice view
 */

@import "https://lepetitpaco.github.io/SomeCSS/nice-view/nice-view.css";

.theme-dark {
    --mc : 18, 123, 99;
    --modal-color: rgba(0,0,0,.8);
    --background-url: url(https://i.imgur.com/g5g1tAu.jpg);
	--background-brightness: 100%;
    --background-blur: blur(5px);
    --popout-bgc:rgba(0,0,0,.8);
    --modal-bgc:rgba(0,0,0,.8);
}
