/**
 * @name Nice View Dev
 * @author lepetitpaco
 * @version Dev
 * @description Dev Version if the Nice View Theme
 * @authorId 152431535914614785
 * @invite fuz2Dyy
 * @donate https://paypal.me/lepetitpaco?locale.x=fr_FR
 * @website https://github.com/lepetitpaco/SomeCSS/tree/master/
 */

 /**
 * Thank you to DevilBro for allowing me to use his theme BlurpleRecolor
 * The theme BlurpleRecolor is available here https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BlurpleRecolor
 */

 @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);
 @import url(https://lepetitpaco.github.io/SomeCSS/starter-pack/StarterPack.css);

:root {
  --background-secondary: transparent;
  --background-primary: transparent;
  --background-secondary-alt: transparent;
  --background-tertiary: transparent;
  --deprecated-store-bg: transparent;
  --deprecated-panel-background: transparent;
  --channeltextarea-background: rgba(var(--black),.4);
  --background-floating: var(--modal-color);
  --activity-card-background: var(--modal-color);
  --background-modifier-hover: rgba(var(--mc), .2);
  --background-modifier-active: rgba(var(--mc), .2);
  --background-modifier-selected: rgba(var(--mc), .2);
  --background-modifier-accent: rgba(var(--mc), .2);
  --header-primary: #fff;
  --header-secondary: #fff;
  --text-normal: #fff;
  --text-muted: rgba(var(--mc), .2);
  --text-link: rgb(var(--mc));
  --interactive-hover: rgba(var(--mc));
  --interactive-active: rgba(var(--mc));
  --interactive-muted: rgba(var(--mc), .5);
  --background-accent: rgb(var(--mc));
  --logo-primary: rgb(var(--mc));
  --channels-default: #fff;
  --interactive-normal: #fff;

  /* Main Color
		* Color Picker
		* https://www.google.com/search?q=color+picker
		* only use the RGB Value
	*/
  --mc: 18, 123, 99;
  --main-color: rgb(var(--mc));
  /* blurple - default: 114,137,218 */
  --accentcolor: var(--mc);
  /* link - default: 0,176,244 */
  --linkcolor: var(--mc);
  --modal-color: rgba(0, 0, 0, .8);
  --black: 0, 0, 0;
  --white: #fff;
  /* Main Background */
  --background-url: url(https://imageshack.com/a/img923/3067/MnOOku.png);
  /* --background-color: linear-gradient(to right, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .2) 35%,rgba(0, 0, 0, .2) 75%, rgba(0, 0, 0, .9) 100%) !important; */
  --background-color: rgba(0, 0, 0, .0);
  --background-brightness: 100%;
  --background-blur: 0px;
  --background-contrast: 100%;
  --background-grayscale: 0%;
  --background-hue-rotate: 0deg;
  --background-invert: 0%;
  --background-opacity: 100%;
  --background-saturate: 100%;
  --background-sepia: 0%;
   /* Foreground*/
  --foreground-url: var(--background-url);
  --foreground-color: rgba(0, 0, 0, .6);
  --foreground-blur: 5px;
  /* User Popout */
  --popout-url: url(https://imageshack.com/a/img923/3067/MnOOku.png);
  /*Only visible if no popout url, its behind the image*/
  --popout-bgc: rgba(0, 0, 0, .8);
  --popout-text-color: #fff;
  --popout-brightness: 100%;
  --popout-blur: 0px;
  --popout-contrast: 100%;
  --popout-grayscale: 0%;
  --popout-hue-rotate: 0deg;
  --popout-invert: 0%;
  --popout-opacity: 100%;
  --popout-saturate: 100%;
  --popout-sepia: 0%;
  /* Modal Popout */
  --modal-url: url(https://imageshack.com/a/img923/3067/MnOOku.png);
  /*Only visible if no popout url, its behind the image*/
  --modal-bgc: rgba(0, 0, 0, .8);
  --modal-text-color: #fff;
  --modal-brightness: 100%;
  --modal-blur: 0px;
  --modal-contrast: 100%;
  --modal-grayscale: 0%;
  --modal-hue-rotate: 0deg;
  --modal-invert: 0%;
  --modal-opacity: 100%;
  --modal-saturate: 100%;
  --modal-sepia: 0%;
  /* Home Icon */
  --home-icon: url(http://imageshack.com/a/img923/3067/MnOOku.png);
  --home-icon-bgc: rgb(18, 123, 99);
}


  
/************************************************************* RESTRUCTURING ************************************/
.app-1q1i1E{margin-top:0px;margin-right:22px;margin-bottom:22px;margin-left:22px;}
.app-2rEoOp{background-color:var(--foreground-color);border-radius:20px;}
.app-1q1i1E:before{content:"";position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-image:var(--foreground-url)!important;background-position:center center;background-size:auto;filter:blur(var(--foreground-blur));}

/* Chat */
.messagesWrapper-3lZDfY{background-color:rgba(0,0,0,.0);}
.chat-3bRxxu{background:transparent;}
.scroller-3sQKXg:after{height: 15px;}

/* Chat Input */
.innerNoAutocomplete-1WpcVO{background-color:rgba(0,0,0,.0);}
.form-2fGMdU{margin-left:0;margin-right:0;margin-top: 0px;}
.innerNoAutocomplete-1WpcVO{border-radius:0;}
.channelTextArea-rNsIhG{border-top:0px solid var(--main-color);}
.channelTextArea-rNsIhG{padding-top:0;margin-bottom:0;margin-bottom:16px;}

/* Member List */
.members-1998pB{background-color:rgba(0,0,0,.0);margin-bottom: 16px;}

/* Header LEFT*/
.container-2Rl01u{background-color:rgba(0,0,0,.0);z-index:1;margin-top:16px}

/* Header RIGHT*/
.container-1r6BKw.themed-ANHk51{background-color:rgba(0,0,0,.0);margin-top:16px}

/* Channel List  / Private Channel List */
.container-PNkimc .scrollerWrap-2lJEkd,.privateChannels-1nO12o{background-color:rgba(0,0,0,.0);margin-top:16px}

/* User Pannel */
.panels-j1Uci_{background-color:rgba(0,0,0,.0);margin-bottom: 16px;}

/* Guild List */
.scroller-2TZvBN{background-color:rgba(0,0,0,.0);margin-bottom: 16px;margin-top:16px}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Header */
.searchBar-3dMhjb{background-color: var(--channeltextarea-background);}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx{background-color: var(--channeltextarea-background);}

/*Header Server Settings dropdown*/
.item-1GzJrl:hover{background-color:var(--main-color);}
.item-1GzJrl:hover .label-1Y-LW5{color:var(--white);}
.item-1GzJrl:hover .iconContainer-2ZxvJk{color:var(--white);}
.item-1GzJrl:hover .iconContainer-2ZxvJk .premiumGuildIcon-BhwtRn{color:var(--white);}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*CHAT SECTION*/
/*Border Top Above Chat input*/
.channelTextArea-rNsIhG{border-top:none}

/*Chat Input Background*/
.theme-dark .inner-zqa7da{background-color:var(--chat-input-bgc);}

/*Messages and codeblocks*/
.markup-2BOw-j pre{background:rgba(0, 0, 0, 0.4)!important;border-radius:5px!important;}

/* Dividers */
.dividerContent-2L12VI:before{background-color:transparent;background: linear-gradient(to left, rgba(var(--mc), 1) 0%, rgba(var(--mc), 1) 65%, rgba(0, 0, 0, .1) 100%)}
.dividerContent-2L12VI:after{background-color:transparent;background: linear-gradient(to right, rgba(var(--mc), 1) 0%, rgba(var(--mc), 1) 65%, rgba(0, 0, 0, .1) 100%)}
.dividerRed-MKoLlr .dividerContent-2L12VI:before{background-color:transparent;background: linear-gradient(to left, rgba(var(--mc), 1) 0%, rgba(var(--mc), 1) 65%, rgba(0, 0, 0, .1) 100%)}
.dividerRed-MKoLlr .dividerContent-2L12VI:after{background-color:transparent;background: linear-gradient(to right, rgba(var(--mc), 1) 0%, rgba(var(--mc), 1) 65%, rgba(0, 0, 0, .1) 100%)}
.dividerEnabled-2TTlcf{display: none;}

/*New Message text*/
.dividerContent-2L12VI{font-size:20px;text-transform:none;font-weight:500;color:var(--main-color);text-align: center;}

/*Autocomplete Chat Input*/
.autocompleteRowVertical-q1K4ky .selectorSelected-1_M1WV{background-color: var(--main-color);}

/* You're Viwing Older Messages Jump to Present */
.jumpToPresentBar-9P20AM{left:auto!important;}

/*New Messages*/
.newMessagesBar-mujexs{background-color: var(--main-color);}

/* Typing */
.base-gE7OpD{bottom:-3px;}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Direct Message People List*/
.clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:active, .selected-aXhQR6.container-2Pjhx- {color: var(--white);}

/*Guild Channel List*/
.modeSelected-1zApJ_ .icon-1_QxNX, .modeSelected-1zApJ_:hover .icon-1_QxNX,  .modeUnread-1zpFdA:hover .icon-1_QxNX{color: var(--white);}
.wrapper-1ucjTd:hover  .icon-1_QxNX{color: var(--white);}
.modeSelected-1zApJ_ .name-3_Dsmg{color: var(--white);}
.modeUnread-1zpFdA:hover .name-3_Dsmg{color: var(--white);}
.modeMuted-3osy7j:hover .name-3_Dsmg, .wrapper-1ucjTd:hover .name-3_Dsmg{color: var(--white);}

/*Settings Tabs List*/
.selected-3s45Ha.item-PXvHYJ, .selected-3s45Ha.item-PXvHYJ:hover, .themed-OHr7kt.item-PXvHYJ:hover{color: var(--white);}
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {color:var(--channels-default);}
.theme-dark #bd-settings-sidebar .ui-tab-bar-separator{background-color: var(--background-modifier-accent);}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item{color: var(--interactive-normal)}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Guild Icons List*/

/*New Mention*/
.mention-1f5kbO{background-color: var(--main-color);}

/*Guild Separator*/
.guildSeparator-3s64Iy{background-color: var(--main-color);}

/*Guild Icon*/
.scroller-2FKFPG .listItem-2P_4kh .listItemWrapper-3X98Pc  .homeIcon-tEMBK1 {display: none;}
.scroller-2FKFPG .listItem-2P_4kh .listItemWrapper-3X98Pc foreignObject .childWrapper-anI2G9{background-image:var(--home-icon);background-color:var(--home-icon-bgc);background-size:cover;}

/*Notifications*/
.scroller-2FKFPG [class*="pill-"] .item-2hkk8m{background-color:var(--main-color);}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Popouts and Dropdowns */
/*Pinned Message and @mentions Dropdowns*/
.layer-v9HyYc .messagesPopoutWrap-1MQ1bW{background-color: var(--modal-color);}
.layer-v9HyYc .messageGroupWrapper-o-Zw7G{border: 1px solid var(--main-color);}

/*Emoji Picker*/
.emojiPicker-3m1S-j{background-color:var(--modal-color);}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU{background-color:transparent;}
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ{background-color:transparent;}
.emojiPicker-3m1S-j .category-2U57w6{background-color:transparent}
.emojiPicker-3m1S-j .header-1nkwgG .searchBar-2pWH0_{background-color:var(--modal-color)}

/*Gif Picker*/
.result-3w1ZcL:hover:after{box-shadow:inset 0 0 0 2px var(--main-color)!important;}
.autocomplete-1vrmpx{background:var(--modal-color)!important;background-repeat:no-repeat;background-size:cover!important;box-shadow:inset 0 0 0 1000px var(--modal-color);}
.da-categoryFadeBlurple{background:var(--main-color)!important;opacity:0.6!important;}

/*Upload*/
.theme-dark .uploadModal-2ifh8j {background-color: var(--modal-color)}
.theme-dark .uploadModal-2ifh8j .footer-3mqk7D{background-color: var(--modal-color)}
.theme-dark .uploadModal-2ifh8j .inner-3nWsbo{border: 2px dashed var(--main-color);}
.theme-dark .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j{border: 2px solid var(--main-color);}
.theme-dark .popout-2sKjHu{background: var(--modal-color)}
.theme-dark .optionActive-KkAdqq{background: var(--main-color)}
.theme-dark .lookFilled-1h1y05.select-1Pkeg4:focus, .theme-dark .lookFilled-1h1y05.select-1Pkeg4{background: var(--main-color)}

/*Gift Nitro*/
.theme-dark .root-1gCeng{background-color: var(--modal-color);}
.theme-dark .root-1gCeng .contentWrapper-2H52F3{background-color: var(--modal-color);}

/*Spotify Invite Button*/
.theme-dark .modal-yWgWj-{background-color: var(--modal-color)}
.theme-dark .footer-3rDWdC{background-color: var(--modal-color)}
.theme-dark .invite-18yqGF{background: transparent}

/*RTC Connection Popout*/
.container-2x5lvQ{background:var(--modal-color)!important;}
.container-2x5lvQ header{background:transparent!important;}
.container-2x5lvQ section{background:transparent!important;}

/*User popout (+) button add role menu*/
.row-rrHHJU.selected-1pIgLL{background:linear-gradient(90deg,rgba(var(--mc),.6),rgba(var(--mc),.2));}
.theme-dark .autocompleteArrow-Zxoy9H,.theme-dark .autocompleteHeaderBackground-30T70q{background-color:var(--modal-color);}
.theme-dark .container-VSDcQc .sectionTag-pXyto9{background-color:var(--modal-color);}

/*Search*/
/*Header Search Dropdown*/
.searchAnswer-3Dz2-q,.searchFilter-2ESiM3{background:rgba(255,255,255,0.05);}
.container-3ayLPN{background:var(--modal-color)!important;background-repeat:no-repeat!important;background-size:cover!important;box-shadow:0px 0px 1000px inset rgba(0,0,0,0.7)!important;}
.option-96V44q:after{display:none!important;}
.option-96V44q.selected-rZcOL-,.focused-2bY0OD,.da-searchHeader,.search-header{background:var(--modal-color)!important;border:none!important;}
.dim-1l4L4y span,.keybindShortcut-1BD6Z1 span{background:var(--main-color)!important;}
.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next,.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous,.searchAnswer-3Dz2-q{background-color:rgba(0,0,0,0.7)!important;}
.calendarPicker-2yf6Ci,.react-datepicker,.react-datepicker__header,.da-channelName,.da-resultsWrapper .da-containerCozy,.da-searchResultsWrap,.search-results-wrap,.channel-name,.results-wrapper .da-containerCozy{background:transparent!important;}
.da-resultsWrapper .containerCozy-jafyvG,.results-wrapper{padding-bottom:15px;}
.results-wrapper .da-containerCozy{padding-bottom:5px;}
.hintValue-29ny8Z,.react-datepicker__day--selected:after,.react-datepicker__day:hover,.searchFilter-2ESiM3,.jumpButton-Ia2hRJ{background:var(--main-color)!important;}
.react-datepicker__day{border:none!important;background:var(--modal-color)!important;transition:150ms ease all!important;}
.da-searchResultMessage.da-hit,.search-results-wrap .search-result .hit{box-shadow:none!important;border-color:var(--modal-color)!important;background:rgba(0,0,0,0.3)!important;}
.da-searchResult:before,.da-searchResult:after,.search-result:after,.search-result:before{display:none;}
.da-searchResultsWrap,.search-results-wrap{background:var(--modal-color)!important;background-size:cover!important;background-repeat:no-repeat!important;background-attachment:fixed!important;}

/*Search Menu*/
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV,.theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL,.theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO,.theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a{color:var(--main-color);}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover{background-color:red}

/*Search Result*/
.theme-dark .searchResultsWrap-2DKFzt{background-color:transparent;}
.theme-dark .searchHeader-1l-wpR{background-color:transparent;}
.theme-dark .searchResult-3pzFAB:before{background-image:none;}
.theme-dark .searchResult-3pzFAB:after{background-image:none;}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA{border:none;}
.theme-dark .searchResult-3pzFAB .hit-NLlWXA{-webkit-box-shadow:none;background-color:rgba(0, 0, 0, .5);box-shadow:none;}
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf{background-color:transparent;}
.theme-dark .channelSeparator-1X1FuH:before{border-color:transparent;display:none;}
.channelSeparator-1X1FuH{text-align:center;background-color:rgba(0, 0, 0, .5);}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Context Menus*/

/*DROP DOWN MENU - RIGHT CLICK */
.clickable-11uBi-:hover .label-JWQiNe{color:var(--white);}
.itemBase-tz5SeC.danger-2dXSTE:hover{color:var(--white);}

/*Checkbox*/
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span{background-color: var(--main-color); border-color: var(--main-color);}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Settings*/

/*Dropdowns*/
.css-181m2lf-menu{background-color:var(--modal-color);border-color:var(--main-color);}
.css-1gnr91b-option:hover{background-color:var(--main-color);}

/* Switches */
.themeDefault-24hCdX{background-color:var(--modal-color);}

/*Hover Member Server Setting Params*/
.theme-dark .card-FDVird:before{background-color:rgba(var(--mc),.8);}

/* My Account*/
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g{background: rgba(var(--black),.4)}
.userSettingsAccount-2eMFVR .viewBody-2Qz-jg span {filter: blur(3px);}
.userSettingsAccount-2eMFVR .viewBody-2Qz-jg span:hover {filter: blur(0px);}
.userSettingsAccount-2eMFVR .viewBody-2Qz-jg.selectable-x8iAUj{filter: blur(3px);}
.userSettingsAccount-2eMFVR .viewBody-2Qz-jg.selectable-x8iAUj:hover{filter: blur(0px);}
.description-3_Ncsb.formText-3fs7AJ.marginBottom8-AtZOdT.modeDefault-3a2Ph1.primary-jw0I4K{filter: blur(3px);}
.description-3_Ncsb.formText-3fs7AJ.marginBottom8-AtZOdT.modeDefault-3a2Ph1.primary-jw0I4K:hover{filter: blur(0px);}

/*Billing*/
.theme-dark .paymentPane-3bwJ6A{background-color: rgba(0,0,0,.6);}
.theme-dark .paginator-166-09{background-color: transparent;}
.theme-dark .bottomDivider-1K9Gao{border-bottom-color: var(--main-color);}
.theme-dark .payment-xT17Mq{background-color: rgba(0,0,0,.2);}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Activity*/
.theme-dark .emptyCard-3CNsz2{background-color: rgba(0, 0, 0, 0.5);}
.theme-dark .inset-GQDQYw{background-color: rgba(0, 0, 0, 0.5);}
.theme-dark .recentlyPlayedContainer-2F3MqS{background-color: rgba(0, 0, 0, 0.5);}
