/**
 * @name Nice View
 * @author lepetitpaco
 * @version 1
 * @description Just a Nice view
 */

 @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);


 /* Settings Specific to Dark Theme Set */
 .theme-dark {
    --background-primary: transparent;
 	--background-secondary: transparent;
 	--background-tertiary: transparent;
 	--deprecated-store-bg: transparent;
 	--deprecated-panel-background: transparent;
 	--channeltextarea-background: var(--modal-color);
 	--background-floating: var(--modal-color);
 	--activity-card-background: var(--modal-color);
 	--background-modifier-hover: rgba(var(--mc),.2);
 	--background-modifier-active: rgba(var(--mc),.2);
 	--background-modifier-selected: rgba(var(--mc),.2);
 	--background-modifier-accent: rgba(var(--mc),.2);
 	--header-primary: #fff;
 	--header-secondary: #fff;
 	--text-normal: #fff;
 	--text-muted: rgba(var(--mc),.2);
 	--text-link: rgb(var(--mc));
     --interactive-hover: rgba(var(--mc));
     --interactive-active: rgba(var(--mc));
     --interactive-muted: rgba(var(--mc),.5);
     --background-accent: rgb(var(--mc));
     --logo-primary: rgb(var(--mc));
 	--channels-default: #fff;
 	--interactive-normal:#fff;

 	/* Main Color
 		* Color Picker
 		* https://www.google.com/search?q=color+picker
 		* only use the RGB Value
 	*/
    --mc : 18, 123, 99;
    --main-color: rgb(var(--mc));
    --accentcolor: var(--mc);		/* blurple - default: 114,137,218 */
    --linkcolor: var(--mc);	/* link - default: 0,176,244 */


    --modal-color: rgba(0,0,0,.8);
    --background-url: url(https://i.imgur.com/g5g1tAu.jpg);
	--background-brightness: 100%;
    --background-blur: blur(5px);
    --popout-bgc:rgba(0,0,0,.8);
    --modal-bgc:rgba(0,0,0,.8);
  }

  /************************************************************* Fonts ***************************************/
  ::placeholder,body,button,input,select,textarea{
  /* font-family:Consolas, Courrier New, Whitney,Helvetica Neue,Helvetica,Arial,sans-serif; */
      font-size:14px;line-height:1.5;}

  /************************************************************* TAKES CARE OF OVERALL TRANSPARENCY - NO COLORING - NO RESHAPING *************************************************************/
  /*Main Background*/
  body{-webkit-backface-visibility:hidden;backface-visibility:hidden;}
  body::after{z-index:-9999;}
  body::after{background-image:var(--background-url)!important;filter:brightness(var(--background-brightness));}
  body::after,.callout-backdrop::after{background-position:center;background-size:cover;content:"";height:100%;left:0;position:absolute;top:0;width:100%;}

  /*Container*/
  .app,.layers,.layer,.container-2lgZY8,.theme-dark .layer-3QrUeG,.theme-dark .layers-3iHuyZ,.appMount-3lHmkl,.container-1D34oG{background-color:transparent!important;background:transparent!important;}
  .bg-h5JY_x{background:var(--background-color);}

  /*Container Background*/
  /* Dark Line Above Chat and Channels*/
  .content-yTz4x3:before{display:none;}
  .header-2o-2hj{box-shadow:none;}

  /*Friends BG (Will probably be updated at some point to a var)*/
  .theme-dark .container-3gCOGc{background-color:transparent;}

  /************************************************************* RESTRUCTURING ************************************/
  .app-1q1i1E{margin-top:0px;margin-right:22px;margin-bottom:22px;margin-left:22px;}
  .app-1q1i1E:before{content:"";position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-image:var(--background-url)!important;background-position:center;background-size:cover;filter:var(--background-blur)!important;}
  .app-2rEoOp{background-color:rgba(0,0,0,.6);border-radius:20px;}

  /* Chat */
  .messagesWrapper-3lZDfY{background-color:rgba(0,0,0,.0);}
  .chat-3bRxxu{background:transparent;}

  /* Chat Input */
  .innerNoAutocomplete-1WpcVO{background-color:rgba(0,0,0,.0);}
  .form-2fGMdU{margin-left:0;margin-right:0;}
  .innerNoAutocomplete-1WpcVO{border-radius:0;}
  .channelTextArea-rNsIhG{border-top:0px solid var(--main-color);}
  .channelTextArea-rNsIhG{padding-top:0;margin-bottom:0;}

  /* Member List */
  .members-1998pB{background-color:rgba(0,0,0,.0);}

  /* Header LEFT*/
  .container-2Rl01u{background-color:rgba(0,0,0,.0);z-index:1;}

  /* Header RIGHT*/
  .container-1r6BKw.themed-ANHk51{background-color:rgba(0,0,0,.0);}

  /* Channel List  / Private Channel List */
  .container-PNkimc .scrollerWrap-2lJEkd,.privateChannels-1nO12o{background-color:rgba(0,0,0,.0);}

  /* User Pannel */
  .panels-j1Uci_{background-color:rgba(0,0,0,.0);}

  /* Guild List */
  .scroller-2TZvBN{background-color:rgba(0,0,0,.0);}

  /*Scrollbar*/
  ::-webkit-scrollbar-thumb{background-color:rgb(var(--mc))!important;border-color:rgb(var(--mc))!important;border-radius:10px!important;}
  ::-webkit-scrollbar,::-webkit-scrollbar-track-piece{background:transparent!important;border-color:transparent!important;width:6px!important;}
  ::-webkit-scrollbar-corner{display:none!important;}

  /************************************************************* USER POPOUT ONLY *************************************************************/

  /*User Popout*/

  /*Background*/
  .userPopout-3XzG_A::before{content:"";position:absolute;top:0px;right:0px;bottom:0px;left:0px;z-index:-1;background-position:center;background-color:var(--popout-bgc);}

  /*Header Body Footer*/

  /*Text Coloring*/
  .userPopout-3XzG_A .bodyTitle-Y0qMQz{color:var(--popout-text-color);}
  .userPopout-3XzG_A .headerTag-2pZJzA{color:var(--popout-text-color);}
  .userPopout-3XzG_A .roleName-32vpEy{color :var(--popout-text-color);}
  .userPopout-3XzG_A .note-3kmerW textarea{color :var(--popout-text-color);}
  .userPopout-3XzG_A .note-3kmerW textarea::placeholder{color :var(--popout-text-color);}
  .userPopout-3XzG_A .quickMessage-2XpSaN{color :var(--popout-text-color);}
  .userPopout-3XzG_A .quickMessage-2XpSaN::placeholder{color :var(--popout-text-color);}
  .userPopout-3XzG_A .headerText-1HLrL7{color:var(--popout-text-color)!important;}
  .userPopout-3XzG_A .activityName-1IaRLn{color:var(--popout-text-color)!important;}
  .activityUserPopout-2yItg2 .content-3JfFJh{color:var(--popout-text-color)!important;}
  .activityUserPopout-2yItg2 .details-38sfDr{color:var(--popout-text-color)!important;}
  .activityUserPopout-2yItg2 .name-29ETJS{color:var(--popout-text-color)!important;}

  /*Foreground Grays to Transparent*/
  .userPopout-3XzG_A .headerNormal-T_seeN{background-color:transparent!important;}
  .userPopout-3XzG_A .bodyInner-245q0L{background-color:transparent!important;}
  .userPopout-3XzG_A .footer-1fjuF6{background-color:transparent!important;}
  .userPopout-3XzG_A .headerPlaying-j0WQBV{background:transparent!important;}
  .userPopout-3XzG_A .headerSpotify-zpWxgT{background:transparent!important;}
  .userPopout-3XzG_A .headerStreaming-2FjmGz{background:transparent!important;}
  .userPopout-3XzG_A .activity-11LB_k{background:transparent!important;}

  /*Quick Chat Input*/
  .userPopout-3XzG_A .quickMessage-2XpSaN{background:rgba(0,0,0,0.4);}
  .userPopout-3XzG_A .quickMessage-2XpSaN{border:1px solid var(--main-color);}

  /*User popout without Angles + Borders*/
  .userPopout-3XzG_A{box-shadow:none;border-radius:10px;}

  /************************************************************* MODAL POPOUT ONLY *************************************************************/

  /*Background*/
  .root-SR8cQa::before{content:"";position:absolute;top:0px;right:0px;bottom:0px;left:0px;z-index:-1;background-color:var(--modal-bgc);}

  /*Size*/
  .root-SR8cQa{border-radius:10px;box-shadow:none;}

  /*Backgrounds Transparent*/
  .root-SR8cQa .topSectionPlaying-1J5E4n{background:transparent!important;}
  .root-SR8cQa .topSectionSpotify-1lI0-P{background:transparent!important;}
  .root-SR8cQa .topSectionStreaming-1Tpf5X{background:transparent!important;}

  /*All text Colors Cuz I'm lazy*/
  .root-SR8cQa .username-2b1r56{color:var(--modal-text-color)!important;}
  .root-SR8cQa .discriminator-xUhQkU{color:var(--modal-text-color)!important;opacity:1}
  .root-SR8cQa .headerText-1HLrL7{color:var(--modal-text-color)!important;}
  .root-SR8cQa .activityName-1IaRLn{color:var(--modal-text-color)!important;}
  .root-SR8cQa .details-38sfDr{color:var(--modal-text-color)!important;}
  .root-SR8cQa .textRow-19NEd_ span{color:var(--modal-text-color)!important;}
  .root-SR8cQa .timestamp-VjAZmo{color:var(--modal-text-color)!important;}
  .root-SR8cQa .note-QfFU8y textarea{color:var(--modal-text-color);}
  .root-SR8cQa .note-QfFU8y textarea::placeholder{color:var(--modal-text-color);}
  .root-SR8cQa .connectedAccountName-f8AEe2{color:var(--modal-text-color);}
  .root-SR8cQa .connectedAccountOpenIcon-2cNbq5{color:var(--modal-text-color);}

  /*Linked Accounts*/
  .root-SR8cQa .connectedAccount-36nQx7{border:1px solid var(--main-color);background-color:rgba(0,0,0,0.4)}

  /**************************************** CHAT *****************************************************************/
  /*Profile Picture in Chat*/
  .containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA foreignObject img.avatar-VxgULZ {border-radius: 5px!important;}
  .containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA foreignObject {-webkit-mask: none;mask: none;}

  /*Autocomplete*/
  .theme-dark .autocomplete-1vrmpx{background-color:var(--modal-color);}
  .autocompleteRowVertical-q1K4ky .selectorSelected-1_M1WV{background-color:var(--main-color);}

  /*Emoji Picker*/
  .emojiPicker-3m1S-j{background-color:var(--modal-color)}

  /*Typing Notice*/
  .base-gE7OpD {
    bottom: 40px;
  }
  .base-gE7OpD .text-1y-e8-{
    margin-left: 5px;
  }

  /**************************************** HEADER LEFT ********************************************************/

  /*Server Settings dropdown*/
  .item-1GzJrl:hover{background-color:var(--main-color);}

  /**************************************** SETTINGS *************************************************************/

  /*Voice & Video */

  /*Dropdown Menu */
  .css-181m2lf-menu{background-color:var(--modal-color);border-color:var(--main-color);}

  /* Changelog */
  .theme-dark .modal-yWgWj-{background-color:var(--modal-color);-webkit-box-shadow:0 0 0 1px rgba(var(--mc),.6),0 2px 10px 0 rgba(0,0,0,.2);box-shadow:0 0 0 1px rgba(var(--mc),.6),0 2px 10px 0 rgba(0,0,0,.2);}
  .theme-dark .footer-3rDWdC{background-color:var(--modal-color);-webkit-box-shadow:inset 0 1px 0 rgba(var(--mc),.6);box-shadow:inset 0 1px 0 rgba(var(--mc),.6);}

  /*Better Discord Elements*/
  .theme-dark .bda-slist li{background-color:var(--modal-color);color:#fff;border-color:var(--main-color);}
  /*better formatting redux*/
  .bf-toolbar::before{background:var(--modal-color)!important;}

  /*BD Clock*/
  #dv-mount{background-color:transparent;}
