/**
 * @name Nice View
 * @author lepetitpaco
 * @version 1
 * @description Just a Nice view
 */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);
@import url(https://lepetitpaco.github.io/SomeCSS/starter-pack/StarterPack.css);

.theme-dark {
  --background-primary: transparent;
  --background-secondary: transparent;
  --background-secondary-alt: transparent;
  --background-tertiary: transparent;
  --deprecated-store-bg: transparent;
  --deprecated-panel-background: transparent;
  --channeltextarea-background: var(--modal-color);
  --background-floating: var(--modal-color);
  --activity-card-background: var(--modal-color);
  --background-modifier-hover: rgba(var(--mc), .2);
  --background-modifier-active: rgba(var(--mc), .2);
  --background-modifier-selected: rgba(var(--mc), .2);
  --background-modifier-accent: rgba(var(--mc), .2);
  --header-primary: #fff;
  --header-secondary: #fff;
  --text-normal: #fff;
  --text-muted: rgba(var(--mc), .2);
  --text-link: rgb(var(--mc));
  --interactive-hover: rgba(var(--mc));
  --interactive-active: rgba(var(--mc));
  --interactive-muted: rgba(var(--mc), .5);
  --background-accent: rgb(var(--mc));
  --logo-primary: rgb(var(--mc));
  --channels-default: #fff;
  --interactive-normal: #fff;

  /* Main Color
		* Color Picker
		* https://www.google.com/search?q=color+picker
		* only use the RGB Value
	*/
  --mc: 18, 123, 99;
  --main-color: rgb(var(--mc));
  /* blurple - default: 114,137,218 */
  --accentcolor: var(--mc);
  /* link - default: 0,176,244 */
  --linkcolor: var(--mc);
  --modal-color: rgba(0, 0, 0, .8);
  --black: 0, 0, 0;
  --white: #fff;
  /* Main Background */
  --background-url: url(https://i.imgur.com/g5g1tAu.jpg);
  /* --background-color: linear-gradient(to right, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .2) 35%,rgba(0, 0, 0, .2) 75%, rgba(0, 0, 0, .9) 100%) !important; */
  --background-color: rgba(0, 0, 0, .0);
  /*0 To no use it, then 1 to whatever*/
  --layers-opacity: 0;
  --background-brightness: 100%;
  --background-blur: 0px;
  --background-contrast: 100%;
  --background-grayscale: 0%;
  --background-hue-rotate: 0deg;
  --background-invert: 0%;
  --background-opacity: 100%;
  --background-saturate: 100%;
  --background-sepia: 0%;
  /* Foreground*/
  --foreground-url: url(https://i.imgur.com/g5g1tAu.jpg);
  /* --foreground-color: linear-gradient(to right, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .2) 35%,rgba(0, 0, 0, .2) 75%, rgba(0, 0, 0, .9) 100%) !important; */
  --foreground-color: rgba(0, 0, 0, .0);
  /*0 To no use it, then 1 to whatever*/
  --layers-opacity: 0;
  --foreground-brightness: 100%;
  --foreground-blur: 5px;
  --foreground-contrast: 100%;
  --foreground-grayscale: 0%;
  --foreground-hue-rotate: 0deg;
  --foreground-invert: 0%;
  --foreground-opacity: 100%;
  --foreground-saturate: 100%;
  --foreground-sepia: 0%;
  /* User Popout */
  --popout-url: url(https://i.imgur.com/g5g1tAu.jpg);
  /*Only visible if no popout url, its behind the image*/
  --popout-bgc: rgba(0, 0, 0, .8);
  --popout-text-color: #fff;
  --popout-brightness: 100%;
  --popout-blur: 0px;
  --popout-contrast: 100%;
  --popout-grayscale: 0%;
  --popout-hue-rotate: 0deg;
  --popout-invert: 0%;
  --popout-opacity: 100%;
  --popout-saturate: 100%;
  --popout-sepia: 0%;
  /* Modal Popout */
  --modal-url: url(https://i.imgur.com/g5g1tAu.jpg);
  /*Only visible if no popout url, its behind the image*/
  --modal-bgc: rgba(0, 0, 0, .8);
  --modal-text-color: #fff;
  --modal-brightness: 100%;
  --modal-blur: 0px;
  --modal-contrast: 100%;
  --modal-grayscale: 0%;
  --modal-hue-rotate: 0deg;
  --modal-invert: 0%;
  --modal-opacity: 100%;
  --modal-saturate: 100%;
  --modal-sepia: 0%;
  /* Home Icon */
  --home-icon: url(https://i.imgur.com/zbuViIc.png);
  --home-icon-bgc: rgb(18, 123, 99);
}

  
/************************************************************* RESTRUCTURING ************************************/
.app-1q1i1E{margin-top:0px;margin-right:22px;margin-bottom:22px;margin-left:22px;}
.app-1q1i1E:before{content:"";position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-image:var(--foreground-url)!important;background-position:center;background-size:cover;filter:brightness(var(--foreground-brightness))blur(var(--foreground-blur))contrast(var(--foreground-contrast))grayscale(var(--foreground-grayscale))hue-rotate(var(--foreground-hue-rotate))invert(var(--foreground-invert))opacity(var(--foreground-opacity))saturate(var(--foreground-saturate))sepia(var(--foreground-sepia));}
.app-2rEoOp{background-color:rgba(0,0,0,.6);border-radius:20px;}

/* Chat */
.messagesWrapper-3lZDfY{background-color:rgba(0,0,0,.0);}
.chat-3bRxxu{background:transparent;}

/* Chat Input */
.innerNoAutocomplete-1WpcVO{background-color:rgba(0,0,0,.0);}
.form-2fGMdU{margin-left:0;margin-right:0;}
.innerNoAutocomplete-1WpcVO{border-radius:0;}
.channelTextArea-rNsIhG{border-top:0px solid var(--main-color);}
.channelTextArea-rNsIhG{padding-top:0;margin-bottom:0;}

/* Member List */
.members-1998pB{background-color:rgba(0,0,0,.0);}

/* Header LEFT*/
.container-2Rl01u{background-color:rgba(0,0,0,.0);z-index:1;}

/* Header RIGHT*/
.container-1r6BKw.themed-ANHk51{background-color:rgba(0,0,0,.0);}

/* Channel List  / Private Channel List */
.container-PNkimc .scrollerWrap-2lJEkd,.privateChannels-1nO12o{background-color:rgba(0,0,0,.0);}

/* User Pannel */
.panels-j1Uci_{background-color:rgba(0,0,0,.0);}

/* Guild List */
.scroller-2TZvBN{background-color:rgba(0,0,0,.0);}

/*Scrollbar*/
::-webkit-scrollbar-thumb{background-color:rgb(var(--mc))!important;border-color:rgb(var(--mc))!important;border-radius:10px!important;}
::-webkit-scrollbar,::-webkit-scrollbar-track-piece{background:transparent!important;border-color:transparent!important;width:6px!important;}
::-webkit-scrollbar-corner{display:none!important;}

/**************************************** CHAT *****************************************************************/

/*Profile Picture in Chat*/
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA foreignObject img.avatar-VxgULZ{border-radius:5px!important;}
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA foreignObject{-webkit-mask:none;mask:none;}

/*Autocomplete*/
.theme-dark .autocomplete-1vrmpx{background-color:var(--modal-color);}
.autocompleteRowVertical-q1K4ky .selectorSelected-1_M1WV{background-color:var(--main-color);}

/*Emoji Picker*/
.emojiPicker-3m1S-j{background-color:var(--modal-color)}

/*Typing Notice*/
.base-gE7OpD{bottom:40px;}
.base-gE7OpD .text-1y-e8-{margin-left:5px;}

/**************************************** HEADER LEFT ********************************************************/

/*Server Settings dropdown*/
.item-1GzJrl:hover{background-color:var(--main-color);}
.item-1GzJrl:hover .label-1Y-LW5{color:var(--white);}
.item-1GzJrl:hover .iconContainer-2ZxvJk{color:var(--white);}
.item-1GzJrl:hover .iconContainer-2ZxvJk .premiumGuildIcon-BhwtRn{color:var(--white);}

/**************************************** DROP DOWN MENU - RIGHT CLICK *****************************************/
.clickable-11uBi-:hover .label-JWQiNe{color:var(--white);}
.itemBase-tz5SeC.danger-2dXSTE:hover{color:var(--white);}

/************************************* Channel List - DM List - Settings Tabs **********************************/

/*DMS*/
.clickable-1JJAn8.container-2Pjhx-:hover,.clickable-1JJAn8.container-2Pjhx-:active,.selected-aXhQR6.container-2Pjhx-{color:var(--white);}

/*CHANNELS*/
.modeSelected-1zApJ_ .icon-1_QxNX,.modeSelected-1zApJ_:hover .icon-1_QxNX,.modeUnread-1zpFdA:hover .icon-1_QxNX{color:var(--white);}
.wrapper-1ucjTd:hover  .icon-1_QxNX{color:var(--white);}
.modeSelected-1zApJ_ .name-3_Dsmg{color:var(--white);}
.modeUnread-1zpFdA:hover .name-3_Dsmg{color:var(--white);}
.modeMuted-3osy7j:hover .name-3_Dsmg,.wrapper-1ucjTd:hover .name-3_Dsmg{color:var(--white);}

/*SETTINGS*/
.selected-3s45Ha.item-PXvHYJ,.selected-3s45Ha.item-PXvHYJ:hover,.themed-OHr7kt.item-PXvHYJ:hover{color:var(--white);}
.theme-dark #bd-settings-sidebar .ui-tab-bar-header{color:var(--channels-default);}
.theme-dark #bd-settings-sidebar .ui-tab-bar-separator{background-color:var(--background-modifier-accent);}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item{color:var(--interactive-normal)}
  
/**************************************** SETTINGS *************************************************************/

/*Voice & Video */

/*Dropdown Menu */
.css-181m2lf-menu{background-color:var(--modal-color);border-color:var(--main-color);}

/* Changelog */
.theme-dark .modal-yWgWj-{background-color:var(--modal-color);-webkit-box-shadow:0 0 0 1px rgba(var(--mc),.6),0 2px 10px 0 rgba(0,0,0,.2);box-shadow:0 0 0 1px rgba(var(--mc),.6),0 2px 10px 0 rgba(0,0,0,.2);}
.theme-dark .footer-3rDWdC{background-color:var(--modal-color);-webkit-box-shadow:inset 0 1px 0 rgba(var(--mc),.6);box-shadow:inset 0 1px 0 rgba(var(--mc),.6);}

/*Better Discord Elements*/
.theme-dark .bda-slist li{background-color:var(--modal-color);color:#fff;border-color:var(--main-color);}

/*better formatting redux*/
.bf-toolbar::before{background:var(--modal-color)!important;}