/**
 * @name Origin v2 dev
 * @author Paco
 * @version 0.5.2
 * @description Second Dev Version of Origin
 */

/*===============================Default Settings===============================*/
/* Default Theme Dark and Light Settings, don't touch */
.theme-dark {
	--header-primary: #fff;
	--header-secondary: #b9bbbe;
	--text-normal: #dcddde;
	--text-muted: #72767d;
	--text-link: #00b0f4;
	--channels-default: #8e9297;
	--interactive-normal: #b9bbbe;
	--interactive-hover: #dcddde;
	--interactive-active: #fff;
	--interactive-muted: #4f545c;
	--background-primary: #36393f;
	--background-secondary: #2f3136;
	--background-tertiary: #202225;
	--background-accent: #4f545c;
	--background-floating: #18191c;
	--background-modifier-hover: rgba(79, 84, 92, 0.16);
	--background-modifier-active: rgba(79, 84, 92, 0.24);
	--background-modifier-selected: rgba(79, 84, 92, 0.32);
	--background-modifier-accent: hsla(0, 0%, 100%, 0.06);
	--elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
	--logo-primary: #fff;
	--guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	--channeltextarea-background: #40444b;
	--activity-card-background: #202225;
	--deprecated-panel-background: #292b2f;
	--deprecated-card-bg: rgba(32, 34, 37, 0.6);
	--deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
	--deprecated-store-bg: #36393f;
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
	--deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
	--deprecated-text-input-border: rgba(0, 0, 0, 0.3);
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
}
.theme-light {
	--header-primary: #060607;
	--header-secondary: #4f5660;
	--text-normal: #2e3338;
	--text-muted: #747f8d;
	--text-link: #0067e0;
	--channels-default: #6a7480;
	--interactive-normal: #4f5660;
	--interactive-hover: #2e3338;
	--interactive-active: #060607;
	--interactive-muted: #c7ccd1;
	--background-primary: #fff;
	--background-secondary: #f2f3f5;
	--background-tertiary: #e3e5e8;
	--background-accent: #747f8d;
	--background-floating: #fff;
	--background-modifier-hover: rgba(116, 127, 141, 0.08);
	--background-modifier-active: rgba(116, 127, 141, 0.16);
	--background-modifier-selected: rgba(116, 127, 141, 0.24);
	--background-modifier-accent: rgba(6, 6, 7, 0.08);
	--elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.16);
	--logo-primary: #7289da;
	--guild-header-text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.4);
	--channeltextarea-background: #ebedef;
	--activity-card-background: #fff;
	--deprecated-panel-background: #ebedef;
	--deprecated-card-bg: #f8f9f9;
	--deprecated-card-editable-bg: rgba(246, 246, 247, 0.6);
	--deprecated-store-bg: #f8f9f9;
	--deprecated-quickswitcher-input-background: #fff;
	--deprecated-quickswitcher-input-placeholder: rgba(79, 84, 92, 0.3);
	--deprecated-text-input-bg: rgba(79, 84, 92, 0.02);
	--deprecated-text-input-border: rgba(79, 84, 92, 0.3);
	--deprecated-text-input-border-hover: #b9bbbe;
	--deprecated-text-input-border-disabled: #dcddde;
	--deprecated-text-input-prefix: #b9bbbe;
}

/* Settings Common to both sets */
.theme-dark,
.theme-light {
	--background-primary: transparent;
	--background-secondary: transparent;
	--background-tertiary: transparent;
	--deprecated-store-bg: transparent;
	--deprecated-panel-background: transparent;
	--text-link: var(--main-color);
	--background-modifier-hover: var(--main-color);
	/* Profile Picture in Chat */
	--pfp-size: 65px;
	--adjust-content : -7px;
	/*Home Icon*/
	--home-icon: url(https://i.imgur.com/rObbX3K.png);
	--home-icon-bg-color: #00151c;
}

/* Settings Specific to Dark Theme Set */
.theme-dark {
	/* Main Discord Settings */
	--background-floating: rgba(0,0,0,.8); /*Context Menus*/
	--channels-default: #fff;/*Text and Voice Chats*/
	--interactive-normal: #fff;
	--interactive-hover: #fff;
	--interactive-active: #fff;
	--interactive-muted: #2b2b2b;
	/* Main Color
		* Color Picker
		* https://www.google.com/search?q=color+picker
		* only use the RGB Value
	*/
	--mc : 43, 121, 255;
	--main-color: rgb(var(--mc));
	/* Main Background */
    --background-url: url(https://i.imgur.com/lsMGvvH.jpg);
	--background-brightness: 80%;
	--background-color: linear-gradient(to right, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .2) 35%,rgba(0, 0, 0, .2) 75%, rgba(0, 0, 0, .9) 100%) !important;
	/*==== User Popout ====*/
	--popout-url: url(https://i.imgur.com/1BTjsDO.jpg);
	--popout-brightness: 80%;
	--popout-text-color: #fff;
	/*==== Modal Popout ====*/
	--modal-url: url(https://i.imgur.com/Cd8FGo0.png);
	--modal-brightness: 80%;
	--modalPopout-width: 900px;
	--modalPopout-height: 650px;
	--modal-text-color: #fff;
	/*Home Icon*/
	--home-icon: url(https://i.imgur.com/rObbX3K.png);
	--home-icon-bg-color: #00151c;

}
/* Settings Specific to Light Theme Set */
.theme-light {
	/* Main Discord Settings */
	--background-floating: rgba(255, 255, 255, 0.8);
	--channels-default: #000000;/*Text and Voice Chats*/
	--interactive-normal: #000000;
	--interactive-hover: #000000;
	--interactive-active: #000000;
	--interactive-muted: #b2b2b2;
	/* Main Color
		* Color Picker
		* https://www.google.com/search?q=color+picker
		* only use the RGB Value
	*/
	--mc : 43, 121, 255;
	--main-color: rgb(var(--mc));
	/* Main Background */
    --background-url: url(https://i.imgur.com/mMkFCWY.png);
	--background-brightness: 70%;
	--background-color: rgba(255,255,255,.3) !important;
	/*==== User Popout ====*/
	--popout-url: url(https://i.imgur.com/ofMwBOV.jpg);
	--popout-brightness: 100%;
	--popout-text-color: #000;
	/*==== Modal Popout ====*/
	--modal-url: url(https://i.imgur.com/f1NM3Mi.png);
	--modal-brightness: 100%;
	--modalPopout-width: 900px;
	--modalPopout-height: 650px;
	--modal-text-color: #000;
	/*Home Icon*/
	--home-icon: url(https://i.imgur.com/rObbX3K.png);
	--home-icon-bg-color: #00151c;
}

/*Friends BG (Will probably be updated at some point to a var)*/
.theme-dark .container-3gCOGc{background-color: transparent;}
.theme-light .container-3gCOGc {background-color: transparent;}

/************************************************************* TAKES CARE OF OVERALL TRANSPARENCY - NO COLORING - NO RESHAPING *************************************************************/
/*Main Background*/
body{-webkit-backface-visibility:hidden;backface-visibility:hidden;}
body::after{z-index:-9999;}
body::after,.callout-backdrop::after{background-position:center;background-size:cover;content:"";height:100%;left:0;position:absolute;top:0;width:100%;}
/*Container*/
.app,.layers,.layer,.container-2lgZY8,.theme-dark .layer-3QrUeG,.theme-dark .layers-3iHuyZ,.appMount-3lHmkl{background-color:transparent!important;background:transparent!important;}
.typeWindows-1za-n7,.app-19_DXt{background: var(--background-color);}
.withFrame-haYltI{margin-top:0px;}
/*Container Background*/
body::after{background-image:var(--background-url)!important;filter:brightness(var(--background-brightness));}
/* Dark Line Above Chat and Channels*/
.content-yTz4x3:before{display: none;}
.header-2o-2hj{box-shadow: none;}

/************************************************************* TAKES CARE OF GLOBAL ELEMENTS *************************************************************/

/*Scrollbar*/
::-webkit-scrollbar-thumb{background:var(--main-color)!important;border-color:var(--main-color)!important;}
::-webkit-scrollbar,::-webkit-scrollbar-track-piece{background:transparent!important;border-color:transparent!important;width:6px!important;}
::-webkit-scrollbar-corner{display:none!important;}
/* Buttons */
.lookFilled-1Gx00P.colorGreen-29iAKY {background-color: var(--main-color);}
.lookFilled-1Gx00P.colorBrand-3pXr91{background-color: var(--main-color);}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6{background-color: var(--main-color);}
.theme-light .lookFilled-1Gx00P.colorPrimary-3b3xI6{background-color: var(--main-color);}

/************************************************************* CHAT SECTION *************************************************************/
/* Profile Picture in Chat*/
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA {width: var(--pfp-size)!important;height: var(--pfp-size)!important;background-repeat: no-repeat; cursor: pointer;opacity: 1;-webkit-transition: opacity .2s ease;transition: opacity .2s ease;}
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA foreignObject {-webkit-mask: none;mask: none;}
.containerCozyBounded-1rKFAn .avatar-17mtNa .wrapper-3t9DeA foreignObject img.avatar-VxgULZ {border-radius: 5px!important;}
.contentCozy-3XX413{margin-left: calc(var(--adjust-content) + 80px + var(--pfp-size)/2);}
/*Message Wrapper*/
/*Border Top Above Chat input*/
.channelTextArea-rNsIhG{border-top:none}
/*Chat Input Background*/
.theme-dark .inner-zqa7da{background-color:rgba(0,0,0,.7);}
.theme-light .inner-zqa7da{background-color:rgba(255,255,255,.7);}
/*Messages and codeblocks*/
.markup-2BOw-j pre{background:rgba(0, 0, 0, 0.4);!important;border-radius:5px!important;}
/* Dividers */
.dividerContent-2L12VI:before{background-color:transparent;background: linear-gradient(to left, rgba(var(--mc), 1) 0%, rgba(var(--mc), 1) 65%, rgba(0, 0, 0, .1) 100%)}
.dividerContent-2L12VI:after{background-color:transparent;background: linear-gradient(to right, rgba(var(--mc), 1) 0%, rgba(var(--mc), 1) 65%, rgba(0, 0, 0, .1) 100%)}
.dividerRed-MKoLlr .dividerContent-2L12VI:before{background-color:transparent;background: linear-gradient(to left, rgba(var(--mc), 1) 0%, rgba(var(--mc), 1) 65%, rgba(0, 0, 0, .1) 100%)}
.dividerRed-MKoLlr .dividerContent-2L12VI:after{background-color:transparent;background: linear-gradient(to right, rgba(var(--mc), 1) 0%, rgba(var(--mc), 1) 65%, rgba(0, 0, 0, .1) 100%)}
.dividerEnabled-2TTlcf{display: none;}
/*New Message text*/
.dividerContent-2L12VI{font-size:20px;text-transform:none;font-weight:500;color:var(--main-color);text-align: center;}
/* You're Viwing Older Messages Jump to Present */
.chat-3bRxxu .jumpToPresentBar-9P20AM button:first-child{background-color: var(--main-color)}
.jumpToPresentBar-9P20AM{left:auto!important;background-color: var(--main-color)}
/*New Messages*/
.newMessagesBar-mujexs{background-color: var(--main-color);}

/************************************************************* USER POPOUT ONLY *************************************************************/
/*User Popout*/
/*Background*/
.userPopout-3XzG_A::before{content:"";position:absolute;top:0;right:0px;bottom:0px;left:0px;z-index:-1;background-position:center;background-image:var(--popout-url);background-size:cover;background-repeat:no-repeat;filter:brightness(var(--popout-brightness));background-color:var(--popout-bgc);}

/*Header Body Footer*/
/*Text Coloring*/
.userPopout-3XzG_A .bodyTitle-Y0qMQz{color: var(--popout-text-color);}
.userPopout-3XzG_A .headerTag-2pZJzA{color: var(--popout-text-color);}
.userPopout-3XzG_A .roleName-32vpEy{color :var(--popout-text-color);}
.userPopout-3XzG_A .note-3kmerW textarea{color :var(--popout-text-color);}
.userPopout-3XzG_A .note-3kmerW textarea::placeholder{color :var(--popout-text-color);}
.userPopout-3XzG_A .quickMessage-2XpSaN{color :var(--popout-text-color);}
.userPopout-3XzG_A .quickMessage-2XpSaN::placeholder{color :var(--popout-text-color);}
.userPopout-3XzG_A .headerText-1HLrL7{color:var(--popout-text-color)!important;}
.userPopout-3XzG_A .activityName-1IaRLn{color:var(--popout-text-color)!important;}
.activityUserPopout-2yItg2 .content-3JfFJh{color:var(--popout-text-color)!important;}
.activityUserPopout-2yItg2 .details-38sfDr{color:var(--popout-text-color)!important;}
.activityUserPopout-2yItg2 .name-29ETJS{color:var(--popout-text-color)!important;}

/*Foreground Grays to Transparent*/
.userPopout-3XzG_A .headerNormal-T_seeN{background-color: transparent;}
.userPopout-3XzG_A .bodyInner-245q0L{background-color: transparent;}
.userPopout-3XzG_A .footer-1fjuF6{background-color: transparent;}
.userPopout-3XzG_A .headerPlaying-j0WQBV{background:transparent;}
.userPopout-3XzG_A .headerSpotify-zpWxgT{background:transparent;}
.userPopout-3XzG_A .headerStreaming-2FjmGz{background:transparent;}
.userPopout-3XzG_A .activity-11LB_k{background:transparent;}

/*Quick Chat Input*/
.userPopout-3XzG_A .quickMessage-2XpSaN{background:rgba(0,0,0,0.4);}
.userPopout-3XzG_A .quickMessage-2XpSaN{border:1px solid var(--main-color);}

/*User popout without Angles + Borders*/
.userPopout-3XzG_A{box-shadow:none;border-radius:0;border: 2px solid var(--main-color);}
.role-2irmRk{position:relative;border-width:1px;border-style:solid;border-radius:0px;box-sizing:content-box;height:16px;margin:3px;padding:2px;line-height:16px;font-size:10px;font-weight:400;text-transform:uppercase;overflow:visible;}
.role-2irmRk::before{content:'';position:absolute;top:0;left:0;width:100%;border-width:calc(0.65em + 4px).5em;border-style:solid;border-color:inherit;box-sizing:border-box;opacity:0.5;}
.roleName-32vpEy{margin:0 4px;}
.roleCircle-3xAZ1j{display:none;}
.roleCircleButton-377y0l{padding:0;position:absolute;z-index:2;height:22px;top:-1px;left:-1px;border-radius:0px 0 0 0px;width:0px;display:flex!important;transition:width 200ms;}
.role-2irmRk:hover .roleCircleButton-377y0l{transition:width 0.2s;width:22px;border-radius:0px;}
.addButton-pcyyf6{line-height:10px;width:22px;box-sizing:border-box;height:22px;}
.addButtonIcon-1NMJ8u{height:7px;width:7px;}


/************************************************************* MODAL POPOUT ONLY *************************************************************/
/*Background*/
.root-SR8cQa::before{content:"";position:absolute;top:0px;right:0px;bottom:0px;left:0px;z-index:-1;background-position:center;overflow:hidden;background-image:var(--modal-url);background-size:cover;background-repeat:no-repeat;filter:brightness(var(--modal-brightness));}

/*Size*/
.root-SR8cQa{height:var(--modalPopout-height);width:var(--modalPopout-width);}
.root-SR8cQa {border-radius:0px;box-shadow:none;border:2px solid var(--main-color);}

/*Backgrounds Transparent*/
.root-SR8cQa .topSectionPlaying-1J5E4n{background: transparent;}
.root-SR8cQa .topSectionSpotify-1lI0-P{background: transparent;}
.root-SR8cQa .topSectionStreaming-1Tpf5X{background: transparent;}
/*All text Colors Cuz I'm lazy*/
.root-SR8cQa .username-2b1r56 {color: var(--modal-text-color)!important;}
.root-SR8cQa .discriminator-xUhQkU {color: var(--modal-text-color)!important;opacity: 1}
.root-SR8cQa .headerText-1HLrL7 {color: var(--modal-text-color)!important;}
.root-SR8cQa .activityName-1IaRLn {color: var(--modal-text-color)!important;}
.root-SR8cQa .details-38sfDr{color: var(--modal-text-color)!important;}
.root-SR8cQa .textRow-19NEd_ span {color: var(--modal-text-color)!important;}
.root-SR8cQa .timestamp-VjAZmo {color: var(--modal-text-color)!important;}
.root-SR8cQa .note-QfFU8y textarea {color: var(--modal-text-color);}
.root-SR8cQa .note-QfFU8y textarea::placeholder {color: var(--modal-text-color);}
.root-SR8cQa .connectedAccountName-f8AEe2 {color: var(--modal-text-color);}
.root-SR8cQa .connectedAccountOpenIcon-2cNbq5 {color: var(--modal-text-color);}
/*Linked Accounts*/
.root-SR8cQa .connectedAccount-36nQx7{border: 1px solid var(--main-color);background-color: rgba(0,0,0,0.4)}

/********************************************************************* CHANNELS *******************************************************************/
/*Channels Columns*/
/*Background*/
.channels-Ie2l6A{width:var(--channel-width)}
/*Channel Notice*/
.channelNotices-41mJbj .channelNotice-1-XFjC.invite-OjTXrW{background-color:transparent;}
.channelNotices-41mJbj .channelNotice-1-XFjC{box-shadow:none;}
/*Voice Connected*/
.listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh{background:rgba(var(--mc),.5);}
.listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh{background:rgba(var(--mc),.7);}
.usernameSpeaking-2xbKKh{color:var(--main-color)!important;}
/*Voice number count */
.users-i_3-kL{background-color:rgba(var(--mc),.5);color: var(--main-color);}
.total-3tKGEB{background-color:var(--main-color)}
.total-3tKGEB::after{border-right-color:var(--main-color)}
/*Channels*/
/*Selected*/
.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU,
.wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU{background-color:rgba(var(--mc),.7);}
/*Hovered*/
.wrapper-1ucjTd:hover .content-3at_AU{background-color:rgba(var(--mc),.5)}
/*Active*/
.wrapper-1ucjTd:active .content-3at_AU{background-color:rgba(var(--mc),.7)}

/********************************************************************* GUILDS *******************************************************************/
/*New Mention*/
.mention-1f5kbO{background-color: var(--main-color);}
/*Guild Separator*/
.guildSeparator-3s64Iy{background-color: var(--main-color);}
/*Guild Icon*/
.scroller-2FKFPG .listItem-2P_4kh .listItemWrapper-3X98Pc  .homeIcon-tEMBK1 {display: none;}
.scroller-2FKFPG .listItem-2P_4kh .listItemWrapper-3X98Pc foreignObject .childWrapper-anI2G9{background-image:var(--home-icon);background-color:var(--home-icon-bg-color);background-size:cover;}

/********************************************************************* Notifications *******************************************************************/

/*Notifications*/
.scroller-2FKFPG [class*="pill-"] .item-2hkk8m{background-color:var(--main-color);}

/*https://gist.githubusercontent.com/lepetitpaco/bcbe31604b100a05bb0f078284e03c4a/raw/571631b54040db6175661fd14a6b21d755f69e45/Discord%2520Server%2520Notifications*/

/* Pulsing Notifications */

/*Ping Badges*/
.scroller-2FKFPG .listItem-2P_4kh foreignObject{mask:url(#svg-mask-avatar-default)!important;}
.upperBadge-2XnnGB{background-color:rgba(0,0,0,.8);border-radius:100%;}
.upperBadge-2XnnGB .iconBadge-2wi9r4{background-color:rgba(0,0,0,.8);border-radius:100%;height:20px!important;width:20px!important;}
.lowerBadge-29hYVK{position:absolute;left:12px;right:0;top:12px;bottom:0;pointer-events:none;}
.numberBadge-2s8kKX{background-color:var(--main-color)!important;height:24px!important;width:24px!important;border-radius:100%;box-shadow:0 0 0 0 rgba(var(--mc),1);-webkit-animation:pulse 1.25s infinite cubic-bezier(0.66,0,0,1);-moz-animation:pulse 1.25s infinite cubic-bezier(0.66,0,0,1);-ms-animation:pulse 1.25s infinite cubic-bezier(0.66,0,0,1);animation:pulse 1.25s infinite cubic-bezier(0.66,0,0,1);}


@-webkit-keyframes pulse{to{box-shadow:0 0 0 25px rgba(var(--mc),0);}
}
@-moz-keyframes pulse{to{box-shadow:0 0 0 25px rgba(var(--mc),0);}
}
@-ms-keyframes pulse{to{box-shadow:0 0 0 25px rgba(var(--mc),0);}
}
@keyframes pulse{to{box-shadow:0 0 0 25px rgba(var(--mc),0);}
}


/********************************************************************* Popouts and Dropdowns *******************************************************************/

/*Server Dropdonwn*/
.item-1GzJrl:hover{background-color:var(--main-color);}
/*Add Role Dropdown*/
.row-rrHHJU.selected-1pIgLL{background:linear-gradient(90deg,rgba(var(--mc),.6),rgba(var(--mc),.2));}
.theme-dark .autocompleteArrow-Zxoy9H,.theme-dark .autocompleteHeaderBackground-30T70q{background-color:rgba(0, 0, 0, .8);}
.theme-dark .container-VSDcQc .sectionTag-pXyto9{background-color:rgba(0, 0, 0, .8);}
.theme-light .autocompleteArrow-Zxoy9H,.theme-dark .autocompleteHeaderBackground-30T70q{background-color:rgba(255, 255, 255, 0.8);}
.theme-light .container-VSDcQc .sectionTag-pXyto9{background-color:rgba(255, 255, 255, 0.8);}

/*Pinned Messages*/
/*Smaller Pinned Messages*/
.theme-dark .messagesPopoutWrap-1MQ1bW{width:400px;max-height:600px!important;}
.theme-dark .messagesPopoutWrap-1MQ1bW .markup-2BOw-j{font-size:15px;}

/*Pinned Messages/Mentions*/
.themedPopout-25DgLi{background:rgba(0, 0, 0, .8)!important;background-size:cover!important;background-repeat:no-repeat;box-shadow:inset 0 0 0 1000px rgba(0, 0, 0, .8)!important;border:none!important;animation:slide-down 200ms ease!important;}
@keyframes slide-up{from{transform:translate(0%,10%);}
}
@keyframes slide-down{from{transform:translate(0%,-5%);}
}
.iconBadge-2dji3k{border-color:rgba(0,0,0,0.8)!important;}
.messagesPopoutWrap-1MQ1bW{background-repeat:no-repeat;box-shadow:inset 0px 0px 1000px rgba(0, 0, 0, .8)!important;background-size:cover!important;border:none;}
.messagesPopoutWrap-1MQ1bW .da-containerCozy{background:transparent!important;}
.header-ykumBX,.footer-1kmXd4{background:rgba(0, 0, 0, .8)!important;}
.messageGroupWrapper-o-Zw7G{background:rgba(0, 0, 0, .8)!important;border:none;transition:250ms ease-in-out border;}
.messageGroupWrapper-o-Zw7G:hover{border:2px solid var(--main-color)!important;}
.jumpButton-3DTcS_,.jump-button{background:var(--main-color)!important;}
.actionButtons-1sUUug{background:transparent!important;box-shadow:none!important;}
.messagesPopout-24nkyi {background-color: rgba(0, 0, 0, 0);}

/*Search Popout*/
.searchAnswer-3Dz2-q,.searchFilter-2ESiM3{background:rgba(255,255,255,0.05);}
.container-3ayLPN{background:rgba(0, 0, 0, .8)!important;background-repeat:no-repeat!important;background-size:cover!important;box-shadow:0px 0px 1000px inset rgba(0,0,0,0.7)!important;}
.option-96V44q:after{display:none!important;}
.option-96V44q.selected-rZcOL-,.focused-2bY0OD,.da-searchHeader,.search-header{background:rgba(0, 0, 0, .8)!important;border:none!important;}
.dim-1l4L4y span,.keybindShortcut-1BD6Z1 span{background:var(--main-color)!important;}
.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next,.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous,.searchAnswer-3Dz2-q{background-color:rgba(0,0,0,0.7)!important;}
.calendarPicker-2yf6Ci,.react-datepicker,.react-datepicker__header,.da-channelName,.da-resultsWrapper .da-containerCozy,.da-searchResultsWrap,.search-results-wrap,.channel-name,.results-wrapper .da-containerCozy{background:transparent!important;}
.da-resultsWrapper .containerCozy-jafyvG,.results-wrapper{padding-bottom:15px;}
.results-wrapper .da-containerCozy{padding-bottom:5px;}
.hintValue-29ny8Z,.react-datepicker__day--selected:after,.react-datepicker__day:hover,.searchFilter-2ESiM3,.jumpButton-Ia2hRJ{background:var(--main-color)!important;}
.react-datepicker__day{border:none!important;background:rgba(0, 0, 0, .8)!important;transition:150ms ease all!important;}
.da-searchResultMessage.da-hit,.search-results-wrap .search-result .hit{box-shadow:none!important;border-color:rgba(0, 0, 0, .8)!important;background:rgba(0,0,0,0.3)!important;}
.da-searchResult:before,.da-searchResult:after,.search-result:after,.search-result:before{display:none;}
.da-searchResultsWrap,.search-results-wrap{background:rgba(0, 0, 0, .8)!important;background-size:cover!important;background-repeat:no-repeat!important;background-attachment:fixed!important;}

/*Search Menu*/
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV,.theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL,.theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO,.theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a{color:var(--main-color);}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover{background-color:red}

/*Search Result*/
.theme-dark .searchResultsWrap-2DKFzt{background-color:transparent;}
.theme-dark .searchHeader-1l-wpR{background-color:transparent;}
.theme-dark .searchResult-3pzFAB:before{background-image:none;}
.theme-dark .searchResult-3pzFAB:after{background-image:none;}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA{border:none;}
.theme-dark .searchResult-3pzFAB .hit-NLlWXA{-webkit-box-shadow:none;background-color:rgba(0, 0, 0, .5);box-shadow:none;}
.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf{background-color:transparent;}
.theme-dark .channelSeparator-1X1FuH:before{border-color:transparent;display:none;}
.channelSeparator-1X1FuH{text-align:center;background-color:rgba(0, 0, 0, .5);}

/*Emoji Picker*/
.emojiPicker-3m1S-j{background-color:rgba(0, 0, 0, .8);border:none;}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU{background-color:rgba(0,0,0,0);}
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ{background-color:rgba(0,0,0,0);}
.diversitySelector-tmmMv0 .popout-2nUePc{background-color:rgba(0,0,0,0.1);border-color:rgba(0,0,0,.0);}
.searchBar-2_Yu-C.searchBarLight-1NxoDG{background-color:transparent;}
.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R{background-color:rgba(0, 0, 0, .8);border:1px solid var(--main-color);}

/*Gif Picker*/
.result-3w1ZcL:hover:after{box-shadow:inset 0 0 0 2px var(--main-color)!important;}
.autocomplete-1vrmpx{background:rgba(0, 0, 0, .8)!important;background-repeat:no-repeat;background-size:cover!important;box-shadow:inset 0 0 0 1000px rgba(0,0,0,.8);}
.autocomplete-1vrmpx{animation:slide-up 150ms ease;}
.da-categoryFadeBlurple{background:var(--main-color)!important;opacity:0.6!important;}

/*Upload*/
.uploadModal-2ifh8j{background-color: rgba(0, 0, 0, .8)}
.uploadModal-2ifh8j .footer-3mqk7D{background-color: rgba(0, 0, 0, .8)}
.uploadModal-2ifh8j .inner-3nWsbo{border: 2px dashed var(--main-color);}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j{border: 2px solid var(--main-color);}

/*Spotify Invite Button*/
.theme-dark .modal-yWgWj-{background-color: rgba(0, 0, 0, .8)}
.theme-dark .footer-3rDWdC{background-color: rgba(0, 0, 0, .8)}
.theme-dark .invite-18yqGF{background: transparent}
.theme-light .modal-yWgWj-{background-color: rgba(255, 255, 255, 0.8)}
.theme-light .footer-3rDWdC{background-color: rgba(255, 255, 255, 0.8)}

/*RTC Connection Popout*/
.container-2x5lvQ{background:rgba(0, 0, 0, .8)!important;}
.container-2x5lvQ header{background:rgba(0,0,0,0)!important;}
.container-2x5lvQ section{background:rgba(0,0,0,0)!important;}

/*Autocomplete*/
.autocompleteRowVertical-q1K4ky .selectorSelected-1_M1WV{background-color: var(--main-color);}

/*Context Menus*/
/*Checkbox*/
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span{background-color: var(--main-color); border-color: var(--main-color);}

/********************************************************************* Settings *******************************************************************/

/*Dropdowns*/
.css-181m2lf-menu{background-color:rgba(0,0,0,.8);border-color:var(--main-color);}
.css-1gnr91b-option:hover{background-color:var(--main-color);}

/* Switches */
.themeDefault-24hCdX{background-color:rgba(0,0,0,.5);}
.themeDefault-24hCdX.valueChecked-m-4IJZ{background-color:var(--main-color);}

/*Hover Member Server Setting Params*/
.theme-dark .card-FDVird:before{background-color:rgba(var(--mc),.5);}

/*Check Boxes*/
.item-26Dhrx{border-color:rgba(0,0,0,.5)!important;background-color:rgba(0,0,0,.5)!important;}
.checkboxWrapper-SkhIWG .checked-3_4uQ9{background-color:var(--main-color);border-color:#fff!important;}
.checkboxWrapper-SkhIWG .checked-3_4uQ9 svg g polyline {stroke: #fff};

/*Overlay Notifications*/
.wrapper-3jrx9n {border: 2px solid var(--main-color)!important;}
.selected-mKYnfr.option-n0icdO{background-color: var(--main-color);var(--main-color);}
.option-n0icdO{background-color: rgba(0,0,0,.6)}
.disabled-3I9jyo{color: rgba(0,0,0,.6)}

/*SLiders Fill*/
.bar-2Qqk5Z{background: rgba(0,0,0,.5)!important;}
.barFill-23-gu-{background: var(--main-color);}

/*Video Settings*/
.userSettingsVoice-iwdUCU .media-engine-video{background-color: transparent;}
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC{background-color: rgba(0,0,0,.5);border-color:var(--main-color);}
.theme-light .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC{background-color: rgba(255,255,255,.5);border-color:var(--main-color);}

/*Billing*/
.theme-dark .paymentPane-3bwJ6A{background-color: rgba(0,0,0,.6);}
.theme-dark .paginator-166-09{background-color: rgba(0,0,0,.0);}
.theme-dark .bottomDivider-1K9Gao{border-bottom-color: var(--main-color);}
.theme-dark .payment-xT17Mq{background-color: rgba(0,0,0,.4);}
