/**
 * @name Origin Dev
 * @author lepetitpaco
 * @version 1
 * @description I call this theme Origin
 */

 /**
 * Thank you to DevilBro for allowing me to use his theme BlurpleRecolor
 * The theme BlurpleRecolor is available here https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BlurpleRecolor
 */

 @import url(https://lepetitpaco.github.io/SomeCSS/starter-pack/StarterPack.css);

:root {
    --type-window-bgc: rgba(var(--layer-accent-color),calc((var(--layers-opacity) / 10) * 0.15));
    --guild-list-bgc: rgba(var(--layer-accent-color),calc((var(--layers-opacity) / 10) * 0.15));
    --header-left-bgc: rgba(var(--layer-accent-color),calc((var(--layers-opacity) / 10) * 0.17));
    --header-right-bgc: rgba(var(--layer-accent-color),calc((var(--layers-opacity) / 10) * 0.17));
    --channel-list-private-bgc: rgba(var(--layer-accent-color),calc((var(--layers-opacity) / 10) * 0.17));
    --user-pannel-bgc: rgba(var(--layer-accent-color),calc((var(--layers-opacity) / 10) * 0.17));
    --chat-bgc: rgba(var(--layer-accent-color),calc((var(--layers-opacity) / 10) * 0.2));
    --chat-input-form-bgc: rgba(var(--layer-accent-color),calc((var(--layers-opacity) / 10) * 0.2));
    --chat-input-bgc: rgba(var(--layer-accent-color),calc((var(--layers-opacity) / 10) * 0.2));
    --member-list-bgc: rgba(var(--layer-accent-color),calc((var(--layers-opacity) / 10) * 0.2));

    --main-color: rgb(var(--mc));
    --accentcolor: var(--mc);
    --linkcolor: var(--mc);
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*RESTRUCTURING*/
/*Type Window*/
.withFrame-haYltI {margin-top: 0px;padding-top: 4px;background-color: var(--type-window-bgc);}

/* Chat / chat input / Friendlist / Friend Activity / Nitro / settings content region */
.chatContent-a9vAAp,.tabBody-3YRQ8W, .scroller-9moviB, .contentRegion-3nDuYy{background-color:var(--chat-bgc);}
.chat-3bRxxu{background:transparent;}

/*Full Sidebar*/
.platform-win .sidebar-2K8pFh{border-radius: 0}

/* Member List / clock */
.membersWrap-2h-GB4{background-color:var(--member-list-bgc);}

/* Channel List  / Private Channel List / User Pannel / HEADER RIGHT / settings sidebar*/
.sidebar-2K8pFh, .container-1r6BKw.themed-ANHk51, .sidebarRegion-VFTUkN{background-color:var(--channel-list-private-bgc);}


/* Guild List */
.scroller-2TZvBN,#channelTabs-container{background-color:var(--guild-list-bgc);}
