:root {
    /*==================== Main Background ====================*/
    /* Main Background Image */
    --background-url: url(https://i.imgur.com/yjb98D8.jpg);
    /* Main Background Brightness */
    --background-brightness: 40%;
    --background-blur: 0px;
    /*==================== User Popout ====================*/
    /* User Popout Background Image */
    --popout-url: url(https://i.imgur.com/xJQ0h8Y.jpg);
    /* User Popout Background Brightness */
    --popout-brightness: 40%;
    --popout-blur: 0px;
    /*User Popout Width - Default Width: 250px */
    --userPopout-width: 350px;
    /*User Popout Height - Default Height :auto*/
    --userPopout-height: auto;
    /*====================Modal Popout====================*/
    /* Modal Popout Background Image */
    --modal-url: url(http://i.imgur.com/8SpMFRS.jpg);
    /* Modal Popout Background Brightness */
    --modal-brightness: 40%;
    --modal-blur: 0px;
    /*Modal Popout Width*/
    --modalPopout-width: 600px;
    /*Modal Popout Height*/
    --modalPopout-height: 400px;
    /*====================Home Icon====================*/
    /* Home Icon Image */
    --home-icon-url: url(https://i.imgur.com/judn6JH.jpg);
    /*====================Colors====================*/
    --solid-main-color: rgb(158, 69, 180);
    --main-color: 158, 69, 180;
    --secondary-text-color: rgb(57, 239, 255);
    --secondary-color: 57, 239, 255;
    --hover-color: rgba(75, 72, 72, 0.267);
    --first-gradient-color: rgb(255, 253, 160);
    --second-gradient-color: rgb(146, 247, 205);
    /*Background Color when hovering or selecting a member in the member list in the right column*/
    --member-list-selected-background-color: rgba(var(--main-color), 0.42);
    /*Speech Bubble Color and Opacity(4th Value between 0 and 1*/
    --speech-bubbles-background: rgba(0, 0, 0, .0);
    /*====================Voice Chat Colors====================*/
    /* Text Chat and Voice Chat names Opacity */
    --chat-voice-channels-opacity: 1;
    /* Text Chat and Voice Chat names Color */
    --chat-voice-channels-color: #fff;
    /* Voice Chat Selected Color [Default: #f6f6f7] */
    --selected-voice-color: var(--solid-main-color);
    /* Text Chat Selected Color [Default: #f6f6f7] */
    --selected-text-chat-color: #fff;
    /*==================== Emoji Picker ====================*/
    --emoji-picker-height: 666px;
    /*For Better Discord Transparency*/
    --body-after-opacity: 1;
    --popout-opacity: 1;
    --modal-opacity: 1;
    /*NSFW Settings*/
    --nwfw-warning-image: url(https://cdn140.picsart.com/269026868052201.jpg?r1024x1024);
    --nwfw-warning-text: "Ooof what a pervert";
}



@import url(https://lepetitpaco.github.io/SomeCSS/origin/origin.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerAvatar.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerModalPopout.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/TwoColumns.css);
/*============== CUSTOMIZABLE SETTINGS ===============*/

:root {
    /*==================== Main Background ====================*/
    /* Main Background Image */
    --background-url: url(https://source.unsplash.com/random);
    /* Main Background Brightness */
    --background-brightness: 40%;
    --background-blur: 0px;
    /*==================== User Popout ====================*/
    /* User Popout Background Image */
    --popout-url: url(https://source.unsplash.com/random);
    /* User Popout Background Brightness */
    --popout-brightness: 40%;
    --popout-blur: 0px;
    /*User Popout Width - Default Width: 250px */
    --userPopout-width: 350px;
    /*User Popout Height - Default Height :auto*/
    --userPopout-height: auto;
    /*====================Modal Popout====================*/
    /* Modal Popout Background Image */
    --modal-url: url(https://source.unsplash.com/random);
    /* Modal Popout Background Brightness */
    --modal-brightness: 40%;
    --modal-blur: 0px;
    /*Modal Popout Width*/
    --modalPopout-width: 600px;
    /*Modal Popout Height*/
    --modalPopout-height: 400px;
    /*====================Home Icon====================*/
    /* Home Icon Image */
    --home-icon-url: url(https://source.unsplash.com/random);
    /*====================Colors====================*/
    --solid-main-color: rgb(255, 0, 0);
    --main-color: 255, 0, 0;
    --secondary-text-color: rgb(0, 255, 0);
    --secondary-color: 0, 255, 0;
    --hover-color: rgba(75, 72, 72, 0.267);
    --first-gradient-color: rgb(255, 253, 160);
    --second-gradient-color: rgb(146, 247, 205);
    /*Background Color when hovering or selecting a member in the member list in the right column*/
    --member-list-selected-background-color: rgba(var(--main-color), 0.42);
    /*Speech Bubble Color and Opacity(4th Value between 0 and 1*/
    --speech-bubbles-background: rgba(0, 0, 0, .0);
    /*====================Voice Chat Colors====================*/
    /* Text Chat and Voice Chat names Opacity */
    --chat-voice-channels-opacity: 1;
    /* Text Chat and Voice Chat names Color */
    --chat-voice-channels-color: #fff;
    /* Voice Chat Selected Color [Default: #f6f6f7] */
    --selected-voice-color: var(--solid-main-color);
    /* Text Chat Selected Color [Default: #f6f6f7] */
    --selected-text-chat-color: #fff;
    /*==================== Emoji Picker ====================*/
    --emoji-picker-height: 666px;
    /*For Better Discord Transparency*/
    --body-after-opacity: 1;
    --popout-opacity: 1;
    --modal-opacity: 1;
    /*NSFW Settings*/
    --nwfw-warning-image: url(https://source.unsplash.com/random);
    --nwfw-warning-text: "Random text about you being a pervert";
}