//META{"name":"Black_And_White","description":"For Dark Background","author":"lepetitpaco","version":"0"}*//{}
@import url(https://lepetitpaco.github.io/SomeCSS/origin/origin.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerAvatar.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerModalPopout.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/TwoColumns.css);
/*============== CUSTOMIZABLE SETTINGS ===============*/

/*https://wallpapercave.com/wp/DTvUQor.jpg*/

:root {
    /*==================== Main Background ====================*/
    /* Main Background Image */
    --background-url: url(https://wallpapercave.com/wp/DTvUQor.jpg);
    /* Main Background Brightness */
    --background-brightness: 100%;
    --background-blur: 0px;
    /*==================== User Popout ====================*/
    /* User Popout Background Image */
    --popout-url: url(https://i.imgur.com/urRpI3B.jpg);
    /* User Popout Background Brightness */
    --popout-brightness: 40%;
    --popout-blur: 0px;
    /*User Popout Width - Default Width: 250px */
    --userPopout-width: 350px;
    /*User Popout Height - Default Height :auto*/
    --userPopout-height: auto;
    /*====================Modal Popout====================*/
    /* Modal Popout Background Image */
    --modal-url: url(https://i.imgur.com/zhPMou6.jpg);
    /* Modal Popout Background Brightness */
    --modal-brightness: 40%;
    --modal-blur: 0px;
    /*Modal Popout Width*/
    --modalPopout-width: 800px;
    /*Modal Popout Height*/
    --modalPopout-height: 600px;
    /*====================Home Icon====================*/
    /* Home Icon Image */
    --home-icon-url: url(https://i.imgur.com/rSr3uXI.jpg);
    /*====================Colors====================*/
    --solid-main-color: rgb(201, 201, 201);
    --main-color: 201, 201, 201;
    --secondary-text-color: rgb(0, 0, 0);
    --secondary-color: 0, 0, 0;
    --hover-color: rgba(75, 72, 72, 0.267);
    --first-gradient-color: rgb(255, 253, 160);
    --second-gradient-color: rgb(146, 247, 205);
    /*Background Color when hovering or selecting a member in the member list in the right column*/
    --member-list-selected-background-color: rgba(var(--main-color), 0.42);
    /*Speech Bubble Color and Opacity(4th Value between 0 and 1*/
    --speech-bubbles-background: rgba(0, 0, 0, .0);
    /*====================Voice Chat Colors====================*/
    /* Text Chat and Voice Chat names Opacity */
    --chat-voice-channels-opacity: 1;
    /* Text Chat and Voice Chat names Color */
    --chat-voice-channels-color: #fff;
    /* Voice Chat Selected Color [Default: #f6f6f7] */
    --selected-voice-color: var(--solid-main-color);
    /* Text Chat Selected Color [Default: #f6f6f7] */
    --selected-text-chat-color: rgb(0, 0, 0);
    /*==================== Emoji Picker ====================*/
    --emoji-picker-height: 666px;
    /*==================== For Better Discord Transparency ====================*/
    --body-after-opacity: .7;
    --popout-opacity: 1;
    --modal-opacity: 1;
    /*NSFW Settings*/
    --nwfw-warning-image: url(https://cdn140.picsart.com/269026868052201.jpg?r1024x1024);
    --nwfw-warning-text: "Ooof what a pervert";
}

/*Will be Implemented as an @import when done*/

/*Selected Text Channel Color*/

.channels-Ie2l6A .nameSelectedText-sp_EUw {
    color: rgb(0, 0, 0) !important;
}

/*Selected Text Channel SVG fill color*/

.channels-Ie2l6A .contentSelectedText-3wUhMi path {
    fill: rgb(0, 0, 0) !important;
}

/*User Popout*/

.headerName-fajvi9,
.headerTagUsernameNoNickname-2_H881,
.headerTag-2pZJzA,
.username-3gJmXY,
.discriminator,
.discriminator:hover,
.header-2BwW8b .creationDate,
[class*='topSection'] .creationDate,
.activityProfile-2bJRaP .details-38sfDr,
.activityName-1IaRLn,
.activityUserPopout-2yItg2 .details-38sfDr,
.activityUserPopout-2yItg2 .content-3JfFJh,
.note-3kmerW textarea,
.activityUserPopout-2yItg2 .headerText-1HLrL7,
.activityProfile-2bJRaP .headerText-1HLrL7,
.textRow-19NEd_,
.bodyTitle-Y0qMQz,
.roleName-32vpEy {
    color: rgb(255, 255, 255) !important;
}

/*@ Hover*/

.theme-dark .wrapperHover-1GktnT:hover {
    background-color: rgb(69, 69, 69) !important;
}

/*Upload modal buttons*/

.uploadModal-2ifh8j .footer-3mqk7D .button:first-child {
    background-color: rgb(69, 69, 69) !important;
}

/*Settings>My Account>Edit + Enable Two-Factor Auth*/

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: rgb(69, 69, 69) !important;
}

/*Settings>tabs Selected Text Color*/

.side-8zPYf6 .itemSelected-1qLhcL {
    color: rgb(0, 0, 0);
}

.newMessagesBar-mujexs:hover {
    background-color: rgb(69, 69, 69);
}

/*Server Settings dropdown menu*/

.theme-dark .item-1GzJrl:hover {
    background-color: var(--solid-main-color);
    color: rgb(0, 0, 0);
}

/*context menu*/
.contextMenu-HLZMGh .item-1Yvehc:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) !important;
}