//META{"name":"Black_And_White","description":"For Dark Background","author":"lepetitpaco","version":"0"}*//{}
@import url(https://lepetitpaco.github.io/SomeCSS/origin/origin.css);

/* @import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerAvatar.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerModalPopout.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/TwoColumns.css); */
/*============== CUSTOMIZABLE SETTINGS ===============*/
/*https://wallpapercave.com/wp/DTvUQor.jpg*/
/*============== CUSTOMIZABLE SETTINGS ===============*/
:root {
    /*==================== Main Background ====================*/
    /* Main Background Image */
    --background-url: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-551758.png);
    /* Main Background Brightness */
    --background-brightness: 100%;
    --background-blur: 0px;
    /*==================== User Popout ====================*/
    /* User Popout Background Image */
    --popout-url: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-551758.png);
    /* User Popout Background Brightness */
    --popout-brightness: 40%;
    --popout-blur: 0px;
    /*User Popout Width - Default Width: 250px */
    --userPopout-width: 350px;
    /*User Popout Height - Default Height :auto*/
    --userPopout-height: auto;
    /*====================Modal Popout====================*/
    /* Modal Popout Background Image */
    --modal-url: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-551758.png);
    /* Modal Popout Background Brightness */
    --modal-brightness: 40%;
    --modal-blur: 0px;
    /*Modal Popout Width*/
    --modalPopout-width: 600px;
    /*Modal Popout Height*/
    --modalPopout-height: 400px;
    /*====================Home Icon====================*/
    /* Home Icon Image */
    --home-icon-url: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-551758.png);
    /*====================Colors====================*/
    --solid-main-color: rgb(255, 255, 255);
    --main-color: 255, 255, 255;
    --secondary-text-color: rgb(255, 255, 255);
    --secondary-color: 255, 255, 255;
    /*Background Color when hovering or selecting a member in the member list in the right column*/
    --member-list-selected-background-color: rgba(var(--main-color), 0.42);
    /*Speech Bubble Color and Opacity(4th Value between 0 and 1*/
    /*====================Voice Chat Colors====================*/
    /* Text Chat and Voice Chat names Opacity */
    --chat-voice-channels-opacity: 1;
    /* Text Chat and Voice Chat names Color */
    --chat-voice-channels-color: #fff;
    /* Voice Chat Selected Color [Default: #f6f6f7] */
    --selected-voice-color: var(--solid-main-color);
    /* Text Chat Selected Color [Default: #f6f6f7] */
    --selected-text-chat-color: #fff;
    /*==================== Emoji Picker ====================*/
    --emoji-picker-height: 666px;
    /*NSFW Warning Settings*/
    --nwfw-warning-image: url(https://source.unsplash.com/random);
    --nwfw-warning-text: "Random text about you being a pervert";
    /*Color Pulse and Color Gradient Mods Settings*/
    --first-gradient-color: rgb(255, 253, 160);
    --second-gradient-color: rgb(146, 247, 205);
}

/*Will be Implemented as an @import when done*/
/*Selected Text Channel Color*/
.channels-Ie2l6A .nameSelectedText-sp_EUw,
/*Settings>tabs Selected Text Color*/
.side-8zPYf6 .itemSelected-1qLhcL,
/*context menu*/
.contextMenu-HLZMGh .item-1Yvehc:hover,
/*Server Settings dropdown menu*/
.theme-dark .item-1GzJrl:hover,
.theme-dark .selectorSelected-1_M1WV .content-Qb0rXO,
.channel-2QD9_O.selected-1HYmZZ .name-2WpE7M,
.channel-2QD9_O.selected-1HYmZZ .activity-525YDR,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.channel-2QD9_O.selected-1HYmZZ a {
    color: #000 !important;
}

/*Selected Text Channel SVG fill color*/
.channels-Ie2l6A .contentSelectedText-3wUhMi path {
    fill: #000 !important;
}

/*=WHITE COLOR=*/
/*User Popout*/
.headerName-fajvi9,
.headerTagUsernameNoNickname-2_H881,
.headerTag-2pZJzA,
.username-3gJmXY,
.discriminator,
.discriminator:hover,
.header-2BwW8b .creationDate,
[class*='topSection'] .creationDate,
.activityProfile-2bJRaP .details-38sfDr,
.activityName-1IaRLn,
.activityUserPopout-2yItg2 .details-38sfDr,
.activityUserPopout-2yItg2 .content-3JfFJh,
.note-3kmerW textarea,
.activityUserPopout-2yItg2 .headerText-1HLrL7,
.activityProfile-2bJRaP .headerText-1HLrL7,
.textRow-19NEd_,
.bodyTitle-Y0qMQz,
.roleName-32vpEy {
    color: #fff !important;
}

/*==WHITE BACKGROUND==**/
/*Server Settings dropdown menu*/
.theme-dark .item-1GzJrl:hover,
/*context menu*/
.contextMenu-HLZMGh .item-1Yvehc:hover {
    background-color: #fff;
}

/*==GREY==**/
/*@ Hover*/
.theme-dark .wrapperHover-1GktnT:hover,
/*Upload modal buttons*/
.uploadModal-2ifh8j .footer-3mqk7D .button:first-child,
/*Settings>My Account>Edit + Enable Two-Factor Auth*/
.lookFilled-1Gx00P.colorBrand-3pXr91,
.newMessagesBar-mujexs:hover {
    background-color: rgb(69, 69, 69) !important;
}
