//META{"name":"cv_Neutral","description":"Neutral","author":"lepetitpaco based on ClearVision V5 by Zerthox","version":"5"}*//{}

/* IMPORT CSS FROM GITHUB */


/*It won't work without Zerthox's ClearVision Main Theme*/

@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);

/*That's why you use my theme for ... Right ?*/

@import url(https://lepetitpaco.github.io/SomeCSS/mods/BasicStyle.css);

/*Adding / Changing some animations inside discord*/

@import url(https://lepetitpaco.github.io/SomeCSS/mods/SomeAnimations.css);

/*============== CUSTOMIZABLE SETTINGS ===============*/


/* Image Ratio Calculator -> https://andrew.hedges.name/experiments/aspect_ratio/ */

:root {
    /*==================== Main Background ====================*/
    /* Main Background Image */
    --background-url: url(https://i.imgur.com/xcXDTbQ.jpg);
    /* Main Background Brightness */
    --background-brightness: 100%;
    /*==================== User Popout ====================*/
    /* User Popout Background Image */
    --popout-url: url(https://i.imgur.com/xcXDTbQ.jpg);
    /* User Popout Background Brightness */
    --popout-brightness: 100%;
    /*User Popout Width - Default Width: 250px */
    --userPopout-width: 420px;
    /*User Popout Height - Default Height :auto*/
    --userPopout-height: auto;
    /*====================Modal Popout====================*/
    /* Modal Popout Background Image */
    --modal-url: url(https://i.imgur.com/xcXDTbQ.jpg);
    /* Modal Popout Background Brightness */
    --modal-brightness: 100%;
    /*Modal Popout Width*/
    --modalPopout-width: 1200px;
    /*Modal Popout Height*/
    --modalPopout-height: 502px;
    /*====================Home Icon====================*/
    /* Home Icon Image */
    --home-icon-url: url(https://i.imgur.com/o4aatkm.jpg);
    /*====================Colors====================*/
    --main-color: rgb(240, 63, 122);
    --secondary-text-color: rgb(38, 194, 255);
    --hover-color: rgba(75, 72, 72, 0.267);
    --first-gradient-color: rgb(255, 0, 0);
    --second-gradient-color: rgb(241, 231, 97);
    /*Background Color when hovering or selecting a member in the member list in the right column*/
    --member-list-selected-background-color: rgba(102, 255, 0, 0.42);
    /*Speech Bubble Color and Opacity(4th Value between 0 and 1*/
    --speech-bubbles-background: rgba(0, 0, 0, .0);
    /*====================Voice Chat Colors====================*/
    /* Text Chat and Voice Chat names Opacity */
    --chat-voice-channels-opacity: 1;
    /* Text Chat and Voice Chat names Color */
    --chat-voice-channels-color: #fff;
    /* Voice Chat Selected Color [Default: #f6f6f7] */
    --selected-voice-color: var(--main-color);
    /* Text Chat Selected Color [Default: #f6f6f7] */
    --selected-text-chat-color: rgb(255, 255, 255);
    /*==================== Emoji Picker ====================*/
    --emoji-picker-height: 420px;
}