//META{"name":"cv_Noragami","description":"Noragami","author":"lepetitpaco based on ClearVision V5 by Zerthox","version":"5"}*//{}
/* IMPORT CSS FROM GITHUB */

@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BasicStyle.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BasicStyleV2.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BacklightNotifications.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/glow.css);
/*============== CUSTOMIZABLE COLORS ===============*/

:root {
    --main-color: rgb(56, 109, 255);
    --secondary-text-color: rgb(91, 244, 255);
    --hover-color: rgba(75, 72, 72, 0.267);
    /*Colors Selector List*/
    --first-gradient-color: rgb(255, 67, 246);
    --second-gradient-color: gold;
    /*Various Sizes*/
    --emoji-picker-height: 420px;
    /*Speech Bubble*/
    --speech-bubbles-background: rgba(0, 0, 0, .0);
    /*Chat and Voice Color. Default: #72767d*/
    --chat-voice-channels-opacity: 1;
    --chat-voice-channels-color: #fff;
    /*Voice chat Selected Color Default: #f6f6f7*/
    --voice-chat-selected-color: var(--main-color);
    /*User Popout Size*/
    /*Default Width: 250px | Default Height :auto*/
    --userPopout-width: 420px;
    --userPopout-height: auto;
    /*Modal Popout Size*/
    --modalPopout-width: 1200px;
    --modalPopout-height: 630px;
    /* https://andrew.hedges.name/experiments/aspect_ratio/ */
    --member-list-selected-background-color: rgba(0, 0, 0, 0.420);
}

/*CUSTOMIZABLE BACKGROUND IMAGE*/

body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.dark label {
    /* IMPORTANT: Link must be HTTPS! */
    background-image: url(https://i.pinimg.com/originals/a8/d4/96/a8d49632cabf3bc7151b3cbf449ac961.jpg) !important;
    filter: brightness(30%);
}

/*CUSTOMIZABLE USER POPOUT IMAGE*/

.userPopout-3XzG_A::before {
    background-image: url(https://i.pinimg.com/originals/a0/4c/a8/a04ca87764bfdd15bb34b0dd165d8fde.jpg) !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
}

/*CUSTOMIZABLE POPOUT MODAL*/

.root-SR8cQa::before {
    background-image: url(https://orig00.deviantart.net/2294/f/2015/283/9/c/noragami_aragoto_op_gif_2_by_valelfenmoon-d9cnnsm.gif) !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
}

/*CUSTOMIZABLE HOME ICON*/

.homeIcon-1FoKUJ,
.homeIcon-1FoKUJ:hover {
    color: transparent;
    background-image: url(https://78.media.tumblr.com/37051b4bf44f1ec571bbf98c0d76d957/tumblr_nvyuq6tzgB1s9aisro1_250.gif) !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

/*==========================DISPLAY NONE==========================*/

/*Don't Display of the Blocked Message Line*/

/* .messageGroupBlocked-3wrQQX, */

/*remove CV Version number*/

.accountDetails-3k9g4n::after,
/* Remove unnecessary help texts from status picker */

.helper-2c73HK,
/*Don't display protip cuz I'm not a noob*/

.protip-YaFfgO,
/*Don't display welcome message on server*/

.welcomeMessage-3_Mcht,
/*No Channel Message*/

.wrapper-r-6rrt,
/*Divider Bar - Line between each messages*/

.dividerEnabled-2TTlcf,
/*Line between the chat input and the + button*/

.attachButtonDivider-3Glu60,
/*Scrollbars*/

/* ::-webkit-scrollbar, */

/*Collapsed Voice Channel Still visible users*/

.voiceUserSummaryItem-BDt0rD {
    display: none !important;
}