//META{"name":"cv_Neutral","description":"Neutral","author":"lepetitpaco based on ClearVision V5 by Zerthox","version":"5"}*//{}
/* IMPORT CSS FROM GITHUB */

@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BasicStyle.css);

/*============== CUSTOMIZABLE SETTINGS ===============*/

:root {
    /*Main Background*/
    --background-url: url(https://i.imgur.com/xcXDTbQ.jpg) /* Main Background Image */;
    --background-brightness: 100% /* Main Background Brightness */;
    /*User Popout*/
    --popout-url: url(https://i.imgur.com/xcXDTbQ.jpg) /* User Popout Background Image */;
    --popout-brightness: 100% /* User Popout Background Brightness */;
    /*Modal Popout*/
    --modal-url: url(https://i.imgur.com/xcXDTbQ.jpg) /* Modal Popout Background Image */;
    --modal-brightness: 100% /* Modal Popout Background Brightness */;
    /*Home Icon*/
    --home-icon-url: url(https://i.imgur.com/o4aatkm.jpg) /* Home Icon Image */;
    /*Colors*/
    --main-color: rgb(46, 73, 161);
    --secondary-text-color: rgb(97, 241, 189);
    --hover-color: rgba(75, 72, 72, 0.267);
    --first-gradient-color: rgb(255, 0, 0);
    --second-gradient-color: rgb(241, 231, 97);
    --speech-bubbles-background: rgba(0, 0, 0, .0) /*Speech Bubble Color and Opacity(4th Value between 0 and 1*/;
    --member-list-selected-background-color: rgba(0, 0, 0, 0.420);
    --chat-voice-channels-opacity: 1 /* Voice Channel names opacity */;
    --chat-voice-channels-color: #fff /* Voice Channel names Color */;
    --voice-chat-selected-color: var(--main-color) /*Voice chat Selected Color Default: #f6f6f7*/;
    /* Sizes - https://andrew.hedges.name/experiments/aspect_ratio/ */
    --userPopout-width: 420px /* Default Width: 250px */;
    --userPopout-height: auto /* Default Height :auto */;
    --modalPopout-width: 1200px;
    --modalPopout-height: 502px;
    --emoji-picker-height: 420px;
}

