//META{"name":"cv_PlainColor","description":"No Images, Just Colors","author":"lepetitpaco based on ClearVision V5 by Zerthox","version":"5"}*//{}
/* IMPORT CSS FROM GITHUB */

@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BasicStyle.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BasicStyleV2.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerAvatar.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/ColorPulse-TwoColors.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BacklightNotifications.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/glow.css);
:root {
    --main-color: rgb(101, 110, 228);
    --secondary-text-color: rgb(137, 145, 255);
    --hover-color: rgba(75, 72, 72, 0.267);
    /*Colors Selector List*/
    --first-gradient-color: rgb(101, 110, 228);
    --second-gradient-color: rgb(144, 151, 255);
    /*Various Sizes*/
    --emoji-picker-height: 420px;
    /*Speech Bubble*/
    --speech-bubbles-background: rgba(0, 0, 0, .0);
    /*Chat and Voice Color. Default: #72767d*/
    --chat-voice-channels-opacity: 1;
    --chat-voice-channels-color: #fff;
    /*Voice chat Selected Color Default: #f6f6f7*/
    --voice-chat-selected-color: var(--main-color);
    /*User Popout Size*/
    /*Default Width: 250px | Default Height :auto*/
    --userPopout-width: 420px;
    --userPopout-height: auto;
    /*Modal Popout Size*/
    --modalPopout-width: 1200px;
    --modalPopout-height: 675px;
    /* https://andrew.hedges.name/experiments/aspect_ratio/ */
    --member-list-selected-background-color: rgba(0, 0, 0, 0.420);
}

/*CUSTOMIZABLE BACKGROUND IMAGE*/

body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.dark label {
    background-color: #36454f !important;
    filter: brightness(100%);
}

/*Home Icon and Icons style fix*/

.homeIcon-1FoKUJ,
.homeIcon-1FoKUJ:hover {
    color: var(--secondary-text-color) !important;
}

/*==========================DISPLAY NONE==========================*/

/* .messageGroupBlocked-3wrQQX, */

/*Don't Display of the Blocked Message Line*/

.accountDetails-3k9g4n::after,
/*remove CV Version number*/

.helper-2c73HK,
/* Remove unnecessary help texts from status picker */

.protip-YaFfgO,
/*Don't display protip cuz I'm not a noob*/

.welcomeMessage-3_Mcht,
/*Don't display welcome message on server*/

.wrapper-r-6rrt,
/*No Channel Message*/

.dividerEnabled-2TTlcf,
/*Divider Bar - Line between each messages*/

.attachButtonDivider-3Glu60,
/*Line between the chat input and the + button*/

.voiceUserSummaryItem-BDt0rD
/*Collapsed Voice Channel Still visible users*/

    {
    display: none !important;
}

/*==========================DO NOT TOUCH==========================*/

.homeIcon-1FoKUJ g {
    display: inline;
}

[class*="theme-"] .guild-1EfMGQ.selected-ML3OIq .homeIcon-1FoKUJ g {
    color: white !important;
}

.popout-3sVMXz,
.inner-1JeGVc {
    box-shadow: 0 0 30px var(--main-color) !important;
}

/*=========================================================EXPERIMENTS=========================================================*/