//META{"name":"cv_ThatSmile","description":"It's all over when you see this","author":"lepetitpaco","version":"1"}*//{}
/* IMPORT CSS FROM GITHUB */

@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BasicStyle.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BasicStyleV2.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerAvatar.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/ColorPulse-TwoColors.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BacklightNotifications.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/glow.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerUserPopout.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerModalPopout.css);
:root {
    --main-color: #FD5F00;
    --secondary-text-color: rgb(236, 236, 236);
    --hover-color: rgba(75, 72, 72, 0.267);
    /*Colors Selector List*/
    --first-gradient-color: gold;
    --second-gradient-color: #7DF9FF;
    /*background*/
    --background-blur: 0px;
    --background-brightness: 30%;
    /*Various Sizes*/
    --emoji-picker-height: 420px;
    /*Speech Bubble*/
    --speech-bubbles-background: rgba(0, 0, 0, .0);
    /*Chat and Voice Color. Default: #72767d*/
    --chat-voice-channels-opacity: 1;
    --chat-voice-channels-color: #fff;
    /*Voice chat Selected Color Default: #f6f6f7*/
    --voice-chat-selected-color: var(--main-color);
    /*User Popout Size*/
    /*Default Width: 250px | Default Height :auto*/
    --userPopout-width: 420px;
    --userPopout-height: auto;
    /*Modal Popout Size*/
    --modalPopout-width: 1200px;
    --modalPopout-height: 675px;
    /* https://andrew.hedges.name/experiments/aspect_ratio/ */
    --member-list-selected-background-color: rgba(0, 0, 0, 0.420);
    /*CUSTOMIZABLE BACKGROUND IMAGE*/
}

body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.dark label {
    /* IMPORTANT: Link must be HTTPS! */
    background-image: url(https://i.imgur.com/Av5smb3.png) !important;
}

/*CUSTOMIZABLE USER POPOUT IMAGE*/

.userPopout-3XzG_A::before {
    background-image: url(https://i.imgur.com/H08b75t.png) !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
}

/*CUSTOMIZABLE POPOUT MODAL*/

.root-SR8cQa::before {
    background-image: url(https://i.imgur.com/Av5smb3.png) !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
}

/*CUSTOMIZABLE HOME ICON*/

.homeIcon-1FoKUJ,
.homeIcon-1FoKUJ:hover {
    color: transparent;
    background-image: url(https://i.imgur.com/9fxDOwa.jpg) !important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

/*==========================DISPLAY NONE==========================*/

/* .messageGroupBlocked-3wrQQX, */

/*Don't Display of the Blocked Message Line*/

.accountDetails-3k9g4n::after,
/*remove CV Version number*/

.helper-2c73HK,
/* Remove unnecessary help texts from status picker */

.protip-YaFfgO,
/*Don't display protip cuz I'm not a noob*/

.welcomeMessage-3_Mcht,
/*Don't display welcome message on server*/

.wrapper-r-6rrt,
/*No Channel Message*/

.dividerEnabled-2TTlcf,
/*Divider Bar - Line between each messages*/

.attachButtonDivider-3Glu60,
/*Line between the chat input and the + button*/

.voiceUserSummaryItem-BDt0rD
/*Collapsed Voice Channel Still visible users*/

    {
    display: none !important;
}

/*=========================================================EXPERIMENTS=========================================================*/