//META{"name":"macross","description":"macross","author":"lepetitpaco","version":"1"}*//{}
@import url(https://lepetitpaco.github.io/SomeCSS/origin/origin.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerAvatar.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerModalPopout.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/TwoColumns.css);
/* @import url(https://lepetitpaco.github.io/SomeCSS/mods/ThreeColumnsHover.css); */
/*============== CUSTOMIZABLE SETTINGS ===============*/
:root {
    /*==================== Main Background ====================*/
    /* Main Background Image */
    --background-url: url(http://i.imgur.com/bqF8FvG.jpg);
    /* Main Background Brightness */
    --background-brightness: 40%;
    --background-blur: 0px;
    /*==================== User Popout ====================*/
    /* User Popout Background Image */
    --popout-url: url(https://i.imgur.com/nYlVT5p.jpg);
    /* User Popout Background Brightness */
    --popout-brightness: 40%;
    --popout-blur: 0px;
    /*User Popout Width - Default Width: 250px */
    --userPopout-width: 400px;
    /*User Popout Height - Default Height :auto*/
    --userPopout-height: 600px;
    /*====================Modal Popout====================*/
    /* Modal Popout Background Image */
    --modal-url: url(http://i.imgur.com/fmjbucP.jpg);
    /* Modal Popout Background Brightness */
    --modal-brightness: 40%;
    --modal-blur: 0px;
    /*Modal Popout Width*/
    --modalPopout-width: 900px;
    /*Modal Popout Height*/
    --modalPopout-height: 600px;
    /*====================Home Icon====================*/
    /* Home Icon Image */
    --home-icon-url: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/57167498-012b-4dbf-bd46-b1c83d316217/dakah57-a04e8d1a-eaec-4fa0-b033-8ea599c96cd6.png);
    /*====================Colors====================*/
    --solid-main-color: rgb(158, 101, 238);
    --main-color: 158, 101, 238;
    --secondary-text-color: rgb(162, 202, 244);
    --secondary-color: 162, 202, 244;
    /*Background Color when hovering or selecting a member in the member list in the right column*/
    --member-list-selected-background-color: rgba(var(--main-color), 0.42);
    /*Speech Bubble Color and Opacity(4th Value between 0 and 1*/
    /*====================Voice Chat Colors====================*/
    /* Text Chat and Voice Chat names Opacity */
    --chat-voice-channels-opacity: 1;
    /* Text Chat and Voice Chat names Color */
    --chat-voice-channels-color: #fff;
    /* Voice Chat Selected Color [Default: #f6f6f7] */
    --selected-voice-color: var(--solid-main-color);
    /* Text Chat Selected Color [Default: #f6f6f7] */
    --selected-text-chat-color: #fff;
    /*==================== Emoji Picker ====================*/
    --emoji-picker-height: 666px;
    /*NSFW Warning Settings*/
    --nwfw-warning-image: url(https://i.imgur.com/7c18ZXS.jpg);
    --nwfw-warning-text: "Random text about you being a pervert";
    /*Color Pulse and Color Gradient Mods Settings*/
    --first-gradient-color: rgb(255, 253, 160);
    --second-gradient-color: rgb(146, 247, 205);
}

/*Gradient BG*/
.app-19_DXt, .typeWindows-1za-n7 {
    background: linear-gradient(to right, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, .9) 100%) !important;
    margin-top: unset;
    padding-top: 6px;
}

/*Some opacity hovers to enjoy them backgrounds ya feel*/
.body-3ND3kc,.headerNormal-T_seeN,.body-3iLsc4,.footer-1fjuF6{opacity:.05;transition: 400ms ease;}
.body-3ND3kc:hover,.headerNormal-T_seeN:hover,.body-3iLsc4:hover,.footer-1fjuF6:hover{opacity: 1;}
/*Avatar in Userpopout disappear*/
.avatarWrapperNormal-3wFMbf {cursor: pointer;opacity: 0;}
.avatarWrapperNormal-3wFMbf:hover {cursor: pointer;opacity:1;transition: 400ms;}
.avatarWrapperNormal-3wFMbf:hover .avatarHint-1qgaV3 {opacity: 1;border-radius: 25%;}

.connectedAccount-36nQx7{
    width: 45%;
}
