//META{"name":"TheView","description":"Nice View","author":"lepetitpaco based on ClearVision V5 by Zerthox","version":"5"}*//{} 

/* IMPORT CSS FROM GITHUB */

@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BasicStyle.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/SomeAnimations.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BacklightNotifications.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/glow.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerAvatar.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerModalPopout.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/BiggerUserPopout.css);
@import url(https://lepetitpaco.github.io/SomeCSS/mods/gradientBackground.css);

/* @import url(https://lepetitpaco.github.io/SomeCSS/mods/ColorPulse-TwoColors.css); */

@import url(https://lepetitpaco.github.io/SomeCSS/mods/LightsOnVoiceChat.css);

/*============== CUSTOMIZABLE SETTINGS ===============*/


/* Image Ratio Calculator -> https://andrew.hedges.name/experiments/aspect_ratio/ */

:root {
    /*==================== Main Background ====================*/
    /* Main Background Image */
    --background-url: url(https://i.imgur.com/GzBpdvC.jpg);
    /* Main Background Brightness */
    --background-brightness: 50%;
    /*==================== User Popout ====================*/
    /* User Popout Background Image */
    --popout-url: url(https://i.imgur.com/FOpYvcM.jpg);
    /* User Popout Background Brightness */
    --popout-brightness: 30%;
    /*User Popout Width - Default Width: 250px */
    --userPopout-width: 320px;
    /*User Popout Height - Default Height :auto*/
    --userPopout-height: auto;
    /*====================Modal Popout====================*/
    /* Modal Popout Background Image */
    --modal-url: url(https://i.imgur.com/FOpYvcM.jpg);
    /* Modal Popout Background Brightness */
    --modal-brightness: 30%;
    /*Modal Popout Width*/
    --modalPopout-width: 800px;
    /*Modal Popout Height*/
    --modalPopout-height: 502px;
    /*====================Home Icon====================*/
    /* Home Icon Image */
    --home-icon-url: url(https://i.imgur.com/judn6JH.jpg);
    /*====================Colors====================*/
    --main-color: rgb(164, 38, 180);
    --secondary-text-color: rgb(255, 255, 255);
    --hover-color: rgba(75, 72, 72, 0.267);
    --first-gradient-color: rgb(255, 253, 160);
    --second-gradient-color: rgb(146, 247, 205);
    /*Background Color when hovering or selecting a member in the member list in the right column*/
    --member-list-selected-background-color: rgba(126, 255, 244, 0.42);
    /*Speech Bubble Color and Opacity(4th Value between 0 and 1*/
    --speech-bubbles-background: rgba(0, 0, 0, .0);
    /*====================Voice Chat Colors====================*/
    /* Text Chat and Voice Chat names Opacity */
    --chat-voice-channels-opacity: 1;
    /* Text Chat and Voice Chat names Color */
    --chat-voice-channels-color: #fff;
    /* Voice Chat Selected Color [Default: #f6f6f7] */
    --selected-voice-color: rgb(88, 235, 227);
    /* Text Chat Selected Color [Default: #f6f6f7] */
    --selected-text-chat-color: #fff;
    /*==================== Emoji Picker ====================*/
    --emoji-picker-height: 420px;
}

/*Don't Display of the Blocked Message Line*/

.messageGroupBlocked-3wrQQX, .messageGroupBlockedBtn-1PBBh- {
    display: none !important;
}

/*remove CV Version number*/

.accountDetails-3k9g4n::after {
    display: none !important;
}

/* Remove unnecessary help texts from status picker */

.helper-2c73HK {
    display: none !important;
}

/*Don't display protip cuz I'm not a noob*/

.protip-YaFfgO {
    display: none !important;
}

/*Don't display welcome message on server*/

.welcomeMessage-3_Mcht {
    display: none !important;
}

/*No Channel Message*/

.wrapper-r-6rrt {
    display: none !important;
}

/*Divider Bar - Line between each messages*/

.dividerEnabled-2TTlcf {
    display: none !important;
}

/*Line between the chat input and the + button*/

.attachButtonDivider-3Glu60 {
    display: none !important;
}

/*Collapsed Voice Channel Still visible users*/

.voiceUserSummaryItem-BDt0rD {
    display: none !important;
}