/*Adds two animated lines on collapse and a hover color effect on category names in the channel column*/

.channels-Ie2l6A .nameDefault-2DI02H,
.channels-Ie2l6A .nameHovered-1gxhWH,
.channels-Ie2l6A .nameCollapsed-34uFWo,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB,
.channels-Ie2l6A .nameMuted-1MCOt4,
.channels-Ie2l6A .nameUnread-njOjIS {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--main-color) !important;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.channels-Ie2l6A .nameDefault-2DI02H:before,
.channels-Ie2l6A .nameDefault-2DI02H::before,
.channels-Ie2l6A .nameHovered-1gxhWH:before,
.channels-Ie2l6A .nameHovered-1gxhWH::before,
.channels-Ie2l6A .nameCollapsed-34uFWo:before,
.channels-Ie2l6A .nameCollapsed-34uFWo::before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::before,
.channels-Ie2l6A .nameMuted-1MCOt4:before,
.channels-Ie2l6A .nameMuted-1MCOt4::before,
.channels-Ie2l6A .nameUnread-njOjIS:before,
.channels-Ie2l6A .nameUnread-njOjIS::before,
.channels-Ie2l6A .nameDefault-2DI02H:after,
.channels-Ie2l6A .nameDefault-2DI02H::after,
.channels-Ie2l6A .nameHovered-1gxhWH:after,
.channels-Ie2l6A .nameHovered-1gxhWH::after,
.channels-Ie2l6A .nameCollapsed-34uFWo:after,
.channels-Ie2l6A .nameCollapsed-34uFWo::after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::after,
.channels-Ie2l6A .nameMuted-1MCOt4:after,
.channels-Ie2l6A .nameMuted-1MCOt4::after,
.channels-Ie2l6A .nameUnread-njOjIS:after,
.channels-Ie2l6A .nameUnread-njOjIS::after {
    content: "";
    display: inline-block;
    flex-grow: 1;
    height: 2px;
    background-color: var(--main-color);
    margin: -1px 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.channels-Ie2l6A .nameHovered-1gxhWH,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB {
    color: var(--secondary-text-color) !important;
}

.channels-Ie2l6A .nameHovered-1gxhWH:before,
.channels-Ie2l6A .nameHovered-1gxhWH::before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::before,
.channels-Ie2l6A .nameHovered-1gxhWH:after,
.channels-Ie2l6A .nameHovered-1gxhWH::after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::after {
    background-color: var(--secondary-text-color) !important;
}

.channels-Ie2l6A .nameCollapsed-34uFWo:before,
.channels-Ie2l6A .nameCollapsed-34uFWo::before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::before,
.channels-Ie2l6A .closed-2Hef-I+.nameMuted-1n0LSj:before,
.channels-Ie2l6A .closed-2Hef-I+.nameMuted-1n0LSj::before,
.channels-Ie2l6A .nameCollapsed-34uFWo:after,
.channels-Ie2l6A .nameCollapsed-34uFWo::after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::after,
.channels-Ie2l6A .closed-2Hef-I+.nameMuted-1n0LSj:after,
.channels-Ie2l6A .closed-2Hef-I+.nameMuted-1n0LSj::after {
    flex-grow: 0;
}

.iconCollapsed-3hFp_8,
.iconDefault-3Gr8d2,
.iconHovered-2L3-fB,
.iconHoveredCollapsed-3caIIZ,
.iconMuted-1HVBGH,
.iconUnread-2eGkvX {
    display: none;
}

/*Lights On - Voice Chat*/

.avatarSpeaking-1wJCNq,
.avatarDefault-35WC3R,
.avatarContainer-72bSfM {
    border-color: transparent !important;
    box-shadow: none !important;
    z-index: 10;
}

.avatarSpeaking-1wJCNq::before {
    content: "";
    position: absolute;
    left: -5px;
    width: 4px;
    height: 20px;
    background: var(--main-color);
}

.avatarSpeaking-1wJCNq::after {
    content: "";
    position: absolute;
    height: 20px;
    left: -5px;
    width: 100%;
    background: linear-gradient(to right, var(--main-color) 0%, transparent 35%);
    opacity: 0.5;
    z-index: -1;
}

/*User Popout Menu Pop*/

.userPopout-3XzG_A {
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    -webkit-animation: menu-pop 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -moz-animation: menu-pop 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -ms-animation: menu-pop 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -o-animation: menu-pop 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    animation: menu-pop 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
}

/*User Popour Roles New Design*/

.role-2irmRk[style]:not(:hover) {
    border-color: transparent !important;
}

.role-2irmRk {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    cursor: default;
}

.role-2irmRk>.roleCircle-3xAZ1j {
    width: 12;
    height: 12;
    float: right;
}

.role-2irmRk>.roleCircle-3xAZ1j:after,
.role-2irmRk>.roleCircle-3xAZ1j::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 3px;
    background-color: inherit;
    opacity: .1;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
}

.role-2irmRk>.roleName-32vpEy {
    margin-right: 4px;
    margin-left: 4px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

/*Context Menu Smoothie Dope*/

.contextMenu-HLZMGh {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-color: transparent !important;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    -webkit-animation: menu-fold 0.3s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -moz-animation: menu-fold 0.3s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -ms-animation: menu-fold 0.3s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -o-animation: menu-fold 0.3s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    animation: menu-fold 0.3s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0
}

.contextMenu-HLZMGh.undefined {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%
}

.contextMenu-HLZMGh .itemGroup-1tL0uz {
    border-top-color: rgba(255, 255, 255, 0.04) !important
}

.contextMenu-HLZMGh .item-1Yvehc {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}

.contextMenu-HLZMGh .item-1Yvehc:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7) !important
}

.contextMenu-HLZMGh .item-1Yvehc.danger-2dXSTE {
    background-color: #a93d3d !important;
    color: rgba(255, 255, 255, 0.6) !important;
    width: calc(100% - 4px);
    margin: 2px
}

.contextMenu-HLZMGh .item-1Yvehc.danger-2dXSTE:hover {
    background-color: #f04747 !important;
    color: #fff !important
}

.contextMenu-HLZMGh .itemSubMenu-1vN_Yn .contextMenu-HLZMGh {
    -webkit-animation: menu-slide 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -moz-animation: menu-slide 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -ms-animation: menu-slide 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -o-animation: menu-slide 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    animation: menu-slide 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%
}

/*Member List Selected*/

.members-1998pB>.membersGroup-v9BXpm {
    height: auto;
    margin: 5px 15px;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.288);
    color: var(--main-color) !important;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .08em;
    border-radius: 3px
}

.members-1998pB>.member-3W1lQa {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.members-1998pB>.member-3W1lQa>.content-OzHfo4 {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}

.members-1998pB>.member-3W1lQa:hover>.content-OzHfo4,
.members-1998pB>.member-3W1lQa.popout-open>.content-OzHfo4 {
    background: linear-gradient(to right, var(--member-list-selected-background-color) 85%, transparent) !important;
}

.members-1998pB>.member-3W1lQa:active>.content-OzHfo4 {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9)
}

.members-1998pB>.member-3W1lQa .username-1cB_5E {
    font-size: 14px
}

.members-1998pB>.member-3W1lQa .ownerIcon-uZ6mE7>g>path,
.members-1998pB>.member-3W1lQa .activityIconForeground-qYIPPg {
    fill: rgba(255, 255, 255, 0.4)
}

.members-1998pB>.member-3W1lQa .activityText-sLG0UL>strong {
    color: var(--main-color) !important;
    font-weight: 700
}

.members-1998pB>.member-3W1lQa.memberOffline-2lN7gt .avatar-16XVId {
    -webkit-filter: grayscale(100%) blur(1px);
    -moz-filter: grayscale(100%) blur(1px);
    -ms-filter: grayscale(100%) blur(1px);
    -o-filter: grayscale(100%) blur(1px);
    filter: grayscale(100%) blur(1px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

.members-1998pB>.member-3W1lQa.memberOffline-2lN7gt:hover .avatar-16XVId {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none
}