/*==========================Modal Popout BIGGER==========================*/

.root-SR8cQa {
    height: var(--modalPopout-height);
    width: var(--modalPopout-width);
}

.body-3ND3kc {
    height: 100%;
    overflow-y: scroll;
}