/*==========================User Popout BIGGER==========================*/

.popout-3sVMXz .userPopout-3XzG_A {
    height: var(--userPopout-height);
    width: var(--userPopout-width);
}

.bodyTitle-Y0qMQz {
    margin-bottom: -5%;
}