/*Specific Correction due to black and white theme*/


/*Text Channel Selected Text Color*/

.wrapper-232cHJ.badge-1GsMF2,
.private-channels .channel.selected .channel-name,
.unread-1xRYoj,
.mention-1f5kbO,
.contentSelectedText-3wUhMi,
.unread-1Dp-OI,
.icon-2aINcz,
.private-channels .channel.selected .link-button-icon,
.colorSelectedText-1y4Wvs,
.newMessagesBar-mujexs button:first-child,
.newMessagesBar-mujexs button:last-child,
.tooltip.tooltip-top,
.tooltip.tooltip-right,
.tooltip.tooltip-bottom,
.tooltip.tooltip-left {
    color: black !important;
    font-weight: bold;
}

[class*="autocomplete-"] [class*="selectorSelected-"] {
    background-color: black;
}

.members-1998pB .membersGroup-v9BXpm::after,
.private-channels header::after {
    border-bottom: 2px solid white !important;
    box-shadow: 0 0 10px white !important;
}

.attachButtonPlay-ZnFdQr,
.nameTag-3p0yK-,
.membersGroup-v9BXpm,
[class*="theme-"] .username-_4ZSMR,
.theme-dark .divider-3gKybi.dividerRed-MKoLlr>span {
    color: white !important;
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr>div {
    background: white !important;
}


/*Spotify Elements*/

.playButtonWrapper-3-YFAn {
    box-shadow: 0 0 10px white;
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:disabled {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: white;
    box-shadow: 0 0 10px white;
}

.barInner-3NDaY_ {
    background-color: rgba(255, 255, 255, 0.6);
}