/*Adds two animated lines on collapse and a hover color effect on category names in the channel column*/

.channels-Ie2l6A .nameDefault-2DI02H,
.channels-Ie2l6A .nameHovered-1gxhWH,
.channels-Ie2l6A .nameCollapsed-34uFWo,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB,
.channels-Ie2l6A .nameMuted-1MCOt4,
.channels-Ie2l6A .nameUnread-njOjIS {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--main-color) !important;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.channels-Ie2l6A .nameDefault-2DI02H:before,
.channels-Ie2l6A .nameDefault-2DI02H::before,
.channels-Ie2l6A .nameHovered-1gxhWH:before,
.channels-Ie2l6A .nameHovered-1gxhWH::before,
.channels-Ie2l6A .nameCollapsed-34uFWo:before,
.channels-Ie2l6A .nameCollapsed-34uFWo::before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::before,
.channels-Ie2l6A .nameMuted-1MCOt4:before,
.channels-Ie2l6A .nameMuted-1MCOt4::before,
.channels-Ie2l6A .nameUnread-njOjIS:before,
.channels-Ie2l6A .nameUnread-njOjIS::before,
.channels-Ie2l6A .nameDefault-2DI02H:after,
.channels-Ie2l6A .nameDefault-2DI02H::after,
.channels-Ie2l6A .nameHovered-1gxhWH:after,
.channels-Ie2l6A .nameHovered-1gxhWH::after,
.channels-Ie2l6A .nameCollapsed-34uFWo:after,
.channels-Ie2l6A .nameCollapsed-34uFWo::after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::after,
.channels-Ie2l6A .nameMuted-1MCOt4:after,
.channels-Ie2l6A .nameMuted-1MCOt4::after,
.channels-Ie2l6A .nameUnread-njOjIS:after,
.channels-Ie2l6A .nameUnread-njOjIS::after {
    content: "";
    display: inline-block;
    flex-grow: 1;
    height: 2px;
    background-color: var(--main-color);
    margin: -1px 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.channels-Ie2l6A .nameHovered-1gxhWH,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB {
    color: var(--secondary-text-color) !important;
}

.channels-Ie2l6A .nameHovered-1gxhWH:before,
.channels-Ie2l6A .nameHovered-1gxhWH::before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::before,
.channels-Ie2l6A .nameHovered-1gxhWH:after,
.channels-Ie2l6A .nameHovered-1gxhWH::after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::after {
    background-color: var(--secondary-text-color) !important;
}

.channels-Ie2l6A .nameCollapsed-34uFWo:before,
.channels-Ie2l6A .nameCollapsed-34uFWo::before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:before,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::before,
.channels-Ie2l6A .closed-2Hef-I+.nameMuted-1n0LSj:before,
.channels-Ie2l6A .closed-2Hef-I+.nameMuted-1n0LSj::before,
.channels-Ie2l6A .nameCollapsed-34uFWo:after,
.channels-Ie2l6A .nameCollapsed-34uFWo::after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:after,
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB::after,
.channels-Ie2l6A .closed-2Hef-I+.nameMuted-1n0LSj:after,
.channels-Ie2l6A .closed-2Hef-I+.nameMuted-1n0LSj::after {
    flex-grow: 0;
}

.iconCollapsed-3hFp_8,
.iconDefault-3Gr8d2,
.iconHovered-2L3-fB,
.iconHoveredCollapsed-3caIIZ,
.iconMuted-1HVBGH,
.iconUnread-2eGkvX {
    display: none;
}