/*Animation - Color Pulse - 2 Colors*/

.markup-2BOw-j {
    animation-name: color-pulse;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-animation-name: color-pulse;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes color-pulse {
    0% {
        color: var(--first-gradient-color);
    }
    66% {
        color: var(--second-gradient-color);
    }
    67% {
        color: var(--second-gradient-color);
    }
    100% {
        color: var(--first-gradient-color);
    }
}