:root {
    --bubble-color: 255, 255, 255;
}

.containerCozy-jafyvG {
    overflow: visible !important;
    padding: 10px 0 !important;
    margin: 20px 5px 20px 100px !important;
    border-radius: 15px !important;
    /* box-shadow: inset 0 0 50px rgba(255, 255, 255, .4); */
    background: linear-gradient(0deg, rgba(var(--bubble-color), .1) 0%, rgba(var(--bubble-color), .1) 5%, rgba(var(--bubble-color), 0) 10%, rgba(var(--bubble-color), 0) 20%, rgba(var(--bubble-color), 0) 30%, rgba(var(--bubble-color), 0) 40%, rgba(var(--bubble-color), 0) 50%),
        linear-gradient(45deg, rgba(var(--bubble-color), .2) 0%, rgba(var(--bubble-color), .1) 5%, rgba(var(--bubble-color), 0) 10%, rgba(var(--bubble-color), 0) 20%, rgba(var(--bubble-color), 0) 30%, rgba(var(--bubble-color), 0) 40%, rgba(var(--bubble-color), 0) 50%),
        linear-gradient(90deg, rgba(var(--bubble-color), .1) 0%, rgba(var(--bubble-color), .0) 5%, rgba(var(--bubble-color), 0) 10%, rgba(var(--bubble-color), 0) 20%, rgba(var(--bubble-color), 0) 30%, rgba(var(--bubble-color), 0) 40%, rgba(var(--bubble-color), 0) 50%),
        linear-gradient(135deg, rgba(var(--bubble-color), .2) 0%, rgba(var(--bubble-color), .1) 5%, rgba(var(--bubble-color), 0) 10%, rgba(var(--bubble-color), 0) 20%, rgba(var(--bubble-color), 0) 30%, rgba(var(--bubble-color), 0) 40%, rgba(var(--bubble-color), 0) 50%),
        linear-gradient(180deg, rgba(var(--bubble-color), .2) 0%, rgba(var(--bubble-color), .1) 5%, rgba(var(--bubble-color), 0) 10%, rgba(var(--bubble-color), 0) 20%, rgba(var(--bubble-color), 0) 30%, rgba(var(--bubble-color), 0) 40%, rgba(var(--bubble-color), 0) 50%),
        linear-gradient(225deg, rgba(var(--bubble-color), .1) 0%, rgba(var(--bubble-color), .0) 5%, rgba(var(--bubble-color), 0) 10%, rgba(var(--bubble-color), 0) 20%, rgba(var(--bubble-color), 0) 30%, rgba(var(--bubble-color), 0) 40%, rgba(var(--bubble-color), 0) 50%),
        linear-gradient(270deg, rgba(var(--bubble-color), .1) 0%, rgba(var(--bubble-color), .0) 5%, rgba(var(--bubble-color), 0) 10%, rgba(var(--bubble-color), 0) 20%, rgba(var(--bubble-color), 0) 30%, rgba(var(--bubble-color), 0) 40%, rgba(var(--bubble-color), 0) 50%),
        linear-gradient(315deg, rgba(var(--bubble-color), .0) 0%, rgba(var(--bubble-color), .0) 5%, rgba(var(--bubble-color), 0) 10%, rgba(var(--bubble-color), 0) 20%, rgba(var(--bubble-color), 0) 30%, rgba(var(--bubble-color), 0) 40%, rgba(var(--bubble-color), 0) 50%);
}

.headerCozy-2N9HOL {
    position: relative !important;
    margin-left: 10px !important;
}

.headerCozy-2N9HOL .avatar-17mtNa {
    position: absolute !important;
    left: -90px !important;
    top: 0 !important;
}

.contentCozy-3XX413 {
    margin-left: 10px;
}
