/*========= Gradient BG ===========*/

.app-19_DXt, .typeWindows-1za-n7 {
    background: linear-gradient(to right, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, .9) 100%) !important;
}

/*Fix for the thin not gradiented Line*/

.typeWindows-1za-n7 {
    height: 18px;
    padding-top: 4px!important;
    margin-top: 0px!important;
}

/*=====================================*

/*Darker Chat Box background*/

[class*="theme-"] .inner-zqa7da {
    background-color: rgba(0, 0, 0, 0.3);
}

/*Chat Containers - Chat Bubbles*/

.containerCozy-jafyvG {
    overflow: visible !important;
    padding: 10px 0 !important;
    margin: 20px 5px 20px 100px !important;
    border-radius: 15px !important;
    background: rgba(0, 0, 0, 0.6);
}
.headerCozy-2N9HOL {
    position: relative !important;
    margin-left: 10px !important;
}
.headerCozy-2N9HOL .avatar-17mtNa {
    position: absolute !important;
    left: -90px !important;
    top: 0 !important;
}
.contentCozy-3XX413 {
    margin-left: 10px;
}