DIV[class*="channels"][class*="vertical"],
DIV[class*="scroller"].channel-members,
.container-2Thooq {
    width: 20px !important;
    -webkit-transition: width 1s !important;
    opacity: 0;
}

DIV[class*="channels"][class*="vertical"]:hover,
DIV[class*="scroller"].channel-members:hover,
.container-2Thooq {
    width: 240px !important;
    opacity: 1;
}

.membersWrap-2h-GB4 {
    min-width: 0px;
    width: 10px !important;
    -webkit-transition: width 1s !important;
}

.membersWrap-2h-GB4:hover {
    width: 240px !important;
}

.guildsWrapper-5TJh6A {
    width: 20px !important;
    -webkit-transition: width 1s !important;
}

.guildsWrapper-5TJh6A:hover {
    width: 70px !important;
}