/*Its the most wonderfultime of the year (Small Avatar)*/
.avatar-17mtNa .large-3ChYtB::before {
    background-image: url(https://i.imgur.com/7u3XEyT.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    display: block;
    transform: translate(0px, -15px) scaleX(-1);
    content: "";
}

/*  Enables to show the hat without being cut*/
.containerCozyBounded-1rKFAn {
    overflow: visible;
}

.avatar-17mtNa:hover {
    opacity: 1;
}
