/*Adds two animated lines on collapse and a hover color effect on category names in the channel column*/
.channels-Ie2l6A .iconDefault-3Gr8d2, .channels-Ie2l6A .iconCollapsed-3hFp_8, .channels-Ie2l6A .iconHovered-2L3-fB, .channels-Ie2l6A .iconHoveredCollapsed-3caIIZ, .channels-Ie2l6A .iconMuted-1HVBGH, .channels-Ie2l6A .iconUnread-2eGkvX {
    display: none 
}
.channels-Ie2l6A .nameDefault-2DI02H, .channels-Ie2l6A .nameCollapsed-34uFWo, .channels-Ie2l6A .nameHovered-1gxhWH, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB, .channels-Ie2l6A .nameMuted-1MCOt4, .channels-Ie2l6A .nameUnread-njOjIS {
    position: relative;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--main-color);
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out 
}
.channels-Ie2l6A .nameDefault-2DI02H:before, .channels-Ie2l6A .nameCollapsed-34uFWo:before, .channels-Ie2l6A .nameHovered-1gxhWH:before, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB:before, .channels-Ie2l6A .nameMuted-1MCOt4:before, .channels-Ie2l6A .nameUnread-njOjIS:before, .channels-Ie2l6A .nameDefault-2DI02H::before, .channels-Ie2l6A .nameCollapsed-34uFWo::before, .channels-Ie2l6A .nameHovered-1gxhWH::before, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB::before, .channels-Ie2l6A .nameMuted-1MCOt4::before, .channels-Ie2l6A .nameUnread-njOjIS::before {
    content: "";
    display: inline-block;
    flex-grow: 1;
    height: 2px;
    background-color: var(--main-color);
    margin: -1px 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out 
}
.channels-Ie2l6A .nameDefault-2DI02H:after, .channels-Ie2l6A .nameCollapsed-34uFWo:after, .channels-Ie2l6A .nameHovered-1gxhWH:after, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB:after, .channels-Ie2l6A .nameMuted-1MCOt4:after, .channels-Ie2l6A .nameUnread-njOjIS:after, .channels-Ie2l6A .nameDefault-2DI02H::after, .channels-Ie2l6A .nameCollapsed-34uFWo::after, .channels-Ie2l6A .nameHovered-1gxhWH::after, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB::after, .channels-Ie2l6A .nameMuted-1MCOt4::after, .channels-Ie2l6A .nameUnread-njOjIS::after {
    content: "";
    display: inline-block;
    flex-grow: 1;
    height: 2px;
    background-color: var(--main-color);
    margin: -1px 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out 
}
.channels-Ie2l6A .nameDefault-2DI02H {
    color: var(--main-color) !important;
}
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB {
    color: var(--secondary-text-color) 
}
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:before, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB::before {
    background-color: var(--secondary-text-color) 
}
.channels-Ie2l6A .nameHoveredCollapsed-2orEWB:after, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB::after {
    background-color: var(--secondary-text-color) 
}
.channels-Ie2l6A .nameCollapsed-34uFWo:before, .channels-Ie2l6A .nameCollapsed-34uFWo::before, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB:before, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB::before, .channels-Ie2l6A .directionRight-O8AY4M+.nameMuted-1MCOt4:before, .channels-Ie2l6A .directionRight-O8AY4M+.nameMuted-1MCOt4::before {
    flex-grow: 0 
}
.channels-Ie2l6A .nameCollapsed-34uFWo:after, .channels-Ie2l6A .nameCollapsed-34uFWo::after, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB:after, .channels-Ie2l6A .nameHoveredCollapsed-2orEWB::after, .channels-Ie2l6A .directionRight-O8AY4M+.nameMuted-1MCOt4:after, .channels-Ie2l6A .directionRight-O8AY4M+.nameMuted-1MCOt4::after {
    flex-grow: 0 
}
.channels-Ie2l6A .containerDefault-3GGEv_, .channels-Ie2l6A .containerDragAfter-3TEhpe, .channels-Ie2l6A .containerDragBefore-3Dzc5x, .channels-Ie2l6A .containerUserOver-1Tcb7l {
    padding-top: 24px;
}
.channels-Ie2l6A .container-hidden {
    opacity: .3;
}
.channels-Ie2l6A .content-20Aix8 {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.channels-Ie2l6A .contentDefaultVoice-2ko43i:active, .channels-Ie2l6A .contentHoveredVoice-3p_NEO:active, .channels-Ie2l6A .contentLockedVoice-1gx-SP:active, .channels-Ie2l6A .contentMutedVoice-2lJ0UD:active, .channels-Ie2l6A .contentSelectedVoice-1WDIBM:active, .channels-Ie2l6A .contentUnreadVoice-1dijOt:active {
    background-color: rgba(255, 255, 255, 0.1);
}
.channels-Ie2l6A .name-3M0b8v {
    color: rgb(255, 238, 0);
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out 
}
.channels-Ie2l6A .icon-sxakjD {
    opacity: .7 !important;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out 
}
.channels-Ie2l6A .icon-sxakjD path {
    opacity: .3 
}
.channels-Ie2l6A .actionIcon-2Hi9ZG {
    opacity: .3 !important;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out 
}
.channels-Ie2l6A .actionIcon-2Hi9ZG:hover {
    opacity: .7 !important 
}
.channels-Ie2l6A .content-20Aix8 path {
    fill: #fff;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out 
}
.channels-Ie2l6A .contentHoveredText-2D9B-x {
    background-color: rgba(250, 32, 203, 0.1) 
}
.channels-Ie2l6A .contentHoveredText-2D9B-x .name-3M0b8v, .channels-Ie2l6A .contentHoveredVoice-3p_NEO .name-3M0b8v {
    color: rgba(255, 255, 255, 0.7) 
}
.channels-Ie2l6A .nameUnreadText-DfkrI4, .channels-Ie2l6A .nameUnreadVoice-EVo-wI {
    color: var(--main-color);
}
.channels-Ie2l6A .unread-1Dp-OI {
    display: none 
}
.channels-Ie2l6A .unread-1Dp-OI+.content-20Aix8 .icon-sxakjD {
    -webkit-filter: drop-shadow(0 0 3px var(--main-color));
    -moz-filter: drop-shadow(0 0 3px var(--main-color));
    -ms-filter: drop-shadow(0 0 3px var(--main-color));
    -o-filter: drop-shadow(0 0 3px var(--main-color));
    filter: drop-shadow(0 0 3px var(--main-color)) 
}
.channels-Ie2l6A .unread-1Dp-OI+.content-20Aix8 .icon-sxakjD path {
    fill: var(--main-color) !important;
    opacity: 1 !important 
}
.channels-Ie2l6A .contentSelectedText-3wUhMi {
    background-color: var(--main-color);
}
.channels-Ie2l6A .contentSelectedText-3wUhMi .icon-sxakjD>path {
    fill: #fff;
    opacity: 1 !important 
}
.channels-Ie2l6A .contentSelectedText-3wUhMi .actionIcon-2Hi9ZG svg {
    opacity: .7 !important 
}
.channels-Ie2l6A .contentSelectedText-3wUhMi .actionIcon-2Hi9ZG svg:hover {
    opacity: 1 !important 
}
.channels-Ie2l6A .nameSelectedText-sp_EUw {
    color: #fff !important 
}
.channels-Ie2l6A .contentSelectedVoice-1WDIBM .name-3M0b8v {
    color: rgba(255, 255, 255, 0.7) 
}
.channels-Ie2l6A .contentSelectedVoice-1WDIBM:hover .name-3M0b8v {
    color: #fff 
}
.channels-Ie2l6A .contentMutedText-2y6aPQ .name-3M0b8v, .channels-Ie2l6A .contentMutedVoice-2lJ0UD .name-3M0b8v {
    color: rgba(255, 255, 255, 0.1) 
}
.channels-Ie2l6A .contentMutedText-2y6aPQ .icon-sxakjD>path, .channels-Ie2l6A .contentMutedVoice-2lJ0UD .icon-sxakjD>path {
    opacity: .1 !important 
}
.channels-Ie2l6A .draggable-1KoBzC {
    position: relative;
    z-index: 1 
}
.channels-Ie2l6A .containerDragAfter-3TEhpe:before, .channels-Ie2l6A .containerDragBefore-3Dzc5x:before, .channels-Ie2l6A .containerDragAfter-3TEhpe::before, .channels-Ie2l6A .containerDragBefore-3Dzc5x::before, .channels-Ie2l6A .containerDragAfter-1F4fgZ:before, .channels-Ie2l6A .containerDragBefore-31UGCO:before, .channels-Ie2l6A .containerDragAfter-1F4fgZ::before, .channels-Ie2l6A .containerDragBefore-31UGCO::before {
    background-color: var(--main-color);
    border-radius: 0 
}
.channels-Ie2l6A .containerDragAfter-3TEhpe:after, .channels-Ie2l6A .containerDragBefore-3Dzc5x:after, .channels-Ie2l6A .containerDragAfter-3TEhpe::after, .channels-Ie2l6A .containerDragBefore-3Dzc5x::after, .channels-Ie2l6A .containerDragAfter-1F4fgZ:after, .channels-Ie2l6A .containerDragBefore-31UGCO:after, .channels-Ie2l6A .containerDragAfter-1F4fgZ::after, .channels-Ie2l6A .containerDragBefore-31UGCO::after {
    background-color: var(--main-color);
    border-radius: 0 
}
.channels-Ie2l6A .containerUserOver-1U5YnL:after, .channels-Ie2l6A .containerUserOver-1U5YnL::after {
    background-color: var(--main-color);
    border-color: transparent;
    opacity: .1 
}
.channels-Ie2l6A>.container-2Thooq, .channels-Ie2l6A>.container-1UB9sr {
    background-color: transparent !important 
}
/*User Popout Menu Pop*/
.userPopout-3XzG_A {
    animation: popout-smooth-fade 0.4s cubic-bezier(.3, .01, .5, 1.5);
}
@keyframes popout-smooth-fade {
    0% {
        transform: scale(0);
        opacity: 0;
   }
    100% {
        transform: scale(1);
        opacity: 1;
   }
}
/*User Popout Roles New Design*/
.role-2irmRk[style]:not(:hover) {
    border-color: transparent !important;
}
.role-2irmRk {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    cursor: default;
}
.role-2irmRk>.roleCircle-3xAZ1j {
    width: 12;
    height: 12;
    float: right;
}
.role-2irmRk>.roleCircle-3xAZ1j:after, .role-2irmRk>.roleCircle-3xAZ1j::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 3px;
    background-color: inherit;
    opacity: .1;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
}
.role-2irmRk>.roleName-32vpEy {
    margin-right: 4px;
    margin-left: 4px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
/*Context Menu Smoothie Dope*/
.contextMenu-HLZMGh {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-color: transparent !important;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.82), 0 1px 4px rgba(0, 0, 0, 0.1) !important;
    -webkit-animation: menu-fold 0.3s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -moz-animation: menu-fold 0.3s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -ms-animation: menu-fold 0.3s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -o-animation: menu-fold 0.3s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    animation: menu-fold 0.3s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0 
}
.contextMenu-HLZMGh.undefined {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100% 
}
.contextMenu-HLZMGh .itemGroup-1tL0uz {
    border-top-color: rgba(255, 255, 255, 0.04) !important 
}
.contextMenu-HLZMGh .item-1Yvehc {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out 
}
.contextMenu-HLZMGh .item-1Yvehc:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7) !important 
}
.contextMenu-HLZMGh .item-1Yvehc.danger-2dXSTE {
    background-color: #a93d3d !important;
    color: rgba(255, 255, 255, 0.6) !important;
    width: calc(100% - 4px);
    margin: 2px 
}
.contextMenu-HLZMGh .item-1Yvehc.danger-2dXSTE:hover {
    background-color: #f04747 !important;
    color: #fff !important 
}
.contextMenu-HLZMGh .itemSubMenu-1vN_Yn .contextMenu-HLZMGh {
    -webkit-animation: menu-slide 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -moz-animation: menu-slide 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -ms-animation: menu-slide 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -o-animation: menu-slide 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    animation: menu-slide 0.15s cubic-bezier(0.2, 0.6, 0.5, 1.1);
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50% 
}
/*Member List Selected*/
.members-1998pB>.membersGroup-v9BXpm {
    height: auto;
    margin: 5px 15px;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.288);
    color: var(--main-color) !important;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .08em;
    border-radius: 3px 
}
.members-1998pB>.member-3W1lQa {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden 
}
.members-1998pB>.member-3W1lQa>.content-OzHfo4 {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out 
}
.members-1998pB>.member-3W1lQa:hover>.content-OzHfo4, .members-1998pB>.member-3W1lQa.popout-open>.content-OzHfo4 {
    background: linear-gradient(to right, var(--member-list-selected-background-color) 85%, transparent) !important;
}
.members-1998pB>.member-3W1lQa:active>.content-OzHfo4 {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9) 
}
.members-1998pB>.member-3W1lQa .username-1cB_5E {
    font-size: 14px 
}
.members-1998pB>.member-3W1lQa .ownerIcon-uZ6mE7>g>path, .members-1998pB>.member-3W1lQa .activityIconForeground-qYIPPg {
    fill: rgba(255, 255, 255, 0.4) 
}
.members-1998pB>.member-3W1lQa .activityText-sLG0UL>strong {
    color: var(--main-color) !important;
    font-weight: 700 
}
.members-1998pB>.member-3W1lQa.memberOffline-2lN7gt .avatar-16XVId {
    -webkit-filter: grayscale(100%) blur(1px);
    -moz-filter: grayscale(100%) blur(1px);
    -ms-filter: grayscale(100%) blur(1px);
    -o-filter: grayscale(100%) blur(1px);
    filter: grayscale(100%) blur(1px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out 
}
.members-1998pB>.member-3W1lQa.memberOffline-2lN7gt:hover .avatar-16XVId {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none 
}
