/*======================================== Three Colums on Hover =================================*/
.guildsWrapper-5TJh6A,
.guildsWrapper-5TJh6A .scrollerWrap-1IAIlv,
.guildsWrapper-5TJh6A .guilds-1q_RqH,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ,
.guildsWrapper-5TJh6A .guild-1EfMGQ.unread-qLkInr:before,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected:before,
.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV,
.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ,
#bd-pub-li,
#bd-pub-button,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1,
.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM,
.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1,
.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM.da-friendsOnline,
#RANbutton-frame #RANbutton-frame .guildInner-3DSoA4 {
    transition: 400ms ease;
}

.guildsWrapper-5TJh6A:hover {
    width: 193px;
}

.guildsWrapper-5TJh6A:hover .scrollerWrap-1IAIlv {
    width: 200px;
}

.guildsWrapper-5TJh6A:hover .guilds-1q_RqH {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
}

/*======================= ICON PLACEMENTS========================*/
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guild-1EfMGQ {
    margin: auto;
    margin-top: 8px;
}

.guildsWrapper-5TJh6A:hover .guild-1EfMGQ.unread-qLkInr:before {
    left: -3px;
    top: 3px;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: var(--solid-main-color);
    transition: 400ms ease;
}

.guildsWrapper-5TJh6A:hover .guild-1EfMGQ:hover.unread-qLkInr:before {
    border-radius: 20%;
}

.guildsWrapper-5TJh6A:hover .guild-1EfMGQ.selected-ML3OIq:before {
    left: -3px;
    top: 17px;
    width: 56px;
    height: 56px;
    border-radius: 20%;
    background-color: var(--secondary-text-color);
}

/*DM Person Talking Placement*/
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .dms-rcsEnV {
    width: 100%;
    display: flex;
    margin-right: 0;
    margin-left: 10px;
    flex-flow: row wrap;
}

.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ {
    left: -11px;
}

#bd-pub-li {
    width: 70%;
}

#bd-pub-button {
    margin: auto;
    margin-left: 65%;
}

/*====================================================================*/
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guildSeparator-1X4GQ1 {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .friendsOnline-_wi_fM {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .dms-rcsEnV {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

/*Separator Line btween guilds and dms // friends section*/
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guildSeparator-1X4GQ1 {
    position: relative;
    width: 100%;
    margin-top: 10px;
    left: -11px;
}

/*Guild Separator Zone is too big*/
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .guildSeparator-1X4GQ1 {
    position: relative;
    margin: auto;
    width: 100%;
    left: 0;
}

/*Number of Online Friends Indicator*/
.guildsWrapper-5TJh6A:hover .guilds-1q_RqH .friendsOnline-_wi_fM.da-friendsOnline {
    position: relative;
    width: 75%;
    margin: auto;
    margin-top: 5px;
}

/*Place the Read All Button Right*/
#RANbutton-frame {
    width: 100%;
}

#RANbutton-frame .guildInner-3DSoA4 {
    padding: 0px 30%;
}
