/**
 * @name Animations Pack
 * @author Paco
 * @version 1
 * @description Animations for Origin
 */

/**
 *  Animation List
 * appear, accordeonX, rotate, slidein
 * If you don't want an animation, put none instead
 **/

 .theme-dark,
 .theme-light {
    --user-popout-animation : slideinleft;
    --user-popout-member-list: slideinright;
    --modal-popout-animation : accordeonX;
    --settings-button: rotate;
 }


/********************************************************************* ANIMATION PACK - TO BE SEPARATED *******************************************************************/

/* User Popout */
.popoutRight-1veHKi .userPopout-3XzG_A{
  transform:unset!important;
  animation-duration: 0.5s;
  animation-name: var(--user-popout-animation);
}

/* User popout from memberlist */
.layer-v9HyYc{transform:unset!important;}
.userPopout-3XzG_A{
  animation-duration: 0.5s;
	animation-name: var(--user-popout-member-list);
}

/* Modal Popout */
.modal-3c3bKg{transform: unset!important;}
.root-SR8cQa{
	animation-duration: 0.5s;
	animation-name: var(--modal-popout-animation);
}

/* Settings Button */
.button-14-BFJ:last-child:hover svg{
	animation-duration: 3s;
	animation-name: var(--settings-button);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes accordeonX {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes slideinleft {
  from {
    transform: translateX(-600px);
  }

  to {
   transform: translateX(0);
  }
}

@keyframes slideinright {
  from {
    transform: translateX(600px);
  }

  to {
   transform: translateX(0);
  }
}
