/**
 * @name Better Discord Plugin
 * @author lepetitpaco
 * @version 1
 * @description Adapts Better Discord Plugins Style to the theme
 */

 /********************************************************************* BETTER DISCORD ELEMENTS *******************************************************************/
 /*BD Clock*/
 #dv-mount{background-color: transparent;}
 /*Guild Info Tooltip*/
 .dst-tooltip{background-color: rgba(0,0,0.8)!important;border:2px solid var(--main-color)}
 .tooltip-2QfLtc{color:#fff!important;}
