//META{"name":"guxos-taco","description":"Get some guac","author":"lepetitpaco","version":"1"}*//{}

@import url(https://lepetitpaco.github.io/SomeCSS/taco/shell.css);
@import url(https://lepetitpaco.github.io/SomeCSS/taco/mods/TwoColumns.css);
@import url(https://lepetitpaco.github.io/SomeCSS/taco/mods/ThreeColumnsHover.css);

:root {
    /*==== Main Background ====*/
    /* Main Background Image */
    --background-url: url("https://i.imgur.com/bhgo2xm.jpg");
    --background-brightness: 100%;
    --background-blur: 0px;
    /*==== User Popout ====*/
    /* User Popout Background Image */
    --popout-url: url("https://i.imgur.com/rL6K57D.png");
    --popout-brightness: 40%;
    --popout-blur: 0px;
    /*User Popout*/
    --userPopout-width: 350px;
    --userPopout-height: 650px;
    /*====Modal Popout====*/
    --modal-url: url("https://i.imgur.com/PvopQ5k.jpg");
    --modal-brightness: 40%;
    --modal-blur: 0px;
    --modalPopout-width: 900px;
    --modalPopout-height: 650px;
    /*====Home Icon====*/
    --home-icon-url: url("https://i.imgur.com/6UKrhNc.jpg");
    /*====Colors====*/
    --mc : 223, 30, 30;
    --cmc: rgb(255, 255, 255);
    --black : 0,0,0;
    --white: rgb(255, 255, 255);
    --messages-color: rgb(255, 255, 255);
    /*===Emoji Picker===*/
    --emoji-picker-height: 400px;
    /*===MODS SETTINGS===*/
    /*glassAndBubbles*/
    --bubble-color: 0, 0, 0;
}
