//META{"name":"welx-taco","description":"Get some guac","author":"lepetitpaco","version":"1"}*//{}

@import url(https://lepetitpaco.github.io/SomeCSS/taco/shell.css);
@import url(https://lepetitpaco.github.io/SomeCSS/taco/mods/glassAndBubbles.css);

:root {
    /*==== Main Background ====*/
    /* Main Background Image */
    --background-url: url(https://cdn.discordapp.com/attachments/456062480557408257/544875096356159498/kantai_collection_harusame_destroyer_umbrella_petals_110046_1920x1080.jpg);
    --background-brightness: 100%;
    --background-blur: 0px;
    /*==== User Popout ====*/
    /* User Popout Background Image */
    --popout-url: url(https://cdn.discordapp.com/attachments/456062480557408257/544875096356159498/kantai_collection_harusame_destroyer_umbrella_petals_110046_1920x1080.jpg);
    --popout-brightness: 80%;
    --popout-blur: 0px;
    /*User Popout*/
    --userPopout-width: 350px;
    --userPopout-height: 650px;
    /*====Modal Popout====*/
    --modal-url: url(https://cdn.discordapp.com/attachments/456062480557408257/544875096356159498/kantai_collection_harusame_destroyer_umbrella_petals_110046_1920x1080.jpg);
    --modal-brightness: 40%;
    --modal-blur: 0px;
    --modalPopout-width: 600px;
    --modalPopout-height: 400px;
    /*====Home Icon====*/
    --home-icon-url: url(https://cdn.discordapp.com/attachments/456062480557408257/544875096356159498/kantai_collection_harusame_destroyer_umbrella_petals_110046_1920x1080.jpg);
    /*====Colors====*/
    --mc : 0, 0, 0;
    --cmc: rgb(255, 255, 255);
    --black-alpha-10: rgb(255, 255, 255);
    --white: rgb(0, 0, 0);
    --messages-color: rgb(167, 51, 75);
    /*===Emoji Picker===*/
    --emoji-picker-height: 400px;
    /*===MODS SETTINGS===*/
    /*glassAndBubbles*/
    --bubble-color: 0, 0, 0;
}

.app-19_DXt, .typeWindows-1za-n7 {background: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, .0) 100%) !important; margin-top: 0; padding-top: 0;}
